<section class="lending-footer-section">
  <div class="main-container">
    <div class="footer-logo-container">
      <div class="footer-logo">
        <img class="logo" src="assets/images/logo.png">
      </div>
      <div class="footer-name"><strong>Fit</strong> Sprint</div>
    </div>
    <div class="footer-menu-container">
      <button class="footer-btn" mat-button>O sluzbe</button>
      <button class="footer-btn" mat-button>Podminky</button>
      <button class="footer-btn" mat-button>Zasady ochrany osobnich udaju</button>
      <button class="footer-btn" mat-button>Kontakty</button>

    </div>
  </div>
  <div class="footer-reserved-container">
    <div class="reserved">
      ©2021 FitSprint. All rights Reserved
    </div>
    <div class="social-container">
      <div class="social">
        <img src="assets/images/facebook.png">
      </div>
      <div class="social">
        <img src="assets/images/instagram.png">
      </div>
    </div>
  </div>
</section>
