{% set logged = "yes" %}
{% extends "master/master.html" %}

{% block content %}

<div class="page page-profile">
	{{ block("components/menu/profile-menu") }}
	<section class="page-profile__content page-profile__content--transactions">
		<div class="transactions__wrapper">
			<h1 class="page__title">Касса</h1>
			{{ block("components/menu/profile-payments-menu") }}
			<div class="transactions__inner">
				<p class="transactions__desc">Выберите способ пополнения средств</p>
				{{ block("components/transactions-list--deposit") }}
			</div>
			<!-- notes about deposit on bottom -->
			<div class="transactions__notes">
				<div class="transactions__notes-inner">
					<div class="transactions__notes-item">
						<img class="transactions__notes-item-icon" src="../../img/payments/deposit-circle-1.png" alt="">
						<h4 class="transactions__notes-item-heading">Депозит</h4>
						<p class="transactions__notes-item-text">Минимальная сумма: 100 рублей.</p>
						<p class="transactions__notes-item-text">Максимальная сумма: 10000 рублей.</p>
					</div>
					<div class="transactions__notes-item">
						<img class="transactions__notes-item-icon" src="../../img/payments/deposit-circle-2.png" alt="">
						<p class="transactions__notes-item-text">Время зачисления платежа может составлять до 15 минут в зависимости от способа пополнения. Для некоторых способов оплаты (Visa, Альфаклик, мобильный платёж) можно указать альтернативную платёжную систему. Если по каким-то причинам платёж не проходит — попробуйте воспользоваться другой платёжной системой. В случае существенной задержки при начислении пожалуйста, обратитесь в службу поддержки.</p>
					</div>
					<div class="transactions__notes-item">
						<img class="transactions__notes-item-icon" src="../../img/payments/deposit-circle-3.png" alt="">
						<p class="transactions__notes-item-text">Обращаем Ваше внимание, что в зависимости от выбранной платёжной системы и способа оплаты возможно начисление дополнительных комиссий. Сумма к оплате с учётом всех комиссий будет указана непосредственно перед оплатой.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
