<div class="footer__menu">
	<span class="footer__menu-title">Games</span>
	<ul class="footer__menu-list">
		<li class="footer__menu-item"><a href="/pages/games/games.html" class="footer__menu-item-link">Slots</a></li>
		<li class="footer__menu-item"><a href="/pages/games/games.html" class="footer__menu-item-link">Jackpots</a></li>
		<li class="footer__menu-item"><a href="/pages/games/games.html" class="footer__menu-item-link">Table games</a></li>
		<li class="footer__menu-item"><a href="/pages/games/games.html" class="footer__menu-item-link">Live diller</a></li>
		<li class="footer__menu-item active"><a href="/pages/games/games.html" class="footer__menu-item-link">Games BTC</a></li>
	</ul>
</div>

<div class="footer__menu">
	<span class="footer__menu-title">Services</span>
	<ul class="footer__menu-list">
		<li class="footer__menu-item"><a href="/pages/faq/faq.html" class="footer__menu-item-link">FAQ</a></li>
		<li class="footer__menu-item"><a href="/pages/about/about.html" class="footer__menu-item-link">About Bitcoin</a></li>
		<li class="footer__menu-item"><a href="/pages/faq/faq.html" class="footer__menu-item-link">Instant exchange of BTC to EUR</a></li>
		<li class="footer__menu-item"><a href="/pages/faq/faq.html" class="footer__menu-item-link">Checking game results</a></li>
	</ul>
</div>

<div class="footer__menu">
	<span class="footer__menu-title">Information</span>
	<ul class="footer__menu-list">
		<li class="footer__menu-item"><a href="/pages/terms/terms.html" class="footer__menu-item-link">Blog</a></li>
		<li class="footer__menu-item"><a href="/pages/terms/terms.html" class="footer__menu-item-link">About us</a></li>
		<li class="footer__menu-item"><a href="/pages/terms/terms.html" class="footer__menu-item-link">Terms and Conditions</a></li>
		<li class="footer__menu-item"><a href="/pages/terms/terms.html" class="footer__menu-item-link">Safe play</a></li>
		<li class="footer__menu-item"><a href="/pages/terms/terms.html" class="footer__menu-item-link">Bonus Terms and Conditions</a></li>
		<li class="footer__menu-item"><a href="/pages/terms/terms.html" class="footer__menu-item-link">Payments</a></li>
		<li class="footer__menu-item"><a href="/pages/terms/terms.html" class="footer__menu-item-link">Complaints Procedure</a></li>
		<li class="footer__menu-item"><a href="/pages/terms/terms.html" class="footer__menu-item-link">Affiliates</a></li>
	</ul>
</div>

<div class="footer__menu">
	<span class="footer__menu-title">Promo</span>
	<ul class="footer__menu-list">
		<li class="footer__menu-item"><a href="/pages/terms/terms.html" class="footer__menu-item-link">Promotions</a></li>
		<li class="footer__menu-item"><a href="/pages/about/about.html" class="footer__menu-item-link">Slot wars</a></li>
	</ul>
</div>
