<div class="footer-providers">
	<ul class="footer-providers__list">
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/endorphina.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/betgames.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/xpg.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/vivo_gaming.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/evolution.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/redrake.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/big_time_gaming.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/tom-horn.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/playson.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/microgaming.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/spinomenal.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/elk.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/thunderkick.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/igrosoft.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/booongo.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/amatic.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/habanero.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/yggdrasil.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/gameart.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/platipus.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/just-for-the-win.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/betsolutions.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/betradar.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/lighting-box.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/spadegaming.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/foxium.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/bgaming.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/golden-race.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/ct-gaming.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/fantasma-games.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/triple-cherry.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/kalamba-games.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/evoplay.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/revolver-gaming.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/wazdan.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/truelab.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/reel-nrg-slots.svg" alt=""></a>
		</li>
		<li class="footer-providers__list-item">
			<a class="footer-providers__list-item-link" href="#"><img src="/img/providers/dark/dlv.svg" alt=""></a>
		</li>
	</ul>
</div>
