<div class="footer-payments">
  <ul class="footer-payments__list">
    <li class="footer-payments__list-item">
      <a class="footer-payments__list-item-link" href="#"><img src="/img/payments/visa.png" alt="Payment icon"></a>
    </li>
    <li class="footer-payments__list-item">
      <a class="footer-payments__list-item-link" href="#"><img src="/img/payments/alpha-click.png" alt="Payment icon"></a>
    </li>
    <li class="footer-payments__list-item">
      <a class="footer-payments__list-item-link" href="#"><img src="/img/payments/logo-payeer.png" alt="Payment icon"></a>
    </li>
    <li class="footer-payments__list-item">
      <a class="footer-payments__list-item-link" href="#"><img src="/img/payments/mastercard.png" alt="Payment icon"></a>
    </li>
    <li class="footer-payments__list-item">
      <a class="footer-payments__list-item-link" href="#"><img src="/img/payments/qiwi.png" alt="Payment icon"></a>
    </li>
    <li class="footer-payments__list-item">
      <a class="footer-payments__list-item-link" href="#"><img src="/img/payments/yandex.png" alt="Payment icon"></a>
    </li>
  </ul>
</div>
