<!-- Main & Games & X-pro pages: games types menu component -->
<div class="games-types__menu-outer">
	<div class="container">

		<div class="games-types__menu-wrapper" data-games-types-slider>
			<span class="slider-arrow--prev"><i class="icon-games-types-arrow-prev"></i></span>

			<div class="swiper-container">
				<ul class="games-types__menu swiper-wrapper">
					<li class="games-types__menu-item swiper-slide">
						<a class="games-types__menu-item-link" href="/pages/games/games.html">
							<img src="../../img/games-types/cards.png" alt="">
							<span>Cards</span>
						</a>
					</li>
					<li class="games-types__menu-item swiper-slide">
						<a class="games-types__menu-item-link" href="/pages/games/games.html">
							<img src="../../img/games-types/loto.png" alt="">
							<span>Loto</span>
						</a>
					</li>
					<li class="games-types__menu-item swiper-slide">
						<a class="games-types__menu-item-link" href="/pages/games/games.html">
							<img src="../../img/games-types/vsport.png" alt="">
							<span>Virtual Sport</span>
						</a>
					</li>
					<li class="games-types__menu-item swiper-slide">
						<a class="games-types__menu-item-link" href="/pages/games/games.html">
							<img src="../../img/games-types/live.png" alt="">
							<span>Live</span>
						</a>
					</li>
					<li class="games-types__menu-item swiper-slide">
						<a class="games-types__menu-item-link" href="/pages/games/games.html">
							<img src="../../img/games-types/fish.png" alt="">
							<span>Fish Games</span>
						</a>
					</li>
					<li class="games-types__menu-item swiper-slide">
						<a class="games-types__menu-item-link" href="/pages/games/games.html">
							<img src="../../img/games-types/other.png" alt="">
							<span>Other</span>
						</a>
					</li>
					<li class="games-types__menu-item swiper-slide active">
						<a class="games-types__menu-item-link" href="/pages/games/games.html">
							<img src="../../img/games-types/popular.png" alt="">
							<span>Popular</span>
						</a>
					</li>
					<li class="games-types__menu-item swiper-slide">
						<a class="games-types__menu-item-link" href="/pages/games/games.html">
							<img src="../../img/games-types/slots.png" alt="">
							<span>Slots</span>
						</a>
					</li>
					<li class="games-types__menu-item swiper-slide">
						<a class="games-types__menu-item-link" href="/pages/games/games.html">
							<img src="../../img/games-types/new.png" alt="">
							<span>New</span>
						</a>
					</li>
					<li class="games-types__menu-item swiper-slide">
						<a class="games-types__menu-item-link" href="/pages/games/games.html">
							<img src="../../img/games-types/roulette.png" alt="">
							<span>Roulette</span>
						</a>
					</li>
					<li class="games-types__menu-item swiper-slide">
						<a class="games-types__menu-item-link" href="/pages/games/games.html">
							<img src="../../img/games-types/table.png" alt="">
							<span>Table Games</span>
						</a>
					</li>
					<li class="games-types__menu-item swiper-slide">
						<a class="games-types__menu-item-link" href="/pages/games/games.html">
							<img src="../../img/games-types/recommended.png" alt="">
							<span>Recommended</span>
						</a>
					</li>
					<li class="games-types__menu-item swiper-slide">
						<a class="games-types__menu-item-link" href="/pages/games/games.html">
							<img src="../../img/games-types/rummy.png" alt="">
							<span>Rummy</span>
						</a>
					</li>
				</ul>
			</div>

			<span class="slider-arrow--next"><i class="icon-games-types-arrow-next"></i></span>
		</div>
	</div>
</div>
