<!-- Header: top small menu with icons -->
<ul class="header-top-menu">
	<li class="menu-item">
		<a href="/pages/contacts/contacts.html"><i class="icon-help"></i>Help</a>
	</li>
	<li class="menu-item">
		<a href="/pages/terms/terms.html"><i class="icon-rules"></i>Rules</a>
	</li>
	<li class="menu-item сurrent-menu-item">
		<a href="/pages/bonuses/bonuses.html"><i class="icon-promotions"></i>Promotions</a>
	</li>
	<li class="menu-item">
		<a href="/pages/news/news.html"><i class="icon-news"></i>News</a>
	</li>
</ul>
