<!-- Header: primary nav menu -->
<ul class="header-menu">
	<li class="menu-item сurrent-menu-item">
		<a href="/pages/games/games.html">Games</a>
	</li>
	<li class="menu-item">
		<a href="/pages/loyalty_program/loyalty_program.html">Loyalty</a>
	</li>
	<li class="menu-item menu-item-has-children">
		<a href="/pages/bonuses/bonuses.html">Bonuses</a>
		<ul class="sub-menu">
			<li class="menu-item">
				<a href="/pages/about/about.html">About</a>
			</li>
			<li class="menu-item сurrent-menu-item">
				<a href="/pages/games/games.html">Casino</a>
			</li>
			<li class="menu-item">
				<a href="/pages/games.html">Live</a>
			</li>
			<li class="menu-item">
				<a href="/pages/games/games.html">X-Games</a>
			</li>
			<li class="menu-item">
				<a href="/pages/games/games.html">Slots</a>
			</li>
		</ul>
	</li>
</ul>
