<!--
Компонент для мобильного меню
Список типов игр
-->


<div class="mobile-games-types__wrapper">
	<ul class="mobile-games-types">
		<li class="mobile-games-types__item active">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-all-games"></i><span>All Games</span></a>
		</li>
		<li class="mobile-games-types__item active">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-default"></i><span>All Games</span></a>
		</li>
		<li class="mobile-games-types__item active">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-noclass"></i><span>No class</span></a>
		</li>
		<li class="mobile-games-types__item ">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-fav"></i><span>Favorite</span></a>
		</li>
		<li class="mobile-games-types__item ">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-populargames"></i><span>Popular</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-new"></i><span>New</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-recommended"></i><span>Recommended</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-slots"></i><span>Slots</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-roulette"></i><span>Roulette</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-cards"></i><span>Card</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-tablegames"></i><span>Table Games</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-other"></i><span>Other</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-live"></i><span>Live</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-rummy"></i><span>Rummy</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-virtualsport"></i><span>Virtual Sport</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-betting"></i><span>Betting</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-loto"></i><span>Loto</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-fishgames"></i><span>Fish Games</span></a>
		</li>
		<li class="mobile-games-types__item">
			<a class="mobile-games-types__item-link" href="/pages/games/games.html"><i class="icon-virtual_sport"></i><span>Virtual Sport</span></a>
		</li>
	</ul>
</div>
<!--
 конец блока mobile-games-types
 Список категорий игр
 -->
