<div class="page-profile__menu">
	<!-- profile: user name -->
	<div class="profile-menu__user">Добро пожаловать, <span>Alex</span>!</div>
	<!-- profile: menu -->
	<ul class="profile-menu">
		<li class="menu-item сurrent-menu-item">
			<a href="/pages/profile/profile.html">Профиль</a>
		</li>
		<li class="menu-item menu-item-has-children">
			<a href="/pages/transactions_deposits/transactions_deposits.html">Касса</a>
			<ul class="sub-menu">
				<li class="menu-item">
					<a href="/pages/profile_accounts/profile_accounts.html">Счета</a>
				</li>
				<li class="menu-item">
					<a href="/pages/transactions_deposits/transactions_deposits.html">Депозит</a>
				</li>
				<li class="menu-item сurrent-menu-item">
					<a href="/pages/transactions_cashout/transactions_cashout.html">Вывод</a>
				</li>
				<li class="menu-item">
					<a href="/pages/profile_transaction_history/profile_transaction_history.html">История транзакций</a>
				</li>
			</ul>
		</li>
		<li class="menu-item">
			<a href="/pages/shop/shop.html">Магазин</a>
		</li>
		<li class="menu-item">
			<a href="/pages/bonuses_player/bonuses_player.html">Мои бонусы</a>
		</li>
		<li class="menu-item">
			<a href="/pages/documents/documents.html">Документы</a>
		</li>
		<li class="menu-item">
			<a href="/pages/messages/messages.html">Сообщения</a>
		</li>
		<li class="menu-item">
			<a data-modal href="/pages/modals/profile_delete/profile_delete.html">Удалить аккаунт</a>
		</li>
	</ul>
</div>
