<div class="provider-menu">
	<select id="game-providers" data-select-provider-menu>
		<option>Все провайдеры</option>
		<option value="/img/providers/icons/endorphina.svg">Endorphina</option>
    <option value="/img/providers/icons/netent.svg">Netent</option>
    <option value="/img/providers/icons/platipus.svg">Platipus</option>
    <option value="/img/providers/icons/bsg.svg">Bsg</option>
    <option value="/img/providers/icons/amatic.svg">Amatic</option>
    <option value="/img/providers/icons/booongo.svg">Booongo</option>
    <option value="/img/providers/icons/playtech.svg">Playtech</option>
    <option value="/img/providers/icons/quickfire.svg">Quickfire</option>
    <option value="/img/providers/icons/quickspin.svg">Quickspin</option>
    <option value="/img/providers/icons/spinomenal.svg">Spinomenal</option>
    <option value="/img/providers/icons/thunderkick.svg">Thunderkick</option>
    <option value="/img/providers/icons/vivogaming.svg">Vivogaming</option>
		<option value="/img/providers/icons/tomhorn.svg">Tom Horn</option>
		<option value="/img/providers/icons/foxium.svg">Foxium </option>
    <option value="/img/providers/icons/spadegaming.svg">Spadegaming</option>
    <option value="/img/providers/icons/microgaming.svg">Microgaming</option>
    <option value="/img/providers/icons/playson.svg">Playson</option>
    <option value="/img/providers/icons/bgaming.svg">BGaming</option>
	</select>
</div>
