@import "src/app/common/scss/colors";

.cabinet-section {
  width: 100%;
  .cabinet-container {
    width: 100%;
    height: 90vh;
    .cabinet-menu {
      height: 100%;
      width: 15%;
      padding-bottom: 2rem;
      background: $white;
      border: none;
    }
    .cabinet-content {
      width: 85%;
      background: $white;
      border: none;
    }
  }
}
