@import "src/app/common/scss/colors";

.menu-section {
  height: 100%;
  .menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .list {
      padding: 0 1rem;
      .list-item {
        margin: 1rem 0;
        color: $text;
        cursor: pointer;
        border-radius: 14px;
        &:hover {
          background: $blue;
          color: $white;
        }
        .icon-menu {
          margin: 0 1rem;
        }
      }
      .item-active {
        background: $blue;
        color: $white;
      }
    }
  }

}
