{% extends "master/modals.html" %}
{% block content %}
<img src="../../img/elements/modals-deposit.svg" alt="">
<h3>Withdraw funds</h3>
<form method="post" action="#" class="form form--modal">
	<fieldset class="form__section">
		{{ fieldText("text", "", "Amount", "Error message", "") }}
		{{ fieldTextarea("message", "", "Additional Information", "", "") }}
	</fieldset>
	<fieldset class="form__section form__section--submit">
		<button type="submit" class="button button--280 button--filled">Withdrawal</button>
	</fieldset>
</form>
{% endblock %}
