/***
*
* iconfont.styl генерируется динамечески со списком классов для иконочного шрифта
* _iconfont-template.styl - шаблон для генерации файла iconfont.styl
*
***/

@font-face
	font-family: "<%= fontName %>";
	src: url('../fonts/iconfont/<%= fontName %>.eot');
	src: url('../fonts/iconfont/<%= fontName %>.eot?#iefix') format('eot'),
		url('../fonts/iconfont/<%= fontName %>.woff2') format('woff2'),
		url('../fonts/iconfont/<%= fontName %>.woff') format('woff'),
		url('../fonts/iconfont/<%= fontName %>.ttf') format('truetype'),
		url('../fonts/iconfont/<%= fontName %>.svg?#<%= fontName %>') format('svg');


[class^="<%= cssClass %>-"], [class*=" <%= cssClass %>-"]
	display flex
	justify-content center
	align-items center
	text-shadow 0 4px 10px rgba(0,0,0,0.25)
	&::before
		font-family "<%= fontName %>"
		speak none
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		font-style normal
		font-variant normal
		font-weight normal
		text-decoration none
		text-transform none

<% _.each(glyphs, function(glyph) { %>
.<%= cssClass %>-<%= glyph.fileName %>::before
	content "\<%= glyph.codePoint %>"
<% }); %>
