// -----------------------------------------------------------------------------
// Global Variables
// -----------------------------------------------------------------------------
$font-size-default = 14px
$font-size-smaller = 12px
$font-size-bigger = 16px

// ----- colors ----------------------------------------------------------------
$color-grey = #CCCCCC
$color-medium-grey = #939393
$color-dark-gray = #333333



$color-background = #111111
$color-background-secondary = #1B1B1B

$primary-gold = #F9E161

$light-gold = #FFE2AE


// ----- primary colors --------------------------------------------------------
$primary-red = #F54A50
$primary-green = #189970
$primary-yellow = #FDE410
$primary-gray = #626060

// ----- colors of statuses----------------------------------------------------------------
$color-success = #128000
$color-error = #A70000

$color-loaded = #ffffff
$color-processing = #0084FF
$color-approved = #159700
$color-rejected = #970000

$color-online = #21E418
$color-offline = #D80000

// ----- inputs colors ---------------------------------------------------------
$input-background = #3A3A3A
$input-border = #3A3A3A
$input-color = #ffffff
$input-box-shadow = 0 0 10px rgba(128,128,128,.25)

// ----- notification pages colors ---------------------------------------------
$color-notification-error = #B42121
$color-notification-success = #24AB32
$color-notification-warning = #E4B200

// ----- text colors -----------------------------------------------------------
$text-color-gray = #B8B8B8

// ----- transitions -----------------------------------------------------------
$t-opacity = opacity .2s ease-out
$t-filter = filter .2s ease-out
$t-color = color .2s ease-out
$t-bg-color = background-color .2s ease-out
$t-box-shadow = box-shadow .2s ease-out
$t-text-shadow = text-shadow .2s ease-out
$t-border-color = border-color .2s ease-out
$t-transform = transform .2s ease-out


// -----------------------------------------------------------------------------
// Global Variables
// -----------------------------------------------------------------------------
:root
  // ----- fonts ---------------------------------------------------------------
  --font-primary: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
  --font-secondary: "Merriweather", "Times New Roman", Georgia, Times, serif
  --font-iconfont: 'iconfont'

  // ----- colors --------------------------------------------------------------
  --color-surface: #000000
  --color-surface-75: rgba(0,0,0,.75)

  --primary-accent: #BB9B4D
  --primary-accent-complimentary: #FFFFFF
  --primary-shadow: 0 0 20px #FFEDA1

  --secondary-accent: #36000E
  --secondary-accent-2: #71000D
  --secondary-accent-text: #422305

  --secondary-accent-darker: #3E1C00
  --secondary-accent-lighter: #AF0014

  --primary-accent-darker: #AC9670
  --primary-accent-lighter: #F9F0BC

  --primary-dark-accent: #7D632B


  --error-color: #C70017
  --success-color: #128000

  --disable-color: #626060

  --status-loaded: #FFFFFF
  --status-processing: #3E0006
  --status-approved: #F9F0BC
  --status-rejected: #C90000

  --status-transaction-pending: #332213
  --status-transaction-accepted: #F9F0BC
  --status-transaction-completed: #000000
  --status-transaction-rejected: #960012

  --status-transaction-pending-grid: #BB9B4D
  --status-transaction-accepted-grid: #36000E
