<section class="main lending-intro-section">
  <div class="title-container">
    <div class=" text-title title">
      Pro koho je urcen
    </div>
    <h2 class="description">
      Nedavajte svou transformacci do dlouhe krabice
    </h2>
  </div>
  <div class="intro-container">
    <div class="card-container">
      <div class="card-img-container">
        <img class="card-img" src="assets/images/photo3.png">
      </div>
      <div class="card-title">
        Pracujete tvrde a nemate cas <br> na plnohodnotnou telocvicnu?
      </div>
      <div class="card-description">
        Cvicte s nami jen 20 minut denne <br> a vase telo bude c dobrev stavu!
      </div>
    </div>
    <div class="card-container">
      <div class="card-img-container">
        <img class="card-img" src="assets/images/photo1.png">
      </div>
      <div class="card-title">
        Nelibi se vam chodit do posilovny a <br> stydet se vasi postavy?
      </div>
      <div class="card-description">
        Domaci cviceni a osobni plan vyzivy <br> vam zaruci vysledek.
      </div>
    </div>
    <div class="card-container">
      <div class="card-img-container">
        <img class="card-img" src="assets/images/photo2.png">
      </div>
      <div class="card-title">
        Mate radi konkurencniho ducha a <br> jste pripraveni soutezit o cenu?
      </div>
      <div class="card-description">
        Pak jste k nam! K dispozici je vam <br>
        kratky sprint po dobu 4 tydnu a <br>
        zvyseni adrenalinu
      </div>
    </div>
  </div>
  <div class="intro-arrow">
    <img class="arrow-img" src="assets/images/arrow.png">
  </div>
</section>
