{% extends "master/master.html" %}
{% block content %}

<div class="page page-article">
	<article class="article">
		<h1 class="article__title">Terms & Conditions</h1>
		<div class="article__content">
			<h4>Why choose us from all the online casinos in the world?</h4>
			<p>Maybe because HOW we treat our guests. We sincerely believe that straightforwardness and clarity in communication should be indispensable attributes of all casinos; with us you will get a complete pictureabout promotions and games, and you will not have to endure boring conversations of "salespeople".</p>
			<p>Many online casinos are promoting bright, attractive offers that look great on paper, but at the same time they hide obscure terms written in small print; conditions that can be used to withdraw funds you win. We always try to show promotions that are right for you, highlighting such nuances as time limits and conditions for wagering bonuses. Our goal is to make the information on our website accessible and easily understandable, and this is especially true of our Terms and Conditions.</p>
			<hr>
			<h4>1. We bring you a personalized selection of promotions month after month.</h4>
			<p>Which, depending on your gaming preferences, can offer free spins, bonuses or even cash prizes.<br>If suddenly something is not clear to you, you can easily contact us and talk to the agent customer service at any time of the day or night. Our loyal players who have achieved VIP status are assigned a personal account manager for personalized service.</p>
			<hr>
			<h4>2. We also offer security measures for guests.</h4>
			<p>Individual players may be addicted to casino gambling, and we fully support those guests who try to control their time in the game. These measures may include setting daily deposit limits or temporarily disconnecting an account. If our guests no longer enjoy gambling, they can permanently exclude themselves from using our sites, which will stop any promotional offers from us. While casinos in the real world employ security guards, we use encryption to protect our guests confidential information, which is stored exclusively in our highly secure database.</p>
			<hr>
			<h4>3. Uninterrupted operation of our games and services, and quickly resolve any technical problems that arise.</h4>
			<p>The casino should be assessed like any other business in terms of how its representatives handle with the problems encountered. We spend a lot of time making sure our games and services run smoothly, and quickly resolve any technical problems that arise. We also invest heavily to train our staff and offer you various contact options in case you have any questions or any difficulties.</p>
		</div>
	</article>
</div>

{% endblock %}
