<section class="home-exercise-section">
  <div class="desc-container">
    <div class="description">
      Your daily exercisees
    </div>
    <button mat-button class="see-all" [routerLink]="urls.exercises">
      See all
    </button>
  </div>
  <div class="progress-container">
    <mat-progress-bar class="progressbar" mode="determinate" [value]="dailyProgress"></mat-progress-bar>
    <div class="progress-value">{{dailyProgress}}%</div>
  </div>
  <div class="grid-container">
    <div *ngFor="let exercise of exercises">
      <mat-card [ngClass]="{'exercise-done':exercise.completed === true}">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img class="card-icon" src="assets/images/icons/1.png" alt="">
          </div>
          <mat-card-subtitle>
            {{exercise.type}}
          </mat-card-subtitle>
          <mat-card-title>
            {{exercise.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="exercise-desc">
            {{exercise.description}}
          </p>
          <mat-card-subtitle>Description</mat-card-subtitle>
          <div class="exerc-desc-container">
            <div class="desc-container">
              <div class="desc-name">Sets</div>
              <div class="desc-count">
                {{exercise.sets}}
              </div>
            </div>
            <div class="desc-container">
              <div class="desc-name">Reps</div>
              <div class="desc-count">
                {{exercise.reps}}
              </div>
            </div>
            <div class="desc-container">
              <div class="desc-name">Kcal</div>
              <div class="desc-count">
                {{exercise.kcal}}
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="card-footer">
          <div>
            189 people done
          </div>
          <div>
            <button mat-button (click)="exercise.completed = true; setExerciseDone()" [disabled]="exercise.completed">Done</button>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
