@import "src/app/common/scss/colors";

.home-exercise-section {
  .desc-container {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    .description {
      font-size: 24px;
    }
    .see-all {
      color: $blue-text;
    }
  }
  .card-icon {
    height: 100%;
  }
  .exercise-desc {
    height: 7rem;
    overflow-x: auto;
  }
  .exerc-desc-container {
    display: flex;
    justify-content: space-between;
    .desc-container {
      display: flex;
      flex-direction: column;
      .desc-name {
        color: $text-black;
      }
      .desc-count {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
  .progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    .progressbar {
      width: 90%;
      margin: 1rem 0;
    }
    .progress-value {
      text-align: end;
      width: 10%;
      font-size: 20px;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .exercise-done {
    background: $green;
  }
}

