<section class="lending-banner-section">
  <div class=" main banner-container">
    <div class="img-container">
      <img class="banner-img" src="assets/images/bannerLogo.png">
    </div>
    <div class="banner-content-container">
        <h1 class="banner-man-text">
          Stante se tim, cim jste vzdy chteli byt!
        </h1>
      <div class="second-text">
        Cum sociis natoque penatibus et <br> magnis dis parturient montes
      </div>
      <div class="info-container">
        <div class="time-container">
          <div class="time-text">
            Dalsi zacatek v:
          </div>
          <div class="time-content">
            <div class="count-container">
              <div class="time">
                07
              </div>
              <div class="title">
                denni
              </div>
            </div>
            <div class="count-container">
              <div class="time">
                19
              </div>
              <div class="title">
                hodin
              </div>
            </div>
            <div class="count-container">
              <div class="time">
                57
              </div>
              <div class="title">
                minut
              </div>
            </div>
          </div>
        </div>
        <div class="registration-btn">
          registrace
        </div>
      </div>
    </div>
  </div>
</section>
