@import "src/app/common/scss/colors";

.confirmation-reg-section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  .confirmation-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .text-container {
      margin-bottom: 4rem;
      display: flex;
      flex-direction: column;

      .title {
        color: $blue;
        margin: 1rem 0;
        font-size: 5rem;
        line-height: 5rem;
      }
      .desc {
        font-size: 24px;
        line-height: 2rem;
      }
    }
    .confirm-btn {
      padding: 0.6rem 2rem;
      color: $main-yellow;
      font-size: 36px;;
    }
  }
  .confirmation-img {
    width: 50%;
  }
}
