.banner-monthly-lottery
	display flex
	flex-direction column
	justify-content center
	align-items center
	width 50%
	&__title
		position relative
		z-index 1
		width 100%
		text-align center
		padding-top 12px
		font-size 40px
		letter-spacing 0.05em
		text-transform uppercase
		color #FDE410
		margin-bottom 15px
		//background-image url(/img/backgrounds/widgets/banner-lottery-title.svg)
		&:before
			content ''
			position absolute
			z-index -1
			left 50%
			transform translateX(-50%)
			top 0
			display block
			width 100%
			height 110px
			background url(../img/backgrounds/widgets/banner-lottery-title.svg) no-repeat center top
			background-size contain


	&__value
		font-size 40px
		text-shadow 0 0 15px #1A0045
