.bonus-info
	width: 100%
	max-width 915px
	background #0E0E0E
	box-shadow: var(--primary-shadow)
	margin 5px auto

	/* ----- primary image on top with bg ------------------------------------- */
	&__header
		height: 755px
		display: flex
		justify-content: center
		align-items: center
		text-align center
		background-color: $color-background
		background-image: url("../img/components/bonuses/bonus-info-bg.jpg")
		background-position: center -1px
		background-size: cover
		background-repeat: no-repeat
		padding: 120px

		& img
			max-height: 100%
			object-fit: contain
			object-position: center

	&__content
		display flex
		flex-direction column
		justify-content center
		align-items center
		padding 30px

		& .bonus-bet
			margin-left 5px
			color: var(--primary-accent)

		& .game-name
			margin-left 5px
			color: var(--primary-accent)

	&__title
		max-width 730px
		font-size 36px
		line-height: 38px
		text-align center
		text-transform uppercase
		background-color: var(--primary-accent)
		padding 25px
		margin-bottom 40px

	&__description
		width 100%
		max-width 590px
		text-align center
		color: var(--primary-accent-complimentary)
		font-size: 18px
		line-height: 1.5
		font-weight: 700
		background-color: #242424
		padding 35px 25px
		margin-left: auto
		margin-right: auto

		& li:not(:last-child),
		& p:not(:last-child)
			margin-bottom 10px

	&__rules
		width 100%
		max-width 590px
		margin-bottom 50px

		&-row
			min-height 50px
			display flex
			align-items center
			justify-content: space-between
			background-color: $color-background-secondary
			padding 15px 20px


			&:nth-child(even)
				background-color: #242424

		&-cell
			color: #BFBFBF
			font-size: 14px
			line-height: 20px

			&:last-child
				text-align: right
