/***
*
* Счетчик обратного отсчета (например, в турнирах)
*
***/
.counter
    display inline-flex
    justify-content center
    text-align center
    &__block
        display flex
        flex-direction column
        align-items center
        width 70px
    &__value
        font-size 24px
        font-weight 500
    &__desc
        color var(--primary-accent)
        text-transform uppercase


    &--separator
        margin 0 -5px
