// -----------------------------------------------
// Component - Currency
// -----------------------------------------------
.currency
	display flex
	flex-direction column
	min-width 65px
	padding-top: 10px
	flex-shrink 0

	&__title
		font-family: var(--font-secondary)
		font-size: 10px
		line-height: 13px
		color: var(--primary-accent)
		text-align: left

	/* currency select styles */
	& .selectric
		background transparent
		border none
		border-radius 0
		box-shadow none

		&-wrapper
			font-size $font-size-smaller
			max-width: 100%

		& .label
			font-size: 12px
			line-height: 14px
			font-weight: 500
			color: var(--primary-accent-complimentary)
			text-align: left
			padding: 0 20px 10px 0
			opacity: 1
			transition: $t-text-shadow

		& .button
			height 100%
			width 15px
			padding 0
			right: 0

			&:before,
			&:after
				width 8px
				height 2px
				background-color var(--primary-accent-complimentary)
				margin-top: -5px
			&:before
				right 5px
			&:after
				right 0

	.selectric-open
		& .selectric
			border none
			border-radius 0

		& .selectric .button
			&:before,
			&:after
				background-color: var(--primary-accent)

		& .selectric-items
			min-width: 120px
			border: 0
			background-color: var(--secondary-accent)
			border-radius: 0
			padding: 5px 0
			margin-top: -5px
			left: auto
			right: 0

			& .selectric-scroll
				overflow-x: hidden

			& li
				min-height: 25px
				justify-content: flex-end
				font-size: 12px
				line-height: 15px
				font-weight: 400
				color: var(--primary-accent-lighter)
				text-align: right
				padding: 5px
				transition: $t-color, $t-bg-color

				&:not(:last-child)
					margin-bottom: 5px

				@media (hover: hover)
					&:hover
						color: var(--secondary-accent)
						background-image: none
						background-color: var(--primary-accent)

			& li:not(:last-child)
				border-bottom: 0

.currency__content_if_only_one
	font-size 12px
	line-height 20px
	font-weight 700
	color var(--primary-accent)
	text-align right
	padding 0
