// -----------------------------------------------
// Component - Game
// -----------------------------------------------
.game
	width 100%
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	margin: auto

	/* ----- container -------------------------------------------------------- */
	&__container
		width: 100%
		max-width: calc(1920px + 160px)
		padding-left: 80px
		padding-right: 80px
		margin: 0 auto

	/* ----- left part stuff -------------------------------------------------- */
	&--left
		flex-shrink: 0
		width: calc(100% - 340px - 20px)
		max-width: 1720px

	/* panel on top */
	&__panel
		height: 60px
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		background-color: var(--primary-accent)
		padding: 10px 5px
		border-radius: 10px 10px 0 0
		overflow: hidden

		&-left
			display: flex
			justify-content: flex-start
			align-items: center

		&-right
			display: flex
			justify-content: flex-end
			align-items: center
			padding: 0 5px

		&-back,
		&-favorite,
		&-fullscreen,
		&-close
			height: 40px
			width: 40px
			display: flex
			justify-content: center
			align-items: center
			font-size: 23px
			color: var(--secondary-accent)
			transition: $t-color
			cursor: pointer

			& i
				text-shadow: none

			&:hover,
			&.active,
			& .active
				color: var(--secondary-accent-lighter)

		&-favorite,
		&-fullscreen,
		&-close
			margin-left: 25px

	/* path at left part of game */
	&__breadcrumbs
		display: flex
		align-items: center
		padding: 0 5px
		position: relative

		&:before
			flex-shrink: 0
			content: ""
			width: 34px
			height: 34px
			background-image: url("../img/backgrounds/games-section-title.png")
			background-size: contain
			background-repeat: no-repeat

		&-link,
		&-current
			font-size: 16px
			line-height: 1
			font-weight: 500

		&-link
			color: var(--secondary-accent)
			position: relative
			transition: $t-color
			cursor: pointer

			&:hover
				color: var(--secondary-accent-lighter)
				text-decoration: underline

		&-link + span
			color: var(--secondary-accent)
			margin: 0 10px

		&-current
			color: var(--secondary-accent-text)
			cursor: default

	/* wrapper for game & iframe stuff + imitation */
	&__iframe
		padding-top: 58.5%
		margin-bottom: 40px
		position: relative
		overflow: hidden

		& iframe,
		& img
			display block
			width 100%
			height 100%
			position absolute
			top:0
			right 0
			left 0
			bottom 0
			box-sizing border-box
			transform-origin center top
			transition transform .05s linear
			backface-visibility hidden

	/* ----- right part stuff ------------------------------------------------- */
	&--right
		flex-shrink: 0
		min-height: 100%
		width: 340px
		margin-left: 20px

	&__accordion
		margin-top: -5px
		margin-bottom: 40px

	// ----- after click on close ------------------------------------------------
	&.hide-game-panel &--left
		width: 100%
		margin: 0 auto

	&.hide-game-panel &--right
		display: none

	// ----- bottom part ---------------------------------------------------------
	&__related-games
		flex-shrink: 0
		width: 100%
		margin-bottom: 20px

	&__description
		flex-shrink: 0
		width: 100%
		font-size 16px
		line-height: 1.5
		padding-top: 10px
		position: relative
		margin-bottom: 40px

		&:after
			content: ""
			height: 2px
			background-image: linear-gradient(270deg, rgba(0,0,0,0) 0%, var(--primary-accent) 50%, rgba(0,0,0,0) 100%)
			position: absolute
			left: 0
			right: 0
			top: 0

		&-heading
			width: 100%
			min-height: 60px
			display: flex
			justify-content: flex-start
			align-items: center
			font-family: var(--font-secondary)
			font-size: 24px
			line-height: 24px
			text-align: left
			font-weight: 400
			text-transform: none
			margin-bottom: 0

			&:before
				content: ""
				width: 52px
				height: 52px
				background-image: url("../img/backgrounds/games-section-title.png")
				background-size: contain
				background-repeat: no-repeat
				margin-right: 0

		&-text
			padding-top: 25px
			opacity: .5

			& p
				margin-bottom: 0

				&:not(:last-child)
					margin-bottom: 20px


// -----------------------------------------------------------------------------
@media all and (max-width: 1220px)
	.game

		&__container
			padding-left: 55px
			padding-right: 55px
			margin-top: -10px

		/* panel on top */
		&__panel
			height: 30px
			padding: 5px

			&-back,
			&-favorite,
			&-fullscreen,
			&-close
				height: 20px
				width: 20px
				font-size: 12px
			&-favorite,
			&-fullscreen,
			&-close
				margin-left: 15px

			&-right
				padding: 0

		/* path at left part of game */
		&__breadcrumbs
			padding: 0

			&:before
				width: 17px
				height: 17px


// -----------------------------------------------------------------------------
@media all and (max-width: 1024px)
	.game
		flex-direction column

		/* orders */
		&--left
			order: 1
		&__description
			order: 2
		&--right
			order: 3
		&__related-games
			order: 4

		/* ------ */
		&__container
			padding-left: 15px
			padding-right: 15px
			margin-top: -5px

		&--left,
		&--right
			width 100%

		&--right
			margin-top 25px
			margin-left 0

		&__accordion
			display: flex
			align-items: baseline
			flex-wrap: wrap

			& .accordion__item
				width: 100%
			& .accordion__item:nth-child(1)
				width: calc(50% - 25px)
				margin-right: 25px
			& .accordion__item:nth-child(2)
				width: calc(50% - 25px)
				margin-left: 25px

		&__iframe
			margin-bottom: 25px

		&__accordion
			position: relative
			margin-bottom: 5px

			&:before
				content: ""
				height: 2px
				background-image: linear-gradient(270deg, rgba(0,0,0,0) 0%, var(--primary-accent) 50%, rgba(0,0,0,0) 100%)
				position: absolute
				left: 0
				right: 0
				top: -20px


// -----------------------------------------------------------------------------
@media all and (max-width: 710px)
	.game
		&__accordion
			display: block
			padding: 0

			& .accordion__item,
			& .accordion__item:nth-child(1),
			& .accordion__item:nth-child(2)
				width: 100%
				margin: 0 0 20px


// -----------------------------------------------------------------------------
@media all and (max-width: 580px)
	.game
		&__container
			margin-top: -45px

		&__panel-left
			max-width: calc(100% - 100px)
			overflow: hidden

		&__breadcrumbs li
			display: flex
			align-items: center
			max-width: calc(100% / 3)

		&__breadcrumbs-link,
		&__breadcrumbs-current
			font-size: 12px
			line-height: 14px
			max-width: 100%
			text-overflow: ellipsis
			overflow: hidden

		&__description-heading
			font-size: 18px
			line-height: 18px

			&:before
				width: 36px
				height: 36px

		&__description-text
			padding-top: 10px

			& p
				font-size: 14px
				line-height: 1.5
