.games__favorite
	flex-shrink: 0
	width: 65px
	height: 34px
	background-image: url("../img/backgrounds/favorite-active-mobile.png")
	background-position: center
	background-size: 25px 25px
	background-repeat: no-repeat
	margin-left: 10px

	&--mobile
		display: none

.games__select-label-holder
	display: none
	font-size: 20px
	line-height: 20px
	font-family: var(--font-secondary)
	color: var(--primary-accent)
	text-shadow: var(--primary-shadow)

	& .icon-games-types-arrow-mobile
		font-size: 6px
		margin-left: 25px
		margin-top: -1px

	&.active .icon-games-types-arrow-mobile
		transform: scale(-1)
