.jackpots-special
	&__heading
		line-height: 42px
		vertical-align: bottom
		text-align: left
		font-weight: 900
		font-size: 36px
		text-shadow: 0 0 5px #000
	&__item
		height: 40px
		width 280px
		position: relative
		display flex
		justify-content flex-end
		align-items center
		pointer-events: none
		cursor: default
		background-color #3A3A3A
		border: 2px solid transparent
		padding-left 50px

		border-radius: 2px
		&:not(:last-child)
			margin-bottom 30px
		&:after
			content: ""
			width: 60px
			height: 60px
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			position: absolute
			top -8px
			left: -25px
			pointer-events: none

		&.gold
			border-color #FDE410
			box-shadow: 0 0 10px rgba(253, 228, 16, 0.5)
			&:after
				background-image: url("../img/jackpots/jackpot-special-gold.png")
		&.silver
			border-color #CCCCCC
			box-shadow: 0 0 10px #CCCCCC
			&:after
				background-image: url("../img/jackpots/jackpot-special-silver.png")
		&.bronze
			border-color #F39905
			box-shadow: 0 0 10px #F39905
			&:after
				background-image: url("../img/jackpots/jackpot-special-bronze.png")

		&-numbers
			&-counter
				font-weight: 700
				font-size: 24px
				line-height: 20px
				letter-spacing: .1em
				color: var(--primary-accent-complimentary)
				text-shadow: 0 0 7px rgba(255,255,255,.45)
				text-align: center

		&-currency
			font-size 24px
			font-weight: 900
			color var(--primary-accent)
			padding 0 10px

