/* --- меню выбора языка в шапке сайта -------------------------------------- */
.lang
	flex-shrink: 0
	width: 80px
	height: 27px
	margin-top: 10px
	margin-left: -5px

	&-select
		display flex
		flex-direction column
		height 27px
		background-color: transparent
		position: relative
		overflow hidden
		cursor pointer

		/* item styles for positioning */
		&__item
			display flex
			align-items center
			order 2
			user-select none
			position relative
			z-index 1

			/* choosen language */
			&.active
				order 1
				pointer-events none

				& .lang-select__item-link
					padding-top: 6px

				/* arrow */
				&:before
					content: ''
					position: absolute
					top: 12px
					right: 5px
					width: 0
					height: 0
					border-top: 5px solid var(--primary-accent-complimentary)
					border-left: 5px solid transparent
					border-right: 5px solid transparent

		/* base item styles */
		&__item
			min-height: 24px

			&-link
				display: flex
				align-items: center
				justify-content: center
				width: 100%
				padding 3px 15px 3px 6px
				cursor: pointer

			img
				display: block
				height: 18px
				width: 26px
				object-fit: cover
				object-position: center
				overflow hidden

			&-text
				display flex
				justify-content center
				align-items center
				width 20px
				height 18px
				font-size 18px
				line-height: 18px
				color var(--primary-accent-complimentary)
				text-transform: uppercase
				margin-right: 7px
				transition: $t-color

			@media (hover: hover)
				&:hover &-text
					color: var(--primary-accent)

		/* when select is open */
		&.open
			height: auto
			padding-bottom: 6px
			background-color: var(--secondary-accent)
			margin-top: -1px
			z-index: 2

		&.open &__item.active:before
			transform: rotate(-180deg)
