// -----------------------------------------------
// Component - Modal
// -----------------------------------------------
.mfp
	&-content
		& .mfp-close
			width: 60px
			height: 60px
			font-size: 55px
			color: var(--primary-accent)
			top: 0
			right: 0
			transition: $t-color

			&:hover
				color: var(--primary-accent-complimentary)

		& .wrapping
			display: flex
			flex-direction: column
			align-items: center
			width 600px
			max-width 100%
			overflow: hidden
			box-sizing: border-box
			border-radius 2px
			padding: 55px 15px
			text-align center
			background-color: $color-background
			color #767779
			outline none

			& h3
				font-weight: 500
				font-size: 36px
				line-height 1
				color #ffffff
				letter-spacing: 0.02em
				text-transform uppercase
				margin-bottom: 35px
			& h4
				font-size 24px
				font-weight 400
				color #ffffff
			& p
				font-size 18px
				& span
					color var(--primary-accent)
			& img
				margin-bottom 50px

			& .radio__list--vertical
				padding-top: 5px
				margin-bottom 30px

			& .radio__item-label
				text-transform uppercase

			& .form__input
				margin-bottom: 20px

			& .radio__item
				margin-bottom: 5px

			& .deposit__description
				padding-bottom 5px
				border-bottom 1px solid #626060
				& span
					font-size 24px
					font-weight 500
					color #ffffff

			& .form__section + .form__section--submit
				padding-top: 10px

			& .form__section--submit
				margin-top 0

			/* loader */
			& .lds-spinner
				margin-top: 20px
				transform: scale(2)

				& + p
					padding-top: 40px

			/* special checkbox for deposit bonus */
			& .form__input.checkbox input[type="checkbox"] + label
				padding-left: 40px

				&:before
					width: 30px
					height: 30px
					border-radius: 50%
					border-width: 3px

				&:after
					left: 9px


/* ----- page styles /  button grid ----------------------------------------- */
.modal
	&__list
		display: grid
		grid-template-columns: repeat(auto-fill, minmax(390px, auto))
		grid-gap: 25px

		& li
			display: flex
			justify-content: center
			width 100%
			& ul
				width 100%
			& a
				margin 5px 0

	&__buttons
		display flex
		justify-content center
		flex-wrap wrap
		width 100%

		&:not(:last-child)
			padding-top: 10px
			margin-bottom: 20px

		& .button
			margin 5px

	&__choose-bonus
		padding-top: 15px

		& h3.special-radio__list
			min-width: 100%

		& h3.special-radio__list-heading
			font-size: 24px
			line-height: 24px
			text-transform: none

		& .special-radio__hidden-input:checked ~ .special-radio__content:after
			display: none



/* ====== Zoom effect ======================================================= */
.mfp-zoom-in
	.mfp-content
		opacity 0
		transition all 0.2s ease-in-out
		transform scale(0.4)
	&.mfp-bg
		opacity 0
		transition all 0.3s ease-out
	/* animate in */
	&.mfp-ready
		.mfp-content
			transition all 0.2s ease-in-out
			opacity 1
			transform scale(1)
		&.mfp-bg
			opacity 0.8
	/* animate out */
	&.mfp-removing
		.mfp-content
			transform scale(0.8)
			opacity 0
		&.mfp-bg
			opacity 0
/*
====== Move-from-top effect ======
*/
.mfp-move-from-top
	&.mfp-wrap
		top 70px
	.mfp-content
		vertical-align top
		max-width 100%
	/* start state */
	.mfp-content
		opacity 0
		transition: all 0.2s
		transform translateY(-100%)
	&.mfp-bg
		z-index 9
		opacity: 0
	/* animate in */
	&.mfp-ready
		.mfp-content
			transition all .4s
			opacity 1
			transform translateY(0)
	/* animate out */
	&.mfp-removing
		transition all 2s
		.mfp-content
			transform translateY(-100%)
			opacity 0
			transition all 2s
		&.mfp-bg
			opacity 0
/*
====== Effect for mobile menu ======
*/
.mfp-wrap.mobile-wrapper.mfp-ready
	z-index 9
	& .mfp-content
		width 100%
		height calc(100vh - 190px)
		overflow auto
		padding 25px
.mobile
	&-content
		border 1px solid var(--primary-accent-complimentary)
		&-wrapper .mfp-container

			opacity: 0
			transition: all 0.3s
			transform: translateX(-50px)
	&.mfp-bg
		z-index 9
		background $primary-gray
		opacity 1
	/* animate in */
	&.mfp-ready
		.mfp-container
			opacity: 1
			transform: translateX(0)

	/* animate out */
	&.mfp-removing
		.mfp-container
			transform: translateX(50px)
			opacity: 0
		&.mfp-bg
			opacity: 0
