.news
	/* ----- news & promo container ------------------------------------------- */
	&__container
		width: 100%
		max-width: 1685px
		padding: 0 55px
		margin: 0 auto 60px
		position: relative

		/* gold line on top */
		&:before
			content: ""
			height: 2px
			background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(222,175,118,0.5) 25%, #DCA96B 50%, rgba(222,175,118,0.5) 75%, rgba(0,0,0,0) 100%);
			position: absolute
			left: 0
			right: 0
			pointer-events: none
			z-index: 1

		/* heading */
		&-title
			width: 100%
			min-height: 60px
			display: flex
			justify-content: flex-start
			align-items: center
			font-family: var(--font-secondary)
			font-size: 24px
			line-height: 24px
			text-align: left
			font-weight: 400
			text-transform: none
			padding-top: 35px
			margin-bottom: 20px

			&:before
				content: ""
				width: 57px
				height: 57px
				background-image: url("../img/backgrounds/games-section-title.png")
				background-size: contain
				background-repeat: no-repeat

		/* pagination in list after container */
		&-pagination .pager
			padding: 0

	/* ----- news & promo one item container ---------------------------------- */
	&-item__container
		width: 100%
		max-width: 940px
		background-color: var(--color-surface)
		padding: 50px 95px
		margin: 0 auto

		&-title
			padding-top: 0
			padding-bottom: 40px

		& .article__content
			padding-top: 0

	/* ----- news & promo list ------------------------------------------------ */
	&__list
		display flex
		flex-wrap wrap
		justify-content center

		@supports (display: grid)
			display grid
			grid-template-columns repeat(4, 1fr)
			grid-gap 30px

		& .news__img
			margin-bottom 20px

	&__item
		width 25%
		display: flex
		flex-direction: column
		background-color: var(--secondary-accent)
		margin 15px
		overflow: hidden

		@supports (display: grid)
			width unset
			margin unset

		&-img
			padding-top 70.5%
			margin-bottom 20px
			position relative

			img
				height 100%
				width 100%
				position absolute
				top: 0
				left: 0
				object-fit cover

				&.no-photo
					object-fit scale-down

		&-date
			font-size: 14px
			line-height: 1.5
			color: var(--primary-accent-lighter)
			font-weight: 500
			padding: 0 20px
			margin-bottom: 5px

		&-title
			height: 56px
			display: block
			text-decoration: none
			padding: 0 20px
			margin-bottom: 25px
			overflow: hidden

			& h3
				font-family: var(--font-secondary)
				font-size 24px
				line-height: 28px
				font-weight 400
				color: var(--primary-accent-complimentary)
				text-transform: none
				margin-bottom 0
				transition: $t-color

				&:hover
					color var(--primary-accent)

		&-description
			flex-grow: 1
			min-height 92px
			font-size 18px
			line-height 20px
			font-weight: 500
			color: var(--primary-accent-complimentary)
			margin: 0 20px 5px
			opacity: .75
			overflow: hidden

			& p
				margin-bottom 0

		&-button
			display: flex
			justify-content: center
			align-items: center
			padding: 20px

		&-content
			font-size 18px
			line-height 1.5
			color: var(--primary-accent-complimentary)
			opacity: .75

		&-back
			padding-top: 10px

			& .link--primary
				color: var(--primary-accent)

				&:hover
					color: var(--primary-accent-lighter)

	/* ----- news & promo one item -------------------------------------------- */
	&__container--one-item .article__content
		width: 100%
		max-width: 745px
		color: var(--primary-accent-complimentary)
		background-color: var(--secondary-accent)
		border-radius: 0
		padding-top: 0
		padding-bottom: 20px
		margin: 0 auto

		& a
			text-decoration: none

	&__one-item &__item-img
		width: auto
		margin-left: -20px
		margin-right: -20px

	&__one-item &__item-date,
	&__one-item &__item-title
		padding-left: 0
		padding-right: 0

	&__one-item &__item-date
		display: block
		margin-bottom: 15px

	&__one-item &__item-title
		height: auto

		& h1, & h2, & h3, & h4, & h5, & h6
			font-family: var(--font-secondary)

// -----------------------------------------------------------------------------
@media all and (max-width: 1440px)
	.news__list
		@supports (display: grid)
			grid-template-columns repeat(3, 1fr)

// -----------------------------------------------------------------------------
@media all and (max-width: 1220px)
	.news__item
		&-img
			margin-bottom: 15px

		&-title
			height: 48px

			& h3
				font-size: 20px
				line-height: 24px

		&-button
			padding: 15px 20px

// -----------------------------------------------------------------------------
@media all and (max-width: 1024px)
	.news__container
		padding: 0 30px

	.news__list
		@supports (display: grid)
			grid-template-columns repeat(2, 1fr)

// -----------------------------------------------------------------------------
@media all and (max-width: 580px)
	.news__container
		padding: 0 20px

		&--one-item
			padding: 0

		&-title
			font-size: 18px
			line-height: 18px

			&:before
				width: 47px
				height: 47px

		&--one-item &-title
			padding-left: 20px
			padding-right: 20px

	.news__list
		@supports (display: grid)
			grid-template-columns repeat(1, 1fr)

	.news__item
		&-img
			margin-bottom: 15px

		&-title
			height: auto
			padding-left: 15px
			padding-right: 15px
			margin-bottom: 15px

			& h3
				font-size: 18px
				line-height: 22px

		&-description
			min-height: inherit
			font-size: 16px
			line-height: 20px
			margin-left: 15px
			margin-right: 15px

		&-date,
		&-button
			padding-left: 15px
			padding-right: 15px
