/* ----- loyalty bar stuff ------------------------------------------------ */
.profile-loyalty
  display: flex
  flex-direction: column
  justify-content: space-between
  text-decoration: none
  cursor: pointer

  &__inner
    width: 100%
    display: flex
    align-items: center

  &__level
    flex-shrink: 0
    height: 18px
    width: 18px
    text-align: center
    font-size: 10px
    line-height: 19px
    font-weight: 700
    color: black
    white-space: nowrap
    overflow: hidden
    background-image url(../img/elements/star-fill.svg)
    background-position center
    background-repeat no-repeat
    background-size cover
    margin-right: 5px

  &__bar
    width: 100%
    height: 10px
    background-color: $color-dark-gray
    border-radius: 20px
    position: relative
    overflow hidden

    &-progress
      content: ""
      width: 0
      height: 100%
      background-image: linear-gradient(210deg, #E6C57E 8%, #FDDD9E 25%, #E9BE5A 40%, #C48E39 55%, #C88F3C 68%, #B4882A 86%)
      position: absolute
      top: 0
      left: 0

  &__heading
    font-size: 12px
    line-height: 20px
    font-weight: 400
    margin-bottom 5px

  &__points
    color $color-grey

    &-heading
      font-size: 12px

    &-value
      font-size: 12px

      & span
        font-size: 16px
        color: var(--primary-accent)
        font-weight: 500
        margin-right: 5px
