.related-games
	padding-top: 10px
	position: relative

	&:after
		content: ""
		height: 2px
		background-image: linear-gradient(270deg, rgba(0,0,0,0) 0%, var(--primary-accent) 50%, rgba(0,0,0,0) 100%)
		position: absolute
		left: 0
		right: 0
		top: 0

	&__heading
		width: 100%
		min-height: 60px
		display: flex
		justify-content: flex-start
		align-items: center
		font-family: var(--font-secondary)
		font-size: 24px
		line-height: 24px
		text-align: left
		font-weight: 400
		text-transform: none
		margin-bottom: 0

		&:before
			content: ""
			width: 52px
			height: 52px
			background-image: url("../img/backgrounds/games-section-title.png")
			background-size: contain
			background-repeat: no-repeat
			margin-right: 0

	&__list
		width 100%
		max-width: 1645px
		padding-top: 25px
		padding-left: 30px
		padding-right: 30px
		margin: 0 auto
		position: relative

	& .swiper-container
		padding: 20px

	& .slider-arrow--prev,
	& .slider-arrow--next
		display: flex
		align-items: center
		width: 80px
		color: var(--primary-accent)
		position absolute
		top: 25px
		bottom: 0
		transform: none
		cursor: pointer
		z-index: 3

		& i
			font-size: 20px
			transition: $t-text-shadow

		&:hover i
			text-shadow: var(--primary-shadow)

		&.swiper-button-disabled
			opacity: .5

	& .slider-arrow--prev
		justify-content: flex-start
		left: -20px

	& .slider-arrow--next
		justify-content: flex-end
		right: -20px

	& .games__item
		width: 285px

// -----------------------------------------------------------------------------
@media all and (max-width: 1550px)
	.related-games
		& .slider-arrow--prev,
		& .slider-arrow--next
			width: 60px

		& .slider-arrow--prev
			left: 0

		& .slider-arrow--next
			right: 0

// -----------------------------------------------------------------------------
@media all and (max-width: 1024px)
	.related-games
		& .slider-arrow--prev,
		& .slider-arrow--next
			padding-bottom: 20px
			top: 20px
			bottom: 20px

		&__list
			padding-top: 0
