/***
*
* Форма восстановления пароля
*
***/
.form--restore
	display: flex
	justify-content: center

	& .form__section--submit
		margin-top: 0

.restore
	width: 100%
	max-width: 475px
	background-color: $color-background
	padding: 50px 20px 30px
	margin: 0 auto

	&__img
		width: 100%
		display: flex
		justify-content: center
		align-items: center
		margin-bottom: 15px

		&-icon
			width: 88px
			height: 88px
			object-fit: contain

	&__title
		width: 100%
		max-width: 290px
		font-size: 24px
		line-height: 1.5
		font-weight: 700
		margin-left: auto
		margin-right: auto
		margin-bottom: 15px

	&__back
		margin-top: 20px
