/* Блок с seo текстом внизу главной страницы */
.seo-text__section
	padding-top: 15px
	position: relative

	/* ------------------------------------------------------------------------ */
	&-heading
		width: 100%
		min-height: 60px
		display: flex
		justify-content: flex-start
		align-items: center
		font-family: var(--font-secondary)
		font-size: 24px
		line-height: 24px
		text-align: left
		font-weight: 400
		text-transform: none
		margin-bottom: 0

		&:before
			content: ""
			width: 57px
			height: 57px
			background-image: url("../img/backgrounds/games-section-title.png")
			background-size: contain
			background-repeat: no-repeat

	/* ------------------------------------------------------------------------ */
	&-inner
		display: flex
		justify-content: flex-start
		align-items: center
		padding-top: 35px

	&-image
		width: 515px
		height: 525px
		flex-shrink: 0

		& img
			width: 100%
			height: 100%
			object-fit: contain
			object-position: center

	/* ------------------------------------------------------------------------ */
	&-wrapper
		height auto
		max-height 420px
		max-width: 930px
		overflow auto

		&.scroll-content
			padding-right 30px

		& .scroll-element_outer
			bottom: 30px !important
			height: auto

		& .scroll-element_track
			top: 0 !important

		& .article__content
			max-width: 100%
			color: var(--primary-accent-complimentary)
			background-color: transparent
			padding: 0

		& .article__content p
			font-size: 14px
			line-height: 1.5

			&:last-child
				margin-bottom: 0


		& .scroll-content .article__content
			padding-right: 20px

// -----------------------------------------------------------------------------
@media all and (max-width: 1220px)
	.seo-text__section
		padding-left: 25px
		padding-right: 25px

		&-inner
			padding-top: 60px
			padding-right: 20px

		&-image
			margin-left: -20px

		&-wrapper
			max-height 500px



// -----------------------------------------------------------------------------
@media all and (max-width: 1024px)
	.seo-text__section
		&-image
			display: none

		&-inner
			padding-top: 90px
			padding-left: 40px
			padding-right: 40px



// -----------------------------------------------------------------------------
@media all and (max-width: 768px)
	.seo-text__section-heading:before
		width: 52px
		height: 52px



// -----------------------------------------------------------------------------
@media all and (max-width: 580px)
	.seo-text__section
		padding-left: 10px
		padding-right: 10px

		&-heading
			font-size: 18px
			line-height: 20px

			&:before
				width: 36px
				height: 36px

		&-inner
			padding-top: 15px
			padding-left: 0
			padding-right: 0
