.slider-news
	padding-top: 10px

	& .news__item
		overflow: hidden

		&-description
			height: 70px
			overflow: hidden
			text-overflow: ellipsis

	/* ------------------------------------------------------------------------ */
	&__section
		padding-top: 20px

		/* gold line on bottom */
		& .container
			position: relative

		&:after
			content: ""
			height: 2px
			background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(222,175,118,0.5) 25%, #DCA96B 50%, rgba(222,175,118,0.5) 75%, rgba(0,0,0,0) 100%);
			position: absolute
			left: 0
			right: 0
			pointer-events: none
			z-index: 1

		&-heading
			width: 100%
			min-height: 60px
			display: flex
			justify-content: flex-start
			align-items: center
			font-family: var(--font-secondary)
			font-size: 24px
			line-height: 24px
			text-align: left
			font-weight: 400
			text-transform: none
			margin-bottom: 0

			&:before
				content: ""
				width: 57px
				height: 57px
				background-image: url("../img/backgrounds/games-section-title.png")
				background-size: contain
				background-repeat: no-repeat

		&-button
			text-align: center
			padding-top: 40px
			padding-bottom: 40px


// -----------------------------------------------------------------------------
@media all and (max-width: 1220px)
	.slider-news__section
		padding-left: 25px
		padding-right: 25px



// -----------------------------------------------------------------------------
@media all and (max-width: 768px)
	.slider-news__section-heading:before
		width: 52px
		height: 52px



// -----------------------------------------------------------------------------
@media all and (max-width: 580px)
	.slider-news__section
		padding-left: 10px
		padding-right: 10px

		&-heading
			font-size: 18px
			line-height: 20px

			&:before
				width: 36px
				height: 36px

		&-button
			padding-top: 30px
