.slider-main
	background transparent
	max-width 1920px

	&__slide
		height: 775px
		position: relative

	& .swiper-navigation
		bottom: 15px

	& .swiper-pagination-bullet
		width 14px
		height 14px
		border: 0
		background-color: var(--primary-accent-complimentary)
		margin 4px
		border-radius 50%
		transition $t-bg-color

		&:hover,
		&-active
			background-color: var(--primary-accent)

	&__img
		height: 100%

		& img
			display: block
			height 100%
			width 100%
			object-fit cover
			object-position center

	&__content
		display flex
		flex-direction: column
		align-items flex-start
		justify-content: center
		text-align left
		color var(--primary-accent-complimentary)
		padding: 0 90px 70px
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		z-index: 1

		& p
			max-width: 700px
			font-size: 70px
			line-height: 80px
			text-transform: uppercase
			margin-bottom: 70px

		& p + p
			margin-top: -70px

		& .text--big
			font-size: 110px
			line-height: 130px

		& .text--gold
			font-family: var(--font-secondary)
			color: var(--primary-accent)
			margin-right: 20px

		& .text--sparkling
			display: block
			font-family: var(--font-secondary)
			font-size: 205px
			line-height: 205px
			background-clip: text
			color: transparent
			background-image: url("../img/components/swiper/sliders/main-slider-text-bg.jpg")
			background-size: cover
			background-position: center
			background-repeat: no-repeat
			margin-bottom: 10px

// -----------------------------------------------------------------------------
@media all and (max-width: 1220px)
	.slider-main
		& .swiper-navigation
			bottom: 10px

		& .swiper-pagination-bullet
			width: 9px
			height: 9px
			margin: 2px

		&__slide
			height: 485px

		&__content
			padding: 0 55px 50px

			& p
				font-size: 46px
				line-height: 58px
				margin-bottom: 25px

			& p + p
				margin-top: -25px

			& .text--big
				font-size: 70px
				line-height: 90px

			& .text--sparkling
				font-size: 132px
				line-height: 132px

// -----------------------------------------------------------------------------
@media all and (max-width: 768px)
	.slider-main
		& .swiper-navigation
			bottom: 5px

		& .swiper-pagination-bullet
			width: 6px
			height: 6px

		&__slide
			height: 310px

		&__content
			padding: 0 25px 25px

			& p
				font-size: 28px
				line-height: 33px
				margin-bottom: 20px

			& p + p
				margin-top: -20px

			& .text--big
				font-size: 42px
				line-height: 50px

			& .text--sparkling
				font-size: 80px
				line-height: 80px

// -----------------------------------------------------------------------------
@media all and (max-width: 580px)
	.slider-main
		& .swiper-navigation
			bottom: 5px

		& .swiper-pagination-bullet
			width: 2px
			height: 2px
			margin: 1px

		&__slide
			height: 125px

		&__content
			padding: 0 20px 10px

			& p
				font-size: 12px
				line-height: 15px
				margin-bottom: 5px

			& p + p
				margin-top: -5px

			& .text--gold
				margin-right: 10px

			& .text--big
				font-size: 18px
				line-height: 21px

			& .text--sparkling
				font-size: 34px
				line-height: 34px
				margin-bottom: 0
