.slider-homepage
	max-height 360px
	//max-width 1920px
	& .swiper-slide
		max-width 640px
	&__img
		position relative
		padding-top 50%
		//padding-top 230px
		overflow hidden

		& img
			position absolute
			top 0
			width 100%
			height 100%
			object-fit cover
			transition all .2s ease-out 0s
	&__content
		margin-right 10px
		& h3
			margin-bottom 0
		& p
			margin-bottom 0
	&__overlay
		position absolute
		bottom -100%
		display flex
		justify-content space-between
		align-items center
		width 100%
		height auto
		padding 15px 25px
		opacity 0
		background-color #303030
		cursor auto
		transition all .4s ease-out 0s
		& .button
			flex-shrink 0
	& .swiper-slide
		cursor pointer
		&.swiper-slide-active
			& .slider-homepage__overlay
				bottom 0
				opacity 1
			//& .slider-homepage__img img
			//	opacity .8
