.slider-games
	padding-top 20px
	position relative
	&__slide
		display flex
		flex-wrap wrap
		justify-content space-between

		.games__item
			width calc(50% - 5px)
			margin-bottom 10px

			&:not(.slider-games--big)&:nth-last-child(-n+2)
				margin-bottom 0

	&--big.games__item
		width 100%
		max-width 999px

	.swiper
		&-container
			padding 10px 0
			margin -10px 0

		&-slide
			min-height 100%
			height auto
//.slider-games .swiper-wrapper
//	display grid
//	grid-template-columns repeat(5,1fr)
//	grid-gap 10px
