/* ------ global statuses --------------------------------------------------- */
.status
	&__active
		color: $color-success
	&__canceled
		color: $color-error
	&__pending
		color: var(--primary-accent)
	&__inactive
		color: $color-grey

/* ------ circle statuses --------------------------------------------------- */
.circle-status
	display: inline-flex
	width: 10px
	height: 10px
	flex-shrink: 0
	border-radius: 50%
	margin-right: 10px

	&.active
		background-color: $color-success

	&.canceled
		background-color: $color-error

	&.pending
		background-color: var(--primary-accent)

	&.inactive
		background-color: $color-grey
		opacity: .55

/* ------ tables / x-games statuses ----------------------------------------- */
.status__online,
.status__offline
	width: 100%
	display: flex
	align-items: center
	justify-content: flex-start
	font-size: 18px
	line-height: 21px
	font-weight: 500
	padding: 5px 0

	&:before
		content: ""
		width: 12px
		height: 12px
		border-radius: 50%
		margin-right: 5px

.status__online
	color: var(--primary-accent-lighter)

	&:before
		background-color: var(--primary-accent-lighter)

.status__offline
	color: var(--secondary-accent-lighter)

	&:before
		background-color: var(--secondary-accent-lighter)

// ----- documents / bonuses statuses ------------------------------------------
.loaded
	color: var(--status-loaded)
.processing
	color: var(--status-processing)
.approved
	color: var(--status-approved)
.rejected
	color: var(--status-rejected)
