.tables
	&__list
		display flex
		flex-wrap wrap
		justify-content center
		width: 100%
		padding-top: 15px
		margin: 0 auto 45px

		@supports (display: grid)
			display: grid
			grid-template-columns: repeat(4, 1fr)
			grid-column-gap: 30px
			grid-row-gap: 55px

	&__item
		width 285px
		margin 15px
		position: relative

		@supports (display: grid)
			width auto
			margin 0

		&-img
			padding-top 65.5%
			border-radius: 8px
			margin-bottom: 45px
			position relative
			overflow hidden
			transition: $t-filter

			& img
				width 100%
				height 100%
				object-fit cover
				object-position center
				position absolute
				top 0
				left 0

				&.no-photo
					object-fit scale-down

		&-overlay
			display: flex
			flex-direction: column
			justify-content: flex-end
			align-items: center
			background-color: var(--color-surface-75)
			padding: 10px 25px
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			opacity: 0
			visibility: hidden
			transition: $t-opacity

		&:hover &-img
			filter: drop-shadow(0 0 10px var(--primary-accent))
		&:hover &-overlay
			visibility visible
			opacity 1

		&-desc
			font-size: 18px
			line-height: 21px
			color: var(--primary-accent-complimentary)
			font-weight: 500

			&-heading
				padding-top: 10px
				padding-bottom: 15px
				position: relative

				&:after
					content: ""
					height: 1px
					background-image: linear-gradient(270deg, rgba(0,0,0,0) 0%, var(--primary-accent) 50%, rgba(0,0,0,0) 100%)
					position: absolute
					left: 0
					right: 0
					bottom: 5px

			&-row
				display flex
				justify-content space-between
				align-items center
				text-align: left
				padding: 5px 0 0

			&-value
				text-align: right

		&-name
			display: flex
			justify-content: flex-start
			align-items: center
			font-family: var(--font-secondary)
			font-size: 18px
			line-height 23px
			color var(--primary-accent-complimentary)
			font-weight 400
			margin-bottom 0
			text-align center
			padding 5px 0

			&:before
				content: ""
				width: 24px
				height: 24px
				background-image: url("../img/elements/x-pro-coin.png")
				background-size: contain
				background-repeat: no-repeat
				margin-right: 5px

		&-dealer
			color #ffffff
			text-align: right

		&-super-six
			width 100%
			font-size: 18px
			line-height: 21px
			font-weight: 500
			color: var(--primary-accent)
			text-align: left


// -----------------------------------------------------------------------------
@media (max-width: 1220px)
	.tables__list
		@supports (display: grid)
			grid-template-columns: repeat(3, 1fr)
			grid-column-gap: 25px
			grid-row-gap: 45px

	.tables__item-img
		margin-bottom: 30px

// -----------------------------------------------------------------------------
@media (max-width: 1024px)
	.tables__list
		padding-top: 10px

		@supports (display: grid)
			grid-template-columns: repeat(2, 1fr)
			grid-row-gap: 40px

	.tables__item-desc
			font-weight: 400


// -----------------------------------------------------------------------------
@media (max-width: 580px)
	.tables__list
		padding-top: 5px

		@supports (display: grid)
			grid-template-columns: repeat(1, 1fr)
			grid-row-gap: 30px

	.tables__item
		&-name
			padding: 10px 0 0

		&-desc
			&-heading
				padding-top: 5px
				padding-bottom: 10px
			&-row
				padding: 0
				.status__online,
				.status__offline
					padding: 0
