// -----------------------------------------------
// Component - Table
// -----------------------------------------------

.table
	min-width 100%

	&--accounts,
	&--transactions
		border-collapse: separate
		border-spacing: 0 1px

	&-list
		table
			width 100%
			border-collapse collapse
			table-layout fixed
		thead
			border: 1px solid #666666
			background-color #626060
			color $color-grey
			font-size 16px
		tbody
			tr
				border: 1px solid #666666
				background: #3A3A3A
				transition: all .2s ease-out
				&:nth-of-type(odd)
					background: #434343

		th
			font-size: 18px
			font-weight: 400
		th, td
			padding 5px
			word-break break-word
			line-height 32px
		td
			text-align center
			& > button, a
				margin auto
			img
				max-height 110px

	&-grid
		min-width 100%
		table
			width 100%
			border-collapse collapse
			table-layout fixed
			border 0 none
			thead tr
				display none
			tbody
				display flex
				flex-wrap wrap
				justify-content center
				@supports (display: grid)
					display grid
					grid-template-columns repeat(auto-fill,minmax(220px,1fr))
					grid-gap 50px
					margin auto
			tr
				display block
				width 270px
				margin 25px
				overflow hidden
				background #3A3A3A
				box-shadow 0 4px 10px rgba(0, 0, 0, 0.25)
				border-radius 2px
				padding 20px
				border 1px solid #666
				transition: all .2s ease-out
				@supports (display: grid)
					width unset
					margin unset
			td
				position relative
				display flex
				justify-content flex-end
				align-items center
				padding-left 50%
				text-align right
				border-bottom: 1px solid #626060
				padding-bottom: 5px
				&:not(:last-child)
					margin-bottom 10px
				&:before
					content attr(data-label)
					position absolute
					top 0
					left 0
					display flex
					align-items center
					height 100%
					width 50%
					color $text-color-gray
					padding 10px 0
					line-height normal

	&__controls
		width 100%
		display flex
		justify-content space-between
		align-items center
		padding-top: 5px
		padding-bottom: 20px

		& .tabs
			margin-left: auto

/* -------------------------------------------------------------------------- */
/* ----- tables / accounts & transactions pages ----------------------------- */
/* -------------------------------------------------------------------------- */
.profile-accounts__table .table,
.transactions-history__table .table
	// - List view ---------------------------------------------------------------
	&-list
		& thead,
		& tbody
			background-color: transparent
			color: var(--primary-accent-complimentary)
			border: 0

			/* row color and bg */
			tr
				background-color: var(--secondary-accent)
				border: 0
				border-bottom: 2px solid var(--color-surface)

			tr.active
				background-color: var(--primary-accent-lighter)

		/* special THEAD stuff */
		& thead tr
			background-color: transparent

		/* cells stuff */
		& th,
		& td
			color: var(--primary-accent-complimentary)
			font-size: 16px
			line-height: 19px
			text-align: left
			text-transform: uppercase
			padding: 25px 15px
			white-space: nowrap

			& > button, a
				margin auto

			& img
				max-height 110px

		/* heading for grid (mobiles) */
		& th.plate-heading,
		& td.plate-heading
			display: none

		/* statuses */
		& td.td-status
			padding-top: 10px
			padding-bottom: 10px

			& span
				display: inline-block
				min-width: 130px
				height: 44px
				font-size: 16px
				line-height: 24px
				color: var(--primary-accent-complimentary)
				text-align: center
				white-space: nowrap
				font-weight: 400
				text-transform: none
				background-color: #846054
				border-radius: 10px
				padding: 10px
				overflow: hidden
				text-overflow: ellipsis
				cursor: pointer
				transition: $t-color, $t-bg-color

		& td.td-status span:hover,
		& tr.active td.td-status span
			color: var(--secondary-accent-text)
			background-color: var(--primary-accent)

		/* special THEAD cells stuff */
		& tr th
			font-weight: 400
			color: var(--primary-accent)
			text-transform: none
			padding-top: 10px
			padding-bottom: 10px

		/* cells stuff for "active" row */
		& td.td-button
			padding-top: 10px
			padding-bottom: 10px

	// - grid view ---------------------------------------------------------------
	&-grid
		min-width 100%

		table
			tbody
				grid-template-columns: repeat(auto-fill,minmax(240px,1fr))
				grid-gap: 30px

			tr
				background-color: var(--secondary-accent)
				border-radius: 10px
				box-shadow: none
				border: 0
				padding: 0
				padding-bottom: 25px

			td
				font-size: 16px
				line-height: 1
				background-color: var(--secondary-accent)
				border-bottom: 0
				padding: 10px 20px
				padding-left: 40%

				& span
					margin-left: 5px

				&:before
					content attr(data-label)
					display flex
					justify-content: flex-start
					align-items center
					height 100%
					width 40%
					font-size: 16px
					line-height: 1
					color: var(--primary-accent)
					text-align: left
					text-transform: none
					font-weight: 400
					white-space: nowrap
					background-color: var(--secondary-accent)
					padding 10px 20px
					position absolute
					top 0
					left 0

			& tr td
				justify-content: flex-end
				text-align: right
				color: var(--primary-accent-complimentary)
				font-weight: 400

			/* heading for grid (mobiles) */
			& th.plate-heading,
			& td.plate-heading
				display: flex
				justify-content: flex-start
				font-size: 24px
				line-height: 28px
				color: var(--primary-accent-complimentary)
				padding: 15px
				padding-bottom: 20px

				&:before
					display: none

				&:after
					content: ""
					width: 45px
					height: 45px
					background-size: contain
					background-repeat: no-repeat
					margin-right: 5px
					order: 1

				& span
					order: 2
					margin: 0

			/* buttons */
			& td.td-button
				display: flex
				justify-content: center
				padding: 10px 20px 0
				margin-bottom: -5px

				&:before
					display: none

/* plates headings for different tables */
.profile-accounts__table .table-grid
	& th.plate-heading,
	& td.plate-heading
		&:after
			background-image: url("../img/backgrounds/profile-accounts-title.png")

	& tr.active td.td-status,
	& tr.active td.td-status:before
		color: var(--secondary-accent-text)
		background-color: var(--primary-accent-lighter)

.transactions-history__table .table-grid
	& th.plate-heading,
	& td.plate-heading
		&:after
			background-image: url("../img/backgrounds/profile-trans-title.png")

/* transactions history: statuses */
.transactions-history__table .table
	& td.td-status span.pending
		color: var(--status-transaction-pending)
	& td.td-status span.accepted
		color: var(--status-transaction-accepted)
	& td.td-status span.completed
		color: var(--status-transaction-completed)
	& td.td-status span.rejected
		color: var(--status-transaction-rejected)

.transactions-history__table .table-grid
	& td.td-status
		font-weight: 700

	& td.td-status,
	& td.td-status:before
		color: var(--secondary-accent-text)
		background-color: var(--primary-accent-lighter)

	& td.td-status span.pending
		color: var(--status-transaction-pending-grid)
	& td.td-status span.accepted
		color: var(--status-transaction-accepted-grid)
