// -----------------------------------------------
// Component - Tabs
// -----------------------------------------------

.tabs
	display: flex
	justify-content: flex-end
	align-items: center
	vertical-align: middle
	max-width 100%

	li
		display: flex
		justify-content: center
		align-items: center

		&.active
			cursor default

	&__content
		display: none

		&.active
			display: block

/* ----- tabs in profile info page ---------------------------------------- */
.profile-info__container
	& .tabs.tabs--profile li
		width auto
		font-size 24px
		line-height: 24px
		font-weight: 400
		color: var(--primary-accent)
		text-align center
		white-space: nowrap
		padding: 15px 5px
		margin-left: 35px
		margin-right: 35px
		position: relative
		cursor pointer
		transition: $t-color

		&:after
			content: ""
			height: 4px
			width: 0
			background-color: var(--primary-accent-lighter)
			box-shadow: 0px 0px 14px var(--primary-accent-lighter)
			position: absolute
			left: 5px
			bottom: 0
			transition: width .2s ease-out

		&.active
			color: var(--primary-accent-complimentary)

		&:hover:after,
		&.active:after
			width: calc(100% - 10px)

// -----------------------------------------------------------------------------
@media all and (max-width: 1024px)
	.profile-info__container .tabs.tabs--profile li
		font-size 18px
		line-height: 18px
		padding: 15px 5px
		margin-left: 25px
		margin-right: 25px

// -----------------------------------------------------------------------------
@media all and (max-width: 710px)
	.profile-info__container .tabs.tabs--profile li
		margin-left: 10px
		margin-right: 10px


/* REGISTRATION page: tabs -------------------------------------------------- */
.registration__tabs
	margin-top: -5px

	& ul.registration__tabs--top
		display flex
		justify-content center

		& li
			width auto
			font-size 24px
			line-height: 24px
			font-weight: 400
			color: var(--primary-accent)
			text-align center
			white-space: nowrap
			padding: 15px 10px
			margin-left: 20px
			margin-right: 20px
			position: relative
			cursor pointer
			transition: $t-color

			&:after
				content: ""
				height: 4px
				width: 0
				background-color: var(--primary-accent-lighter)
				box-shadow: 0px 0px 14px var(--primary-accent-lighter)
				position: absolute
				left: 5px
				bottom: -3px
				transition: width .2s ease-out

			&.active
				cursor default
				color: var(--primary-accent-complimentary)

			&:hover:after,
			&.active:after
				width: calc(100% - 10px)

	&--content
		display none
		margin 35px 0 0 0

		&.active
			display flex
