.transactions-history
	/* ----- wrappers & inners & description ---------------------------------- */
	&__wrapper .page__title
		width: 100%
		max-width: 1295px
		padding-left: 30px
		padding-right: 30px
		margin: 45px auto 10px
		position: relative

		/* gold line on top */
		&:after
			content: ""
			height: 2px
			background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(222,175,118,0.5) 25%, #DCA96B 50%, rgba(222,175,118,0.5) 75%, rgba(0,0,0,0) 100%);
			position: absolute
			top: -5px
			left: 0
			right: 0
			pointer-events: none
			z-index: 1

	&__inner
		width: 100%
		max-width: 1295px
		padding-left: 30px
		padding-right: 30px
		margin: 20px auto

	/* ----- controls: tabs, view switvher and text --------------------------- */
	&__controls
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 40px
		position: relative

		& .view-switcher
			margin-left: 150px
			margin-right: -10px
			margin-top: -10px

	&__last-date
		font-size: 14px
		line-height: 1.5
		color: var(--primary-accent)
		text-align: left
		margin-right: 150px

	&__tabs
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)

	&__tabs li
		width: 135px
		height: 44px
		font-size: 16px
		line-height: 24px
		text-align: center
		font-weight: 500
		color: var(--secondary-accent-text)
		white-space: nowrap
		background-color: var(--primary-accent-lighter)
		border-radius: 10px
		padding: 10px
		margin: 0 5px
		overflow: hidden
		transition: $t-bg-color
		cursor: pointer

		&:hover,
		&.active
			background-color: var(--primary-accent)

	/* ----- table & pagination ----------------------------------------------- */
	&__table .pager
		padding-top: 80px


// -----------------------------------------------------------------------------
@media all and (max-width: 1220px)
	.table--transactions.table-grid
		padding-left: 110px
		padding-right: 110px

// -----------------------------------------------------------------------------
@media all and (max-width: 1024px)
	.transactions-history
		&__wrapper .page__title
			padding-left: 10px
			padding-right: 10px
			margin-top: 40px

		&__inner
			padding: 0 10px
			margin-top: 20px
			margin-bottom: 20px

		&__controls
			padding-top: 55px

	.table--transactions.table-grid
		padding-left: 70px
		padding-right: 70px

	.transactions-history__table .table-list th,
	.transactions-history__table .table-list td
		padding-left: 10px
		padding-right: 10px

// -----------------------------------------------------------------------------
@media all and (max-width: 750px)
	.transactions-history
		&__wrapper .page__title
			padding-left: 20px
			padding-right: 20px

		&__inner
			padding: 0 20px

		&__controls .view-switcher
			display: none

		&__last-date
			width: auto
			text-align: center
			margin: 0 auto

	.table--transactions.table-grid
		padding-left: 0
		padding-right: 0

// -----------------------------------------------------------------------------
@media all and (max-width: 580px)
	.transactions-history
		&__controls
			margin-bottom: 15px
