.games__section + .jackpots-winners__section
	margin-top: 90px

.jackpots-winners__section
	width: 100%
	background-color: rgba(6,6,6,.8)
	box-shadow: inset 0px 0px 20px rgba(255, 192, 87, 0.25)
	position: relative

	/* coins */
	&:before,
	&:after
		content: ""
		background-size: contain
		background-repeat: no-repeat
		position: absolute
		pointer-events: none

	&:before
		width: 117px
		height: 295px
		background-image: url("../img/jackpots-winners/jackpots-winners-coin-left.png")
		background-position: left center
		top: 50px
		left: 0

	&:after
		width: 87px
		height: 220px
		background-image: url("../img/jackpots-winners/jackpots-winners-coin-right.png")
		background-position: right center
		top: 88px
		right: 0

	&-container
		width: 100%
		max-width: 1340px
		padding: 105px 115px 50px
		margin: 0 auto
		position: relative

		/* sea horse */
		&:before
			content: ""
			width: 250px
			height: 485px
			background-image: url("../img/jackpots-winners/jackpots-winners-figure.svg")
			background-position: center
			background-size: contain
			background-repeat: no-repeat
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			pointer-events: none

	&-inner
		display: flex
		justify-content: space-between
		align-items: flex-start
		margin-bottom: 45px
		position: relative

	&-button
		width: 100%
		text-align: center
		position: relative
