.winners
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: center
	padding-top: 30px

	&__wrapper
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: center

	&__title
		font-size 24px
		line-height: 1.5
		font-weight 700
		text-transform: uppercase
		color var(--primary-accent-complimentary)
		margin-bottom: 40px

	&__item
		display flex
		justify-content space-between
		align-items center
		height: 65px
		width 360px
		padding 15px
		background-color $color-background-secondary
		padding: 5px
		position: relative

		&:not(:last-child)
			margin-bottom: 35px

		&-left
			display: flex
			flex-direction: column
			justify-content: center
			align-items: flex-start
			padding-left: 50px
			overflow: hidden
			margin-right: 10px

		&-right
			flex-shrink: 0
			display: flex
			flex-direction: column
			justify-content: center
			align-items: flex-end
			padding-right: 40px

		&-name
			max-width: 100%
			font-size 15px
			line-height: 15px
			font-weight: 400
			text-transform: uppercase
			margin-bottom: 5px
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis

		&-value
			max-width: 100%
			font-size 15px
			line-height: 15px
			font-weight: 700
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis

		&.diamond &-value
			color: #8CD8D3
		&.gold &-value
			color: #FFC057
		&.silver &-value
			color: #C6C6C6
		&.bronze &-value
			color: #803D00

		&-img
			width: 73px
			height: 50px
			object-fit: cover
