$blue-gradient: linear-gradient(90deg, rgba(35,40,80,1) 0%, rgba(57,65,114,1) 100%);
$white: #ffffff;
$light-white: #fafafa;
$main-red: #c32244;
$text: #4b1d4b;
$text-black: #adadcf;
$grey: #f3f3f3;
$main-yellow: #ffd538;
$green: rgba(39, 175, 114, 0.5);
$prey: #48cfad;
$blue: #90c3f4;
$light-blue: rgb(233, 243, 253);
$blue-text: rgb(164, 187, 211);

