<!-- --- Main page / Unlogged user ----------------------------------------- -->
{% extends "master/master.html" %}
{% block content %}

<!-- --- Main slider ------------------------------------------------------- -->
{{ block("components/slider-main") }}

<div class="page page-main">
	<!-- --- Games types slider ---------------------------------------------- -->
	{{ block("components/menu/games-menu-simple") }}

	<!-- --- Games section: popular ------------------------------------------ -->
	{{ block("components/games-popular") }}

	<!-- --- Games section: new ---------------------------------------------- -->
	{{ block("components/games-new") }}

	<!-- --- Games section: recommended -------------------------------------- -->
	{{ block("components/games-recommended") }}

	<!-- --- Jackpots slider ------------------------------------------------- -->
	{{ block("components/slider-jackpots") }}

	<!-- --- News slider ----------------------------------------------------- -->
	{{ block("components/slider-news") }}

	<!-- --- Winners slider -------------------------------------------------- -->
	{{ block("components/slider-winners") }}

	<!-- --- Seo text -------------------------------------------------------- -->
	{{ block("components/seo-text") }}
</div>

{% endblock %}
