{% set logged = "yes" %}
{% extends "master/master.html" %}

{% block content %}

<div class="page page-profile">
	{{ block("components/menu/profile-menu") }}
	<section class="page-profile__content page-profile__content--bonuses">
		<div class="page__header page__header--center">
			<h1 class="page__title">My bonuses</h1>
		</div>
		<div class="table__controls">
			<ul class="tabs">
				<li data-bonuses-active class="active">Active</li>
				<li data-bonuses-available>Available</li>
			</ul>
		</div>
		{{ block("components/bonuses-player")}}
	</section>
</div>

{% endblock %}
