<section class="home-section">
  <div class="home-banner-container">
    <div class="banner-text-container">
      <div class="banner-title">
        Welcome to new Workout day
      </div>
      <div class="banner-text">
        Nisi dolor pariatur anim quis dolor do.
        Ut duis eiusmod irure enim deserunt proident culpa.
      </div>
    </div>
    <div class="banner-img-container"></div>
  </div>
  <div class="home-container">
    <div class="exercises-container">
      <app-home-card-exercises></app-home-card-exercises>
    </div>
    <div class="current-goal">
<!--      <app-home-card-goal></app-home-card-goal>-->
      <app-home-card-diet></app-home-card-diet>
    </div>
  </div>
</section>
