<!-- Форма подтверждения email -->
<form method="post" action="#" class="form form--confirm">
	<fieldset class="form__section">
		<div class="form__input">
			<input type="text" placeholder="Код верификации">
			<div class="form__error-message">Вы должны заполнить поле "Код верификации"</div>
		</div>
	</fieldset>
	<fieldset class="form__section form__section--submit">
		<button type="button" class="button button--w280 button--filled">Верификация</button>
		<button type="button" class="button button--w280 button--bordered">Запросить код</button>
	</fieldset>
</form>
