<div class="documents">
	<div class="documents__top">
		<div class="documents__load">
			{{ block("components/upload") }}
		</div>
		<div class="documents__description">
			<p>Downloading documents is optional and will be required only in certain cases. When making a request for withdrawal of funds over 15,000 rubles, you will need to provide a scan or a clear photo of your passport, as well as a scan or photo of the front and back sides of the plastic card, in case the withdrawal is carried out on VISA or MasterCard.</p>
			<p>You can, and we recommend that you close some details for security reasons before sending (for example, a three- or four-digit CVV / CVC code on the back of the card, some digits of the number), however, this should preserve the owner’s identity and authenticity.</p>
		</div>
	</div>
	<div class="documents__list-wrapper">
		{{ block("components/documents-list") }}
	</div>
</div>
