<ul class="documents-list" data-lazy>
	<li class="documents-list__item">
		<div class="documents-list__item-img">
			<a target="_blank" href="#">
				<img data-src="../../img/documents/docs-loaded.svg">
			</a>
		</div>
		<ul class="documents-list__item-info">
			<li class="documents-list__item-info-date">Date and time: <span>06.11.2017 14:48</span></li>
			<li class="documents-list__item-info-status">Status: <span class="loaded">Loaded</span></li>
		</ul>
	</li>
	<li class="documents-list__item">
		<div class="documents-list__item-img">
			<a target="_blank" href="#">
				<img data-src="../../img/documents/docs-processing.svg">
			</a>
		</div>
		<ul class="documents-list__item-info">
			<li class="documents-list__item-info-date">Date and time: <span>06.11.2017 14:48</span></li>
			<li class="documents-list__item-info-status">Status: <span class="processing">In processing</span></li>
		</ul>
	</li>
	<li class="documents-list__item">
		<div class="documents-list__item-img">
			<a target="_blank" href="#">
				<img data-src="../../img/documents/docs-approved.svg">
			</a>
		</div>
		<ul class="documents-list__item-info">
			<li class="documents-list__item-info-date">Date and time: <span>06.11.2017 14:48</span></li>
			<li class="documents-list__item-info-status">Status: <span class="approved">Approved</span></li>
		</ul>
	</li>
	<li class="documents-list__item">
		<div class="documents-list__item-img ">
			<a target="_blank" href="#">
				<img data-src="../../img/documents/docs-rejected.svg">
			</a>
		</div>
		<ul class="documents-list__item-info">
			<li class="documents-list__item-info-date">Date and time: <span>06.11.2017 14:48</span></li>
			<li class="documents-list__item-info-status">Status: <span class="rejected">rejected</span></li>
		</ul>
	</li>
	{% for item in range(0, 8) %}
	<li class="documents-list__item">
		<div class="documents-list__item-img">
			<a target="_blank" href="#">
				<img data-src="../../img/documents/docs-loaded.svg">
			</a>
		</div>
		<ul class="documents-list__item-info">
			<li class="documents-list__item-info-date">Date and time: <span>06.11.2017 14:48</span></li>
			<li class="documents-list__item-info-status">Status: <span class="loaded">Loaded</span></li>
		</ul>
	</li>
	{% endfor %}
</ul>
