<!--

Компонент.
Блок с формами редактирования профиля + табы

-->

<div class="profile-info__container tabs__parent-wrapper">
	<!-- ----- TABS HEADING -------------------------------------------------- -->
	<ul class="tabs tabs--profile">
		<li class="active"><span>Личные данные</span></li>
		<li><span>Расположение</span></li>
		<li><span>Контакты</span></li>
		<li><span>Безопасность</span></li>
	</ul>

	<!-- ----- TAB CONTENT #1: INFO ------------------------------------------ -->
	<div class="tabs__content profile-tab__content active">
		<form class="form profile-info__form">
			<div class="profile-info__form-inner">
				{{ fieldTextLabel("profile-name", "Firts name", "Firts name", "You must fill in the field", "", "Vasya", "") }}
				{{ fieldTextLabel("profile-surname", "Last name", "Last name", "You must fill in the field", "", "Pupkin", "") }}
				{{ fieldTextLabel("profile-secondname", "Second name", "Second name", "You must fill in the field", "", "Norbert", "") }}
				<div class="form__input form__input--select">
					<label class="form__input-label" for="gender">Gender</label>
					<select id="profile-gender" data-select-menu>
						<option>Male</option>
						<option>Female</option>
						<option>Undefined</option>
					</select>
					<div class="form__error-message">You must fill in the field</div>
				</div>
				{{ fieldTextLabel("profile-login", "Login", "Login", "You must fill in the field", "", "Pup2312", "") }}
				{{ fieldTextLabel("profile-nickname", "Nickname", "Nickname", "You must fill in the field", "", "Pupkin322", "") }}
				<div class="form__input form__input--datepicker">
					<label class="form__input-label" for="birth-date">День рождения</label>
					<input type="text" id="birth-date" data-datepicker readonly placeholder="День рождения" value="04.12.1961">
				</div>
				<div class="form__input form__input--select">
					<label class="form__input-label" for="lang">Notification language</label>
					<select id="profile-lang" data-select-menu>
						<option>English</option>
						<option>Русский</option>
					</select>
					<div class="form__error-message">You must fill in the field</div>
				</div>
			</div>
			<div class="profile-info__form-button">
				<button type="submit" class="button button--280 button--filled">Save </button>
			</div>
		</form>
	</div>

	<!-- ----- TAB CONTENT #2: LOCATION -------------------------------------- -->
	<div class="tabs__content profile-tab__content">
		<form class="form profile-info__form">
			<div class="profile-info__form-inner">
				<div class="form__input form__input--select">
					<label class="form__input-label" for="country">Country</label>
					<select id="profile-country" data-select-menu>
						<option>Spain</option>
						<option>Country1</option>
						<option>Country2</option>
						<option>Country3</option>
						<option>Country4</option>
					</select>
					<div class="form__error-message">You must fill in the field</div>
				</div>
				<div class="form__input form__input--select">
					<label class="form__input-label" for="timezone">Timezone</label>
					<select id="profile-timezone" data-select-menu>
						<option>GMT + 3 00</option>
						<option>GMT + 5 00</option>
						<option>GMT + 6 00</option>
						<option>GMT + 7 00</option>
						<option>GMT + 8 00</option>
					</select>
					<div class="form__error-message">You must fill in the field</div>
				</div>
				{{ fieldTextLabel("profile-city", "City", "City", "You must fill in the field", "", "Madrid", "") }}
				{{ fieldTextLabel("profile-address", "Address", "Address", "You must fill in the fieldе", "", "Av. de Concha Espina, 1", "") }}
				{{ fieldTextLabel("profile-postcode", "Postcode", "Postcode", "You must fill in the fieldе", "", "28036", "") }}
			</div>
			<div class="profile-info__form-button">
				<button type="submit" class="button button--280 button--filled">Save</button>
			</div>
		</form>
	</div>

	<!-- ----- TAB CONTENT #3: CONTACTS -------------------------------------- -->
	<div class="tabs__content profile-tab__content profile-tab__content--special">
		<div class="form profile-info__form">
			<div class="profile-info__form-inner">
				<form action="">
					<div class="form__input form__input--email">
						<label class="form__input-label" for="profile-email">Email</label>
						<input type="text" id="profile-email" value="pupkin@gmail.com" placeholder="Почта">
						<div class="form__error-message">You must fill in the field</div>
					</div>
					<div class="form__input form__input--button form__input--button-email">
						<button type="button" class="button button--280 button--filled">Save</button>
					</div>
				</form>
				<form action="">
					<div class="form__input checkbox checkbox--email">
						<input type="checkbox" id="subscribe-email">
						<label for="subscribe-email">Subscribe Email Newsletter</label>
						<div class="form__error-message">You must fill in the field</div>
					</div>
				</form>
				<form action="">
					<div class="form__input form__input--phone disabled">
						<label class="form__input-label" for="profile-phone">Phone</label>
						<input disabled type="text" id="profile-phone" placeholder="Phone" value="+420XXXXNNNNNN" data-phone-number>
						<div class="form__error-message">You must fill in the field</div>
					</div>
					<div class="form__input form__input--button form__input--button-phone">
						<button type="button" class="button button--280 button--filled">Save</button>
					</div>
				</form>
				<form action="">
					<div class="form__input checkbox checkbox--phone">
						<input type="checkbox" id="subscribe-phone">
						<label for="subscribe-phone">Subscribe SMS Newsletter</label>
						<div class="form__error-message">You must fill in the field</div>
					</div>
				</form>
			</div>
			<div class="profile-info__verification">
				<h4 class="profile-info__verification-heading">Verification</h4>
				<div class="profile-info__form-inner">
					<div class="profile-info__verification-radio">
						<div class="radio__item">
							<input type="radio" name="profile-verify" id="verify-email" class="radio__item-input" checked>
							<label for="verify-email" class="radio__item-label">Verify Email</label>
						</div>
						<div class="radio__item">
							<input type="radio" name="profile-verify" id="verify-phone" class="radio__item-input">
							<label for="verify-phone" class="radio__item-label">Verify Phone</label>
						</div>
					</div>
					<form action="" class="profile-info__verification-input" style="display: none">
						<div class="form__input">
							<label class="form__input-label" for="code-1">Verification code</label>
							<input type="text" id="code-1" value="" placeholder="Enter the received code">
							<div class="form__error-message">You must fill in the field</div>
						</div>
					</form>
					<form action="" class="profile-info__verification-input">
						<div class="form__input">
							<label class="form__input-label" for="code-2">Verification code</label>
							<input type="text" id="code-2" value="" placeholder="Enter the received code">
							<div class="form__error-message">You must fill in the field</div>
						</div>
					</form>
					<div class="form__input form__input--button">
						<button type="button" class="button button--bordered">Request code</button>
					</div>
					<div class="form__input form__input--button">
						<button type="button" class="button button--filled">Confirm</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ----- TAB CONTENT #4: SECURITY -------------------------------------- -->
	<div class="tabs__content profile-tab__content">
		<form class="form profile-info__form">
			<div class="profile-info__form-inner">
				{{ fieldPasswordLabel("profile-pass", "Old password", "Old password", "You must fill in the field", "", "321334", "") }}
				{{ fieldPasswordLabel("profile-passnew", "New password", "New password", "You must fill in the field", "", "6666666", "") }}
				{{ fieldPasswordLabel("profile-passrepeat", "Confirmation", "Confirmation", "You must fill in the field", "", "6666666", "") }}
			</div>
			<div class="profile-info__form-button">
				<button type="submit" class="button button--280 button--filled">Save</button>
			</div>

			<div class="profile-info__form-question">
				<div class="form__input form__input--select">
					<label class="form__input-label" for="secret-question">Secret Question</label>
					<select id="secret-question" data-select-menu>
						<option>Secret question 1</option>
						<option>Secret question 2</option>
						<option>Secret question 3</option>
						<option>Secret question 4</option>
						<option>Secret question 5</option>
					</select>
					<div class="form__error-message">You must fill in the field</div>
				</div>
				{{ fieldTextLabel("profile-question", "Secret answer", "Secret answer", "You must fill in the field", "", "2803sad623qq34", "") }}
			</div>
			<div class="profile-info__form-button">
				<button type="submit" class="button button--280 button--filled">Save</button>
			</div>

		</form>
	</div>

</div>
