<!-- Форма изменения аватара в профиле пользователя -->
<section class="form__block form__block--avatar">
	<form class="form form--avatar" method="post" action="#">
		<div class="form-avatar__avatar">
			<div class="form-avatar__avatar-img">
				<img class="" src="../../img/user/avatar-default.svg" alt="">
				<input class="form-avatar__hidden-upload" type="file" accept="image/*" data-avatar-upload/>
			</div>
		</div>

		<div class="form-avatar__info">
			<div class="form-avatar__username">Alex</div>
			<button type="submit" class="form-avatar__button button button--filled button--w240">Загрузить фото</button>
			<div class="form-avatar__msg">
				<!-- <span>Size must not exceed 2 Mb</span>
				<span>Photo should be at least 200x200</span> -->
				<span>У нас сейчас нет ограничений</span>
			</div>
		</div>
	</form>
</section>
