<div class="game-info">
	<div class="game-info__game-title">
		<h3>Lucky Lady's Charm Deluxe 10</h3>
	</div>

	<ul class="game-info__list">
		<li>
			<span>Provider:</span>
			<a href="#" class="game-info__provider">Novomatic HTML5</a>
		</li>
		<li>
			<span>Game groups:</span>
			<div class="game-info__links">
				<a href="#">Jackpot games</a>
				<a href="#">New games</a>
				<a href="#">Popular</a>
			</div>
		</li>
	</ul>
	<a href="/pages/game/game.html" class="button button--filled">Play on money</a>
</div>
