<!-- Game page / Inner stuff -->
<div class="game__container">
	<div class="game">
		<!-- GAME / left part -------------------------------------------------- -->
		<div class="game--left">
			<div class="game__panel">
				<div class="game__panel-left">
					<ul class="game__breadcrumbs">
						<li><a href="#" class="game__breadcrumbs-link">Slots</a><span>/</span></li>
						<li><span class="game__breadcrumbs-current">Game name</span></li>
					</ul>
				</div>
				<div class="game__panel-right">
					<div class="game__panel-favorite active"><i class="icon-fav"></i></div>
					<div class="game__panel-fullscreen" data-fullscreen-game><i class="icon-game-fullscreen"></i></div>
					<div class="game__panel-close" data-close-game-panel><i class="icon-game-close"></i></div>
				</div>
			</div>
			<div class="game__iframe">
				<img src="../../img/games/game-iframe.jpg">
			</div>
		</div>

		<!-- GAME / right part ------------------------------------------------- -->
		<div class="game--right">
			<div class="game__accordion">
				<div class="accordion__item accordion__item--open">
					<div class="accordion__item-header"><span>Последние победители</span><i class="icon-accordion-arrow"></i></div>
					<div class="accordion__item-content">
						{{ block("components/winners-table")}}
					</div>
				</div>

				<div class="accordion__item accordion__item--open">
					<div class="accordion__item-header"><span>Информация об&nbsp;игре</span><i class="icon-accordion-arrow"></i></div>
					<div class="accordion__item-content">
						{{ block("components/game-info")}}
					</div>
				</div>
			</div>
		</div>

		<!-- GAME / bottom part ------------------------------------------------ -->
		<div class="game__related-games">
			{{ block("components/related-games")}}
		</div>

		<div class="game__description">
			<h3 class="game__description-heading">Описание</h3>
			<div class="game__description-text">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatatю Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatatю Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
			</div>
		</div>
	</div>
</div>
