<div class="jackpots-special">
	<div class="jackpots-special__items">
		<div class="jackpots-special__item gold">
			<div class="jackpots-special__item-numbers-counter" data-jackpots-counter>7,756,982.01</div>
			<div class="jackpots-special__item-currency">USD</div>
		</div>
		<div class="jackpots-special__item silver">
			<div class="jackpots-special__item-numbers-counter" data-jackpots-counter>2,000,000.99</div>
			<div class="jackpots-special__item-currency">USD</div>
		</div>
		<div class="jackpots-special__item bronze">
			<div class="jackpots-special__item-numbers-counter" data-jackpots-counter>10,999.01</div>
			<div class="jackpots-special__item-currency">USD</div>
		</div>
	</div>
</div>
