<!--
Компонент.
Виджет со списком джекпотов на главной
-->
<section class="section section--jackpots">
	<div class="container">
		<div class="jackpots__wrapper">
			<h3 class="jackpots__title">Джекпоты</h3>
			<div class="jackpots">
				<div class="jackpots__item gold">
					<span class="jackpots__item-name">Gold</span>
					<span class="jackpots__item-value">$ 201 025.02</span>
				</div>
				<div class="jackpots__item silver">
					<span class="jackpots__item-name">Silver</span>
					<span class="jackpots__item-value">$ 20 025.45</span>
				</div>
				<div class="jackpots__item bronze">
					<span class="jackpots__item-name">Bronze</span>
					<span class="jackpots__item-value">$ 1 999.37</span>
				</div>
				<div class="jackpots__item diamond">
					<span class="jackpots__item-name">Diamond</span>
					<span class="jackpots__item-value">$ 1 999.37</span>
				</div>
			</div>
			<a href="/pages/registration/registration.html" class="button button--390 button--filled">Регистрация</a>
		</div>
	</div>
</section>
