<!-- Виджет со списком джекпотов и победителеей на главной -->
<section class="jackpots-winners__section">
	<div class="jackpots-winners__section-container">
		<div class="jackpots-winners__section-inner">

			<!-- Winners --------------------------------------------------------- -->
			<div class="winners__wrapper">
				<h3 class="winners__title">Winners</h3>
				<div class="winners" data-lazy>
					<div class="winners__item diamond">
						<div class="winners__item-left">
							<span class="winners__item-name">NicknameDiamond</span>
							<span class="winners__item-value">431476.56 USD</span>
						</div>
						<div class="winners__item-right">
							<img class="winners__item-img" data-src="/img/games/4.svg" alt="">
						</div>
					</div>
					<div class="winners__item gold">
						<div class="winners__item-left">
							<span class="winners__item-name">NicknameGold</span>
							<span class="winners__item-value">31476.56 USD</span>
						</div>
						<div class="winners__item-right">
							<img class="winners__item-img" data-src="/img/games/1.svg" alt="">
						</div>
					</div>
					<div class="winners__item silver">
						<div class="winners__item-left">
							<span class="winners__item-name">NicknameSilver</span>
							<span class="winners__item-value">1476.56 USD</span>
						</div>
						<div class="winners__item-right">
							<img class="winners__item-img" data-src="/img/games/2.svg" alt="">
						</div>
					</div>
					<div class="winners__item bronze">
						<div class="winners__item-left">
							<span class="winners__item-name">NicknameBronze</span>
							<span class="winners__item-value">476.56 USD</span>
						</div>
						<div class="winners__item-right">
							<img class="winners__item-img" data-src="/img/games/3.svg" alt="">
						</div>
					</div>
				</div>
			</div>

			<!-- Jackpots -------------------------------------------------------- -->
			<div class="jackpots__wrapper">
				<h3 class="jackpots__title">Jackpots</h3>
				<div class="jackpots">
					<div class="jackpots__item diamond">
						<img class="jackpots__item-icon" src="/img/jackpots-winners/winners-diamond.png" alt="Jackpot">
						<span class="jackpots__item-value">431476.56 USD</span>
					</div>
					<div class="jackpots__item gold">
						<img class="jackpots__item-icon" src="/img/jackpots-winners/winners-gold.png" alt="Jackpot">
						<span class="jackpots__item-value">31476.56 USD</span>
					</div>
					<div class="jackpots__item silver">
						<img class="jackpots__item-icon" src="/img/jackpots-winners/winners-silver.png" alt="Jackpot">
						<span class="jackpots__item-value">1476.56 USD</span>
					</div>
					<div class="jackpots__item bronze">
						<img class="jackpots__item-icon" src="/img/jackpots-winners/winners-bronze.png" alt="Jackpot">
						<span class="jackpots__item-value">476.56 USD</span>
					</div>
				</div>
			</div>
		</div>

		<!-- Button ------------------------------------------------------------ -->
		<div class="jackpots-winners__section-button">
			<a href="/pages/registration/registration.html" class="button button--280 button--filled">Sign up</a>
		</div>

	</div>
</section>
