<div class="jackpots-table">

	<div class="jackpots-table__item">
		<div class="jackpots-table__winner">LooongLickname</div>
		<div class="jackpots-table__right">
			<div class="jackpots-table__amount">8.966,03</div>
			<div class="jackpots-table__currency">Usdt</div>
		</div>
	</div>

	<div class="jackpots-table__item">
		<div class="jackpots-table__winner">Nickname_nickname</div>
		<div class="jackpots-table__right">
			<div class="jackpots-table__amount">966,03</div>
			<div class="jackpots-table__currency">Usdt</div>
		</div>
	</div>

	<div class="jackpots-table__item">
		<div class="jackpots-table__winner">Nickname Nicknamemovich</div>
		<div class="jackpots-table__right">
			<div class="jackpots-table__amount">8.966,03</div>
			<div class="jackpots-table__currency">Usdt</div>
		</div>
	</div>

	<div class="jackpots-table__item">
		<div class="jackpots-table__winner">Nickname</div>
		<div class="jackpots-table__right">
			<div class="jackpots-table__amount">12.966,03</div>
			<div class="jackpots-table__currency">Usdt</div>
		</div>
	</div>

	<div class="jackpots-table__item">
		<div class="jackpots-table__winner">Yo</div>
		<div class="jackpots-table__right">
			<div class="jackpots-table__amount">2.932,03</div>
			<div class="jackpots-table__currency">Usdt</div>
		</div>
	</div>

	<div class="jackpots-table__item">
		<div class="jackpots-table__winner">Some kind of long nickname</div>
		<div class="jackpots-table__right">
			<div class="jackpots-table__amount">8.966,03</div>
			<div class="jackpots-table__currency">Usdt</div>
		</div>
	</div>
</div>
