<!-- Header: Language select -->
<div class="lang">
	<ul class="lang-select">
		<li class="lang-select__item active">
			<a class="lang-select__item-link" href="#">
				<span class="lang-select__item-text">Ru</span>
				<img src="../../img/components/lang-menu/flags/ru.png">
			</a>
		</li>
		<li class="lang-select__item">
			<a class="lang-select__item-link" href="#">
				<span class="lang-select__item-text">En</span>
				<img src="../../img/components/lang-menu/flags/en.png">
			</a>
		</li>
		<li class="lang-select__item">
			<a class="lang-select__item-link" href="#">
				<span class="lang-select__item-text">Es</span>
				<img src="../../img/components/lang-menu/flags/es.png">
			</a>
		</li>
		<li class="lang-select__item">
			<a class="lang-select__item-link" href="#">
				<span class="lang-select__item-text">De</span>
				<img src="../../img/components/lang-menu/flags/de.png">
			</a>
		</li>
	</ul>
</div>
