<!-- Форма для авторизации пользователя -->
<form method="post" action="#" class="form form--login">

  <fieldset class="form__section form__section--socials">
    <p class="form__description">или войти через соц.сеть:</p>
    {{ block("components/socials-auth") }}
  </fieldset>

  <fieldset class="form__section form__section--inputs">
    <div class="form__input">
      <label class="form__input-label" for="login-user">Логин, email или телефон</label>
      <input type="text" id="login-user" placeholder="Введите логин, email или телефон">
      <div class="form__error-message">Введите логин, email или телефон</div>
    </div>
    <div class="form__input">
      <label class="form__input-label" for="login-password">Пароль</label>
      <input type="password" id="login-password" placeholder="Введите пароль">
      <span class="pass-switch icon-view" data-password-toggler></span>
      <div class="form__error-message">Заполните поле "Пароль"</div>
    </div>
    <div class="form__row">
      {{ fieldCheckbox("login-rememeber", "Запомнить меня", "", "", "") }}
      <a href="/pages/restore_request/restore_request.html" class="link link--primary">Забыли пароль?</a>
    </div>
  </fieldset>

  <fieldset class="form__section form__section--captcha">
    <div class="form__input form__input--captcha">
      <label class="form__input-label" for="login-captcha">Код</label>
      <div class="captcha">
        <input type="text" id="login-captcha" placeholder="Введите код">
        <div class="captcha__img">
          <img src="../../img/components/captcha/captcha.png" alt="captcha">
        </div>
        <a href="javascript:void(0)" class="captcha__reload icon-refresh"></a>
      </div>
      <div class="form__error-message">Заполните поле "Код"</div>
    </div>
    <div class="captcha__wrapper">
      <img src="../../img/components/captcha/captcha-placeholder.jpg" alt="captcha">
    </div>
  </fieldset>

  <fieldset class="form__section form__section--submit">
    <button type="submit" class="button button--filled">Sign in</button>
  </fieldset>
</form>

<div class="form__addition">
  <span class="form__addition-text">Do not have an account?</span>
  <a class="form__addition-link" href="/pages/registration/registration.html">Sign up now</a>
</div>
