<!--
Компонент.
Программа лояльности
-->

<div class="loyalty">
	<div class="loyalty__description">
		<p>We should not, however, forget that constant quantitative growth and the scope of our activity contributes to the preparation and implementation of forms of development. Equally, the strengthening and development of the structure plays an important role in the formation of participatory systems. Ideological considerations of a higher order, as well as the existing structure of the organization, largely determine the creation of forms of development.</p>
		<p>Comrades! strengthening and development of the structure plays an important role in shaping the forms of development. It should not be forgotten, however, that the constant information and propaganda support of our activities largely determines the creation of positions taken by the participants in relation to the tasks set.</p>
	</div>

	<ul class="loyalty__list">

		<li class="loyalty__item loyalty__item--diamond">
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Level:</div>
				<div class="loyalty__item-level-value"><i class="loyalty__level-icon"></i>diamond</div>
			</div>
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Points to achieve:</div>
				<div class="loyalty__item-value"><i class="icon-loyalty-star"></i>20 000</div>
			</div>
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Limits:</div>
				<div class="loyalty__item-value">20 BTC at a time 1 and 24 hours, 4 and 7 days, 10 to 30 days</div>
			</div>
		</li>

		<li class="loyalty__item loyalty__item--platinum">
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Level:</div>
				<div class="loyalty__item-level-value"><i class="loyalty__level-icon"></i>platinum</div>
			</div>
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Points to achieve:</div>
				<div class="loyalty__item-value"><i class="icon-loyalty-star"></i>20 000</div>
			</div>
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Limits:</div>
				<div class="loyalty__item-value">20 BTC at a time 1 and 24 hours, 4 and 7 days, 10 to 30 days</div>
			</div>
		</li>

		<li class="loyalty__item loyalty__item--gold">
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Level:</div>
				<div class="loyalty__item-level-value"><i class="loyalty__level-icon"></i>gold</div>
			</div>
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Points to achieve:</div>
				<div class="loyalty__item-value"><i class="icon-loyalty-star"></i>20 000</div>
			</div>
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Limits:</div>
				<div class="loyalty__item-value">20 BTC at a time 1 and 24 hours, 4 and 7 days, 10 to 30 days</div>
			</div>
		</li>

		<li class="loyalty__item loyalty__item--silver">
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Level:</div>
				<div class="loyalty__item-level-value"><i class="loyalty__level-icon"></i>silver</div>
			</div>
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Points to achieve:</div>
				<div class="loyalty__item-value"><i class="icon-loyalty-star"></i>20 000</div>
			</div>
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Limits:</div>
				<div class="loyalty__item-value">20 BTC at a time 1 and 24 hours, 4 and 7 days, 10 to 30 days</div>
			</div>
		</li>

		<li class="loyalty__item loyalty__item--black">
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Level:</div>
				<div class="loyalty__item-level-value"><i class="loyalty__level-icon"></i>black</div>
			</div>
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Points to achieve:</div>
				<div class="loyalty__item-value"><i class="icon-loyalty-star"></i>20 000</div>
			</div>
			<div class="loyalty__item-row">
				<div class="loyalty__item-heading">Limits:</div>
				<div class="loyalty__item-value">20 BTC at a time 1 and 24 hours, 4 and 7 days, 10 to 30 days</div>
			</div>
		</li>

	</ul>

</div>
