<!-- Полное сообщение -->
<div class="msg__item">
	<h3 class="msg__item-title">Новый игровой автомат Hot Spin от iSoftBet</h3>
	<div class="msg__item-content">
    <p>Девелопер iSoftBet приглашает игроков перенестись в атмосферу классических «одноруких бандитов», которыми были наполнены игорные залы много лет назад. К слову, ретротематика является излюбленной для многих разработчиков, а геймеры встречают слот-машины подобного характера «на ура». Компания надеется, что и недавно выпущенная новинка Hot Spin.</p>
		<p>Девелопер iSoftBet приглашает игроков перенестись в атмосферу классических «одноруких бандитов», которыми были наполнены игорные залы много лет назад. К слову, ретротематика является излюбленной для многих разработчиков, а геймеры встречают слот-машины подобного характера «на ура». Компания надеется, что и недавно выпущенная новинка Hot Spin.</p>
    <p>Девелопер iSoftBet приглашает игроков перенестись в атмосферу классических «одноруких бандитов», которыми были наполнены игорные залы много лет назад. К слову, ретротематика является излюбленной для многих разработчиков.</p>
	</div>
	<span class="msg__item-date">September 14, 2018 2:53 pm</span>
	<div class="msg__item-footer">
	  <a href="/pages/messages/messages.html" class="link link--primary link--back"><i class="icon-arrow-left"></i>Back to list</a>
	</div>
</div>
