 <!-- Список сообщений -->
<ul class="msg__list">
  <li class="msg__item">
    <div class="msg__item-status"><span>New</span></div>
    <h3 class="msg__item-title">
      <a href="/pages/message/message.html" data-cut-text="45">Birthday Bonus And Long Long Title Here For Check Awesome Attribute Birthday Bonus Birthday Bonus Birthday Bonus</a>
    </h3>
    <div class="msg__item-content" data-cut-text="120">
      <p>The developer iSoftBet invites players to be transported into the atmosphere of the classic "one-handed". This, consultation with a wide asset allows you to evaluate the value corresponding to the conditions of activation. It should not be forgotten, however, that the beginning of daily work to form a position to a large extent determines the creation of further directions of development. It should not be forgotten, however, that the further development of various forms of activity largely determines the creation of new proposals.</p>
      <p>On the other hand, the further development of various forms of activity entails the process of implementation and modernization of significant financial and administrative conditions. The task of the organization, in particular the consultation with a wide asset, allows us to evaluate the value of new proposals.</p>
    </div>
    <span class="msg__item-date">31 August 2020, 06:59</span>
    <div class="msg__item-button">
      <a href="/pages/message/message.html" class="button button--w240 button--filled">Read</a>
    </div>
  </li>
  {% for item in range(0, 10) %}
  <li class="msg__item readed">
    <div class="msg__item-status"><span>New</span></div>
    <h3 class="msg__item-title">
      <a href="/pages/message/message.html" data-cut-text="45">Новый игровой автомат Hot Spin от iSoftBet</a>
    </h3>
    <div class="msg__item-content" data-cut-text="120">
      <p>On the other hand, the further development of various forms of activity entails the process of implementation and modernization of significant financial and administrative conditions. The task of the organization, in particular the consultation with a wide asset, allows us to evaluate the value of new proposals.</p>
      <p>The developer iSoftBet invites players to be transported into the atmosphere of the classic "one-handed". This, consultation with a wide asset allows you to evaluate the value corresponding to the conditions of activation. It should not be forgotten, however, that the beginning of daily work to form a position to a large extent determines the creation of further directions of development. It should not be forgotten, however, that the further development of various forms of activity largely determines the creation of new proposals.</p>
    </div>
    <span class="msg__item-date">20 September 2020, 14:14</span>
    <div class="msg__item-button">
      <a href="/pages/message/message.html" class="button button--w240 button--filled">Read</a>
    </div>
  </li>
  {% endfor %}
  <li class="msg__item readed">
    <div class="msg__item-status"><span>New</span></div>
    <h3 class="msg__item-title">
      <a data-cut-text="45">Birthday Bonus</a>
    </h3>
    <div class="msg__item-content" data-cut-text="120">
      <p>On the other hand, the further development of various forms of activity entails the process of implementation and modernization of significant financial and administrative conditions. The task of the organization, in particular the consultation with a wide asset, allows us to evaluate the value of new proposals.</p>
      <p>The developer iSoftBet invites players to be transported into the atmosphere of the classic "one-handed". This, consultation with a wide asset allows you to evaluate the value corresponding to the conditions of activation. It should not be forgotten, however, that the beginning of daily work to form a position to a large extent determines the creation of further directions of development. It should not be forgotten, however, that the further development of various forms of activity largely determines the creation of new proposals.</p>
    </div>
    <span class="msg__item-date">29 December 2020, 15:35</span>
    <div class="msg__item-button">
      <a href="/pages/message/message.html" class="button button--w240 button--filled">Read</a>
    </div>
  </li>
</ul>
