<!-- Полная новость / промо -->
<article class="article__content">
	<div class="news__one-item">
		<div class="news__item-img">
			<img src="../../img/news/news-item-image.jpg" alt="">
		</div>
		<span class="news__item-date">September 14, 2018, 14:53</span>
		<div class="news__item-title"><h3>New Hot Spin slot from iSoftBet</h3></div>
		<div class="news__item-content">
			<p>The developer iSoftBet invites players to be transported into the atmosphere of the classic "one-armed bandits" that filled the gambling halls many years ago. By the way, the retro theme is a favorite for many developers, and gamers meet this kind of slot machines with a bang. The company hopes that the recently released Hot Spin.</p>
			<p>The developer iSoftBet invites players to be transported into the atmosphere of the classic "one-armed bandits" that filled the gambling halls many years ago. By the way, the retro theme is a favorite for many developers, and gamers meet this kind of slot machines with a bang. The company hopes that the recently released Hot Spin.The developer iSoftBet invites players to be transported into the atmosphere of the classic "one-armed bandits" that filled the gambling halls many years ago. By the way, the retro theme is a favorite for many developers, and gamers meet this kind of slot machines with a bang. The company hopes that the recently released Hot Spin.</p>
			<p>The developer iSoftBet invites players to be transported into the atmosphere of the classic "one-armed bandits" that filled the gambling halls many years ago. By the way, the retro theme is a favorite for many developers, and gamers meet this kind of slot machines with a bang. The company hopes that the recently released Hot Spin.The developer iSoftBet invites players to be transported into the atmosphere of the classic "one-armed bandits" that filled the gambling halls many years ago. By the way, the retro theme is a favorite for many developers, and gamers meet this kind of slot machines with a bang. The company hopes that the recently released Hot Spin.</p>
			<p>The developer iSoftBet invites players to be transported into the atmosphere of the classic "one-armed bandits" that filled the gambling halls many years ago. By the way, the retro theme is a favorite for many developers, and gamers meet this kind of slot machines with a bang. The company hopes that the recently released Hot Spin.</p>
		</div>
		<div class="news__item-back">
			<a href="/pages/news/news.html" class="link link--primary link--back"><i class="icon-arrow-left"></i>Back to list</a>
		</div>
	</div>
</article>
