<!--
Компонент.
Пагинация
-->

<div class="pager">
  <ul class="pager__list">
    <li class="pager__item pager__item--prev"><a class="" href="#"><i class="icon-arrow-left"></i>Back</a></li>
    <li class="pager__item"><a class="" href="#">1</a></li>
    <li class="pager__item"><a class="" href="#">2</a></li>
    <li class="pager__item pager__item--active"><a class="" href="#">3</a></li>
    <li class="pager__item"><a class="" href="#">4</a></li>
    <li class="pager__item">...</li>
    <li class="pager__item"><a class="" href="#">15</a></li>
    <li class="pager__item pager__item--next"><a class="" href="#">Next<i class="icon-arrow-right"></i></a></li>
  </ul>
</div>
