<!-- Список аккаунтов пользователя -->
<div class="profile-accounts__table">
  <div class="table table-list table--accounts">
    <table>
      <thead>
        <tr>
          <th class="plate-heading"><!--empty!--></th>
          <th>Real:</th>
          <th>Bonus:</th>
          <th>Total:</th>
          <th>Status:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="plate-heading"><span>Счет</span></td>
          <td>1 421 320,83 <span>USD</span></td>
          <td>421 320,83 <span>USD</span></td>
          <td>320,83 <span>USD</span></td>
          <td class="td-status"><span>Inactive</span></td>
        </tr>
        <tr class="active">
          <td class="plate-heading"><span>Счет</span></td>
          <td>1 999,00 <span>KES</span></td>
          <td>232,01 <span>KES</span></td>
          <td>19,99 <span>KES</span></td>
          <td class="td-status"><span>Active</span></td>
        </tr>
        {% for item in range(0, 5) %}
        <tr>
          <td class="plate-heading"><span>Счет</span></td>
          <td>421 320,83 <span>EUR</span></td>
          <td>42 130,00 <span>EUR</span></td>
          <td>20,83 <span>EUR</span></td>
          <td class="td-status"><span>Inactive</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
