<!--

Компонент.
Облегченная форма регистрации.
Используется на главной в слайдере

-->

<form class="form form--registration" method="post" action="#">
	<fieldset class="form__section form__section--links socials">
		<p>Регистрируясь через социальные сети, Вы автоматически соглашаетесь с правилами казино.</p>
		{{ block("components/socials") }}
	</fieldset>

	<fieldset class="form__section">
		{{ fieldEmail("email", "", "E-mail", "", "default") }}
		{{ fieldText("name", "", "Login", "", "default") }}
		{{ fieldPassword("pass", "", "Пароль", "", "default") }}
		{{ fieldCode("captcha", "", "Code", "../../img/components/captcha/captcha.png", "", "default") }}
	</fieldset>

	<fieldset class="form__section form__section--radio">
		<div class="radio__list radio__list--vertical">
			<div class="form__input radio__item">
				<input type="radio" name="account-currency" id="rub">
				<label for="rub" class="radio__item-label">rub</label>
			</div>
			<div class="form__input radio__item">
				<input type="radio" name="account-currency" id="usd">
				<label for="usd" class="radio__item-label">usd</label>
			</div>
			<div class="form__input radio__item">
				<input type="radio" name="account-currency" id="eur">
				<label for="eur" class="radio__item-label">eur</label>
			</div>
		</div>
	</fieldset>

	<fieldset class="form__section">
		{{ fieldCheckbox("agree", 'I accept your terms and conditions.<a href="/pages/terms/terms.html">Read our Terms & Conditions</a>', "Вы должны согласиться с условиями", "error") }}
	</fieldset>

	<fieldset class="form__section form__section--submit">
		<button type="submit" class="button button--bordered">Регистрация</button>
	</fieldset>
</form>

<!--
 конец блока reg (облегченная версия)
 Блок регистрации
-->
