<div class="special-radio__list">
	<h3 class="special-radio__list-heading">Choose your bonus</h3>
	<div class="special-radio">
		<input class="special-radio__hidden-input" name="reg-bonus" type="radio" id="bonuses-1" checked>
		<label class="special-radio__label" for="bonuses-1">10 free spins for 1000 dollars deposit amount</label>
		<div class="special-radio__content">
			<div class="special-radio__row">Min deposit: <span class="bold-text">200 USDT</span></div>
			<div class="special-radio__row">Wager: <span class="bold-text">х45</span></div>
			<div class="special-radio__row">Upon cancellation, the bonus amount + deposit amount will be deducted from the account</div>
			<a class="special-radio__link" href="#">Details</a>
		</div>
	</div>
	<div class="special-radio">
		<input class="special-radio__hidden-input" name="reg-bonus" type="radio" id="bonuses-2">
		<label class="special-radio__label" for="bonuses-2">200% deposit bonus</label>
		<div class="special-radio__content">
			<div class="special-radio__row">Min deposit: <span class="bold-text">200 USDT</span></div>
			<div class="special-radio__row">Wager: <span class="bold-text">х45</span></div>
			<a class="special-radio__link" href="#">Details</a>
		</div>
	</div>
	<div class="special-radio">
		<input class="special-radio__hidden-input" name="reg-bonus" type="radio" id="bonuses-3">
		<label class="special-radio__label" for="bonuses-3">No bonus</label>
		<div class="special-radio__content"></div>
	</div>
</div>
