<!-- Полная регистрация -->
<form class="form form--registration" method="post" action="#">
	<fieldset class="form__section form__section--socials">
		<p class="form__description">через соц.сеть:</p>
		{{ block("components/socials-auth") }}
		<p class="form__description">или</p>
	</fieldset>

	<fieldset class="form__section form__section--tabs">
		<div class="registration__tabs">
			<ul class="registration__tabs--top">
				<li class="active">E-mail</li>
				<li data-phone-tab>Телефон</li>
			</ul>
			<div class="registration__tabs--content active">
				<div class="form__input">
					<label class="form__input-label" for="reg-email">E-mail</label>
					<input type="text" id="reg-email" placeholder="Введите e-mail">
					<div class="form__error-message">Вы должны заполнить поле "E-mail"</div>
				</div>
			</div>
			<div class="registration__tabs--content">
				<div class="form__input form__input--phone">
					<label class="form__input-label" for="reg-phone">Телефон</label>
					<input type="text" id="reg-phone" placeholder="Phone" value="+420XXXXNNNNNN" data-phone-number>
					<div class="form__error-message">Вы должны заполнить поле "Телефон"</div>
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset class="form__section form__section--inputs">
		<div class="form__input">
			<label class="form__input-label" for="reg-login">Логин</label>
			<input type="text" id="reg-login" placeholder="Введите логин">
			<div class="form__error-message">Вы должны заполнить поле "Логин"</div>
		</div>
		<div class="form__input form__input--select">
			<label class="form__input-label" for="reg-currency">Валюта</label>
			<select id="reg-currency" data-select-menu>
				<option>Выберите валюту</option>
				<option>EUR</option>
				<option>USD</option>
				<option>RUB</option>
				<option>UAH</option>
			</select>
			<div class="form__error-message">You must fill in the field</div>
		</div>
		<div class="form__input">
			<label class="form__input-label" for="reg-password">Пароль</label>
			<input type="password" id="reg-password" placeholder="Введите пароль">
			<span class="pass-switch icon-view" data-password-toggler></span>
			<div class="form__error-message">Заполните поле "Пароль"</div>
		</div>
		<div class="form__input">
			<label class="form__input-label" for="reg-password-repeat">Повторите пароль</label>
			<input type="password" id="reg-password-repeat" placeholder="Введите пароль повторно">
			<span class="pass-switch icon-view" data-password-toggler></span>
			<div class="form__error-message">Заполните поле "Повторите пароль"</div>
		</div>
	</fieldset>

	<fieldset class="form__section form__section--checkboxes">
		{{ fieldCheckbox("reg-agree1", 'I am over 18 years old', "You must agree with this", "") }}
		{{ fieldCheckbox("reg-agree2", 'I agree to the Duke Casino <a href="/pages/terms/terms.html">Terms & Conditions</a>', "You must agree with this", "error") }}
		{{ fieldCheckbox("reg-agree3", 'I want to receive newsletters and promotions.', "You must agree with this", "") }}
	</fieldset>

	<fieldset class="form__section form__section--bonuses">
		{{ block("components/registration-bonuses-list")}}
	</fieldset>

	<fieldset class="form__section form__section--captcha">
		<div class="form__input form__input--captcha">
			<label class="form__input-label" for="login-captcha">Код</label>
			<div class="captcha">
				<input type="text" id="login-captcha" placeholder="Введите код">
				<div class="captcha__img">
					<img src="../../img/components/captcha/captcha.png" alt="captcha">
				</div>
				<a href="javascript:void(0)" class="captcha__reload icon-refresh"></a>
			</div>
			<div class="form__error-message">Заполните поле "Код"</div>
		</div>
		<div class="captcha__wrapper">
			<img src="../../img/components/captcha/captcha-placeholder.jpg" alt="captcha">
		</div>
	</fieldset>

	<fieldset class="form__section form__section--submit">
		<button type="submit" class="button button--filled">Cоздать аккаунт</button>
	</fieldset>
</form>

<div class="form__addition">
	<span class="form__addition-text">Have an account?</span>
	<a class="form__addition-link" href="/pages/login/login.html">Sign in</a>
</div>
