<div class="loader__wrapper">
	<div class="loader__wheel">
		<span class="loader__wheel__spoke"></span>
		<span class="loader__wheel__spoke"></span>
		<span class="loader__wheel__spoke"></span>
		<span class="loader__wheel__spoke"></span>
		<span class="loader__wheel__spoke"></span>
		<span class="loader__wheel__spoke"></span>
		<span class="loader__wheel__spoke"></span>
		<span class="loader__wheel__spoke"></span>
		<span class="loader__wheel__spoke"></span>
		<span class="loader__wheel__spoke"></span>
		<span class="loader__wheel__spoke"></span>
		<span class="loader__wheel__spoke"></span>
	</div>
	<p class="modal__message">The gaming session is finishing. Please, wait and do not close the window ...</p>
</div>
