<!--
Компонент.
Форма авторизации пользователя
Используется в шапке у неавторизированного пользователя
-->

<form method="post" action="#" class="form form-sign-in">
	<div class="form__input form__input--small">
		<input type="text" id="header-login" placeholder="Login">
	</div>
	<div class="form__input form__input--small">
		<input type="password" id="header-password" placeholder="Password">
		<a href="/pages/restore_request/restore_request.html" class="forgot-link">Забыли пароль?</a>
	</div>
	<button type="submit" class="button button--280 button--filled">Login</button>
</form>
