<!-- Основной слайдер на главной -->

<div class="swiper-container slider-main" data-slider-main>
	<div class="swiper-wrapper">

		<div class="slider-main__slide swiper-slide">
			<div class="slider-main__img">
				<img src="/img/components/swiper/sliders/main-slider-bg-1.jpg" class="swiper-lazy" alt="Slide">
				<div class="swiper-lazy-preloader"></div>
			</div>
			<div class="slider-main__content">
				<p class="text--big"><span class="text--gold">200%</span>up to</p>
				<p><span class="text--sparkling">$ 1000</span></p>
				<p><span class="text--gold">+20%</span>free spins</p>
				<a href="#" class="button button--filled button--big"><span>Join now</span></a>
			</div>
		</div>

		<div class="slider-main__slide swiper-slide">
			<div class="slider-main__img">
				<img src="/img/components/swiper/sliders/2.jpg" class="swiper-lazy" alt="Slide">
				<div class="swiper-lazy-preloader"></div>
			</div>
		</div>

		<div class="slider-main__slide swiper-slide">
			<div class="slider-main__img">
				<img src="/img/components/swiper/sliders/3.jpg" class="swiper-lazy" alt="Slide">
				<div class="swiper-lazy-preloader"></div>
			</div>
		</div>

		<div class="slider-main__slide swiper-slide">
			<div class="slider-main__img">
				<img src="/img/components/swiper/sliders/4.jpg" class="swiper-lazy" alt="Slide">
				<div class="swiper-lazy-preloader"></div>
			</div>
		</div>
	</div>

	<div class="swiper-navigation">
		<div class="swiper-pagination"></div>
	</div>

	<!-- <div class="swiper-arrow--prev"><i class="icon-slider-arrow-prev"></i></div>
	<div class="swiper-arrow--next"><i class="icon-slider-arrow-next"></i></div> -->
</div>
