<section class="slider-winners__section">
	<div class="container">
		<h2 class="slider-winners__section-heading">Winners</h2>

		<div class="slider-winners" data-winners-slider data-lazy>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{% for item in range(0, 4) %}
					<div class="slider-winners__slide swiper-slide">
						<div class="slider-winners__slide-img">
							<img data-src="/img/games/12.svg" alt="">
						</div>
						<div class="slider-winners__slide-footer">
							<div class="slider-winners__slide-nickname">Nickname</div>
							<div class="slider-winners__slide-amount">1 202 587 USD</div>
						</div>
					</div>
					<div class="slider-winners__slide swiper-slide">
						<div class="slider-winners__slide-img">
							<img data-src="/img/games/11.svg" alt="">
						</div>
						<div class="slider-winners__slide-footer">
							<div class="slider-winners__slide-nickname">Long Nickname Right Here</div>
							<div class="slider-winners__slide-amount">999 999 999 USD</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="slider-winners__section-button">
			<a href="/pages/news/news.html" class="button button--w210 button--filled">See all</a>
		</div>
	</div>
</section>
