<section class="jackpots__section">
	<div class="container">
		<h2 class="jackpots__section-heading">Jackpots</h2>

		<div class="jackpots__section-slider slider-jackpots" data-jackpots-slider data-lazy>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="slider-jackpots__slide swiper-slide">
						<div class="slider-jackpots__slide-image">
							<img data-src="/img/jackpots-winners/jackpots--diamond.png" alt="">
						</div>
						<div class="slider-jackpots__slide-heading">$ 95476.56</div>
					</div>
					<div class="slider-jackpots__slide swiper-slide">
						<div class="slider-jackpots__slide-image">
							<img data-src="/img/jackpots-winners/jackpots--diamond.png" alt="">
						</div>
						<div class="slider-jackpots__slide-heading">Gold: $ 9547.56</div>
					</div>
					<div class="slider-jackpots__slide swiper-slide">
						<div class="slider-jackpots__slide-image">
							<img data-src="/img/jackpots-winners/jackpots--diamond.png" alt="">
						</div>
						<div class="slider-jackpots__slide-heading">Silver: $ 954.56</div>
					</div>
					<div class="slider-jackpots__slide swiper-slide">
						<div class="slider-jackpots__slide-image">
							<img data-src="/img/jackpots-winners/jackpots--diamond.png" alt="">
						</div>
						<div class="slider-jackpots__slide-heading">Bronze: $ 95.56</div>
					</div>
				</div>
			</div>

			<span class="slider-arrow--prev"><i class="icon-games-types-arrow-prev"></i></span>
			<span class="slider-arrow--next"><i class="icon-games-types-arrow-next"></i></span>
		</div>


		<div class="jackpots__section-button">
			<a href="/pages/registration/registration.html" class="button button--w210 button--filled">Registration</a>
		</div>
	</div>
</section>
