<!-- Кнопки социальных сетей рега / логин -->
<ul class="socials__list socials__list--auth">
	<li class="socials__item"><a class="socials__item-link active" href="#"><i class="icon-facebook"></i></a></li>
	<li class="socials__item"><a class="socials__item-link active" href="#"><i class="icon-google"></i></a></li>
	<li class="socials__item"><a class="socials__item-link" href="#"><i class="icon-vk"></i></a></li>
	<li class="socials__item"><a class="socials__item-link" href="#"><i class="icon-instagram"></i></a></li>
	<li class="socials__item"><a class="socials__item-link" href="#"><i class="icon-twitter"></i></a></li>
	<li class="socials__item"><a class="socials__item-link active" href="#"><i class="icon-ok-profile"></i></a></li>
</ul>
