<!--

Компонент.
Подробности турнира

-->

<ul class="tournament" data-lazy>
    {{ block("elements/tournament-item") }}
</ul>
<ul class="tournament-winners">
	<li class="tournament-winners__item">
		<ul>
			<li>
				Место:<span class="tournament__place gold">1</span>
			</li>
			<li>
				Приз:<span>12000</span>
			</li>
			<li>
				Игрок:<span>Grisha Azimov</span>
			</li>
			<li>
				Баллы:<span>12000</span>
			</li>
		</ul>
	</li>
	<li class="tournament-winners__item">
		<ul>
			<li>
				Место:<span class="tournament__place silver">2</span>
			</li>
			<li>
				Приз:<span>12000</span>
			</li>
			<li>
				Игрок:<span>Grisha Azimov</span>
			</li>
			<li>
				Баллы:<span>12000</span>
			</li>
		</ul>
	</li>
	<li class="tournament-winners__item">
		<ul>
			<li>
				Место:<span class="tournament__place bronze">3</span>
			</li>
			<li>
				Приз:<span>12000</span>
			</li>
			<li>
				Игрок:<span>Grisha Azimov</span>
			</li>
			<li>
				Баллы:<span>12000</span>
			</li>
		</ul>
	</li>
    {% for item in range(0, 7) %}
    <li class="tournament-winners__item">
        <ul>
            <li>
                Место:<span class="tournament__place">4</span>
            </li>
            <li>
                Приз:<span>12000</span>
            </li>
            <li>
                Игрок:<span>Grisha Azimov</span>
            </li>
            <li>
                Баллы:<span>12000</span>
            </li>
        </ul>
    </li>
    {% endfor %}
</ul>