<!-- Компонент. Список депозитов -->
<ul class="transactions__list" data-lazy>
  {% for item in range(0, 4) %}
  <li class="transactions__item">
    <div class="transactions__item-img">
      <img data-src="../../img/payments/piastrix.svg" alt="Payment system">
    </div>
    <div class="transactions__item-description">
      <p>При пополнении с карты VISA/MC минимальный платеж составляет от 500 RU.</p>
      <p>Может взыматься комиссия со стороны платежных провайдеров.</p>
      <div class="transactions__item-description-limits">
        <p>Лимиты на ввод</p>
        <p><b>100.00 - 10,000.00 RUB</b></p>
      </div>
    </div>
    <a data-modal href="/pages/modals/deposit/deposit.html" class="button button--w175 button--light-filled transactions__item-button">Deposit</a>
  </li>
  <li class="transactions__item">
    <div class="transactions__item-img">
      <img data-src="../../img/payments/mastercard.png" alt="Payment system">
    </div>
    <div class="transactions__item-description">
      <p>A payment order is drawn up when money is transferred from one current account to another.</p>
    </div>
    <a data-modal href="/pages/modals/deposit/deposit.html" class="button button--w175 button--light-filled transactions__item-button">Deposit</a>
  </li>
  <li class="transactions__item">
    <div class="transactions__item-img">
      <img data-src="../../img/payments/free-kassa.svg" alt="Payment system">
    </div>
    <div class="transactions__item-description">
      <p>При пополнении с карты VISA/MC минимальный платеж составляет от 500 RU.</p>
      <p>Может взыматься комиссия со стороны платежных провайдеров.</p>
      <div class="transactions__item-description-limits">
        <p>Лимиты на ввод</p>
        <p><b>00.99 - 999,000.00 RUB</b></p>
      </div>
    </div>
    <a data-modal href="/pages/modals/deposit/deposit.html" class="button button--w175 button--light-filled transactions__item-button">Deposit</a>
  </li>
  {% endfor %}
</ul>
