<!-- Форма обновления данных -->
<form method="post" action="#" class="form form--update-data">
	<fieldset class="form__section form__section--inputs">
		<div class="form__input">
			<label class="form__input-label" for="update-password">Пароль</label>
			<input type="password" id="update-password" placeholder="Введите пароль">
			<span class="pass-switch icon-view" data-password-toggler></span>
			<div class="form__error-message">Заполните поле "Пароль"</div>
		</div>
		<div class="form__input">
			<label class="form__input-label" for="update-password-repeat">Повторите пароль</label>
			<input type="password" id="update-password-repeat" placeholder="Введите пароль повторно">
			<span class="pass-switch icon-view" data-password-toggler></span>
			<div class="form__error-message">Заполните поле "Повторите пароль"</div>
		</div>
		<div class="form__input">
			<label class="form__input-label" for="update-login">Новый код</label>
			<input type="text" id="update-login" placeholder="Введите новый код">
			<div class="form__error-message">Вы должны заполнить поле "Новый код"</div>
		</div>
		<div class="form__input form__input--phone">
			<label class="form__input-label" for="update-phone">Телефон</label>
			<input type="text" id="update-phone" placeholder="Введите телефон" value="+420XXXXNNNNNN" data-phone-number>
			<div class="form__error-message">Вы должны заполнить поле "Телефон"</div>
		</div>
		<div class="form__input">
			<label class="form__input-label" for="update-email">E-mail</label>
			<input type="text" id="update-email" placeholder="Введите e-mail">
			<div class="form__error-message">Вы должны заполнить поле "E-mail"</div>
		</div>
		{{ fieldCheckbox("update-agree2", 'I agree to the Duke Casino <a href="/pages/terms/terms.html">Terms & Conditions</a> and I over 18 years old', 'You must accept this field', "error") }}
	</fieldset>

	<fieldset class="form__section form__section--captcha">
		<div class="form__input form__input--captcha">
			<label class="form__input-label" for="update-captcha">Код</label>
			<div class="captcha">
				<input type="text" id="update-captcha" placeholder="Введите код">
				<div class="captcha__img">
					<img src="../../img/components/captcha/captcha.png" alt="captcha">
				</div>
				<a href="javascript:void(0)" class="captcha__reload icon-refresh"></a>
			</div>
			<div class="form__error-message">Заполните поле "Код"</div>
		</div>
		<div class="captcha__wrapper">
			<img src="../../img/components/captcha/captcha-placeholder.jpg" alt="captcha">
		</div>
	</fieldset>

	<fieldset class="form__section form__section--submit">
		<button type="submit" class="button button--390 button--filled">Update</button>
	</fieldset>
</form>
