<!-- Форма загрузки документа в профиле пользователя -->
<form class="form form--upload" enctype="" action="" method="">

	<div class="form-upload-doc__inputs">
		<input type="hidden" value="" name="">
		<input id="upload-file" accept="image/*" type="file" value="Файл не выбран" name="file">
		<label for="upload-file" class="form-upload-doc__upload-input">Select a file <span class="form-upload-doc__upload-input-icon"></span></label>
		<p class="form-upload-doc__result-message">No file selected</p>
	</div>

	<div class="form-upload-doc__buttons">
		<div class="documents__rules">
			<div class="documents__rules-item">
				<span><i class="icon-docs-warning"></i></span>
				<span>Image files will be deleted immediately after verification.
			</div>
			<div class="documents__rules-item">
				<span><i class="icon-docs-jpg"></i><i class="icon-docs-png"></i></span>
				<span>You can upload images in JPG and PNG format up to 8Mb.</span>
			</div>
		</div>
		<button type="submit" class="button button--w240 button--filled">Upload</button>
	</div>

	<div class="form__error-message">
		<p>Файл слишком большой. Размер изображения не должен превышать 8MB, рекомендуется использовать файлы в JPEG или PNG</p>
	</div>
</form>
