<!-- Header (logged): user avavtar + messages + profile menu -->
<div class="header-user" data-header-profile>
	<div class="header-user__avatar">
		<div class="header-user__messages">
			<span class="header-user__messages-count">21</span>
			<i class="icon-messages-bell"></i>
		</div>
		<div class="header-user__avatar-image">
			<img src="../../img/user/avatar-default-header.svg" alt="">
		</div>
		<div class="header-user__avatar-name">Alex</div>
	</div>
	<div class="header-user__menu">
		{{ block("components/menu/header-profile-menu") }}
	</div>
</div>
