<div class="winners-table">
	<div class="winners-table__item">
		<div class="winners-table__item-left">
			<div class="winners-table__item-img">
				<img src="/img/games/1.svg" alt="">
			</div>
			<div class="winners-table__item-content">
				<div class="winners-table__item-name">Nickname</div>
				<div class="winners-table__item-game">Game_Name</div>
			</div>
		</div>
		<div class="winners-table__item-right">
			<div class="winners-table__item-value">8.966,03<span>usdt</span></div>
		</div>
	</div>
	<div class="winners-table__item">
		<div class="winners-table__item-left">
			<div class="winners-table__item-img">
				<img src="/img/games/6.svg" alt="">
			</div>
			<div class="winners-table__item-content">
				<div class="winners-table__item-name">Nickname</div>
				<div class="winners-table__item-game">Long_Long_Long_Game_Name</div>
			</div>
		</div>
		<div class="winners-table__item-right">
			<div class="winners-table__item-value">6.588,99<span>usdt</span></div>
		</div>
	</div>
	<div class="winners-table__item">
		<div class="winners-table__item-left">
			<div class="winners-table__item-img">
				<img src="/img/games/5.svg" alt="">
			</div>
			<div class="winners-table__item-content">
				<div class="winners-table__item-name">Awesome Nickname</div>
				<div class="winners-table__item-game">Game_Name</div>
			</div>
		</div>
		<div class="winners-table__item-right">
			<div class="winners-table__item-value">8.966,889<span>usdt</span></div>
		</div>
	</div>
	<div class="winners-table__item">
		<div class="winners-table__item-left">
			<div class="winners-table__item-img">
				<img src="/img/games/2.svg" alt="">
			</div>
			<div class="winners-table__item-content">
				<div class="winners-table__item-name">Nickname</div>
				<div class="winners-table__item-game">Long_Long_Long_Game_Name</div>
			</div>
		</div>
		<div class="winners-table__item-right">
			<div class="winners-table__item-value">100.000,00<span>usdt</span></div>
		</div>
	</div>
	<div class="winners-table__item">
		<div class="winners-table__item-left">
			<div class="winners-table__item-img">
				<img src="/img/games/3.svg" alt="">
			</div>
			<div class="winners-table__item-content">
				<div class="winners-table__item-name">Awesome Nickname</div>
				<div class="winners-table__item-game">Game_Name</div>
			</div>
		</div>
		<div class="winners-table__item-right">
			<div class="winners-table__item-value">855,89<span>usdt</span></div>
		</div>
	</div>
	<div class="winners-table__item">
		<div class="winners-table__item-left">
			<div class="winners-table__item-img">
				<img src="/img/games/4.svg" alt="">
			</div>
			<div class="winners-table__item-content">
				<div class="winners-table__item-name">Awesome Nickname</div>
				<div class="winners-table__item-game">Game_Name</div>
			</div>
		</div>
		<div class="winners-table__item-right">
			<div class="winners-table__item-value">855,89<span>usdt</span></div>
		</div>
	</div>
</div>
