<!--

Компонент.
Виджет победителей

-->
<section class="section">
	<div class="container">
		<div class="section__header">
			<h2 class="section__title"><i class="icon-winners"></i>Winners</h2>
			<div class="swiper-pagination"></div>
		</div>
		<div class="winners" data-lazy>
			<div class="swiper-container" data-slider-winners>
				<ul class="swiper-wrapper" >
					{% for item in range(0, 15) %}
					<li class="swiper-slide">
						<div class="winners__item">
							<div class="winners__img">
								<img data-src="/img/games/5.svg" alt="">
							</div>
							<div class="winners__info">
								<span class="winners__name">Winners Name</span>
								<span class="winners__value">2 223 438 $</span>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>
