@import "src/app/common/scss/colors";

.header-section {
  padding: 1rem 0;
  display: flex;
  background: $white;
  .header-logo {
    padding: 0 1rem;
    width: 20%;
    .header-logo {
      width: 120px;
    }
  }
  .header-container {
    padding: 0 1rem;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    .header-content {
      display: flex;
      align-items: center;
      .button-group {
        .btn-icon {
          margin-left: 1rem;
          background: $grey;
          .header-icon {
            color: $text;
          }
        }
      }
      .personal-info {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        cursor: pointer;
        .personal-image {
          margin: 0 1rem;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}
