<section class="header-section">
  <div class="header-logo">
    <img class="header-logo" src="assets/images/logoMain.png" alt="">
  </div>
  <div class="header-container">
    <div class="header-content">
      <div class="button-group">
        <button mat-icon-button class="btn-icon" matBadge="15" matBadgeColor="warn">
          <span class="material-icons header-icon">notifications_none</span>
        </button>
        <button mat-icon-button class="btn-icon" matBadge="5" matBadgeColor="warn">
          <span class="material-icons header-icon">question_answer</span>
        </button>
      </div>
      <div class="personal-info" [routerLink]="url.profile">
        <img class="personal-image" src="assets/images/portrait.jpg" alt="">
        <div>
          {{user.email}}
        </div>
      </div>
    </div>
  </div>
</section>
