{% set logged = "yes" %}
{% extends "master/master.html" %}
{% block content %}

<!-- --- Main slider ------------------------------------------------------- -->
{{ block("components/slider-main") }}

<div class="page page-games">
	<!-- --- Games types slider ---------------------------------------------- -->
	{{ block("components/menu/games-menu-simple") }}
	<!-- --- Panel with sorting, proviiders & search ------------------------- -->
	{{ block("components/games-providers-search") }}

	<!-- --- Games tables list + title + pagination -------------------------- -->
	<section class="games__section games__section--x-pro">
		<div class="container">
			<h2 class="games__section-heading">X-Pro Gaming</h2>

			{{ block("components/tables-list") }}

			<div class="games__section-pagination">
				{{ block("components/pagination")}}
			</div>
		</div>
	</section>
</div>
{% endblock %}
