@media all and (max-width: 1220px)
	// ----- HEADER --------------------------------------------------------------
	.header
		& .header-menu
			display: none

		&__layout
			&-top
				padding-left: 20px
				padding-right: 60px

			&-bottom
				padding-left: 60px
				padding-right: 60px

		&__burger
			display: block

			& .header-menu
				display: block

		&__search
			font-size: 28px
			padding: 30px 5px 15px 15px

	.button--login
		font-size: 16px

	// ----- JACKPOTS & WINNERS section / MAIN page ------------------------------
	.jackpots-winners__section
		&-inner
			margin-bottom: 30px

		/* coins */
		&:before
			width: 100px
			height: 210px
			top: 150px

		&:after
			width: 70px
			height: 170px
			top: 130px

	// ----- SEO block / MAIN page -----------------------------------------------
	.section--seo
		/* coins on side */
		&:before
			width: 65px
			height: 155px
			bottom: 55px
		&:after
			width: 55px
			height: 70px
			bottom: 75px



	// ----- footer --------------------------------------------------------------
	.footer
		padding-bottom: 35px

		&__currency-icons-link
			margin-left: 20px
			margin-right: 20px

		&__copyright
			padding-left: 15px
			padding-right: 15px
			margin-left: 0
			margin-right: 0

	// ---------------------------------------------------------------------------
	.jackpots-special__item
		width 240px
	.jackpots-special__item-numbers-counter
		font-size 20px
	.jackpots-special__item-currency
		font-size 20px

	// ----- BONUSES -------------------------------------------------------------
	.page-profile__content .bonuses__list,
	.shop__list
		grid-template-columns: repeat(3,1fr)

	// ----- ONE BONUS (bonuses info) page ---------------------------------------
	.bonus-info
		&__header
			height: 525px
			padding: 70px

	// ----- TOURNAMENTS ---------------------------------------------------------
	.tournament
		max-width 918px
		margin 0 auto
		&__wrapper
			flex-direction column
		&__info
			width 100%
			margin 0
		&__description
			&--wrapper
				width 100%
				margin 25px 0 0 0

	// ------ components page ----------------------------------------------------
	.components
		&__list
			grid-template-columns repeat(1,1fr)
