// -----------------------------------------------------------------------------
// ----- 320 -------------------------------------------------------------------
// -----------------------------------------------------------------------------
@media all and (max-width: 320px)
	.button--registration
		max-width: 50%

// -----------------------------------------------------------------------------
// ----- 350 -------------------------------------------------------------------
// -----------------------------------------------------------------------------
@media all and (max-width: 350px)
	// ---------------------------------------------------------------------------
	.form--registration
		.form__section
			max-width 300px
		.iti__country-name
			max-width 200px

	// ------ HEADER -------------------------------------------------------------
	.currency .selectric .label
		max-width: 105px

	// ---------------------------------------------------------------------------
	// ----- common PAGES styles -------------------------------------------------
	// ---------------------------------------------------------------------------
	.container
		padding: 0 10px


@media all and (max-width: 370px)
	.header-user__transactions
		display none
