@media all and (max-width: 380px)
	// ---------------------------------------------------------------------------
	.container
		padding 0 10px

	// ------ FOOTER -------------------------------------------------------------
	.footer-providers__list-item
		width: calc(100% / 2)

	// ------ HEADER -------------------------------------------------------------
	.user-info__wrapper
		justify-content: space-between

	.points,
	.currency
		margin: 0

	.currency .selectric .label
		max-width: 155px
