// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
@media all and (max-width: 480px)

	// ------ HEADER SEARCH ------------------------------------------------------
	body.header-search .search__wrapping
		padding 0 30px
			padding-right: 15px
