@media all and (max-width: 640px)
	// ---------------------------------------------------------------------------
	// ---- Modals ---------------------------------------------------------------
	.mfp-inline-holder .mfp-content,
	.mfp-ajax-holder .mfp-content,
	.mfp-content,
	.mfp-content .wrapping
		width 100%

	// ---- Loyalty --------------------------------------------------------------
	.loyalty__list
		grid-template-columns: repeat(1,1fr)
