extends layouts/default
include helpers/mixins

block variables
    - const title = "gulp-pug-starter"

block content
    h1 My pages
    a(href='/catalog.html') Catalog
block scripts
    script(src="js/main.js")
    script(src="js/vendor.js")
