/***
*
* Форма загрузки файлов
*
***/
.form--upload
	display flex
	align-items center
	justify-content: space-between
	text-align center
	width 100%
	max-width 100%

	& input[type="file"]
		display none
		visibility: hidden

	& .form__error-message
		font-size: 14px
		line-height: 16px
		margin-top 10px
		text-align center
		& p
			margin-bottom 0

.form-upload-doc
	&__upload-input
		font-size: 16px
		line-height: 1.5
		font-weight 400
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		cursor pointer

		&-icon
			width: 75px
			height: 70px
			background-image: url("../img/documents/documents-upload.svg")
			background-position: center
			background-size: contain
			background-repeat: no-repeat
			margin: 25px 0 5px 25px

	&__result-message
		color var(--primary-accent)
		font-size: 14px
		line-height: 1.5
		font-weight: 400
		margin 0

	&__inputs
		width 220px
		margin: 0 auto 20px

	&__buttons
		width: 280px
		margin: auto
