.form__input
	/* ------ label stuff ----------------------------------------------------- */
	&-label:empty
		display: none

	&-label
		display: block
		width: 100%
		font-size: 14px
		line-height: 1.5
		font-weight: 400
		color: var(--primary-accent)
		text-align: left

	/* ----- inputs ----------------------------------------------------------- */
	&-label + input[type='text'],
	&-label + input[type='password'],
	&-label + input[type='email'],
	&-label + input[type='tel'],
	&-label + .iti input[type='text']
		border: 0
		border-bottom: 2px solid var(--primary-accent)
		padding-left: 0
		padding-right: 0

	&-label + textarea
		border: 0

	&-label + input[type='password']
		padding-right: 50px

	/* ----- passowrd --------------------------------------------------------- */
	&-label ~ .pass-switch
		top: 20px

	/* ----- selectric -------------------------------------------------------- */
	&-label + .selectric-wrapper
		& .selectric
			border: 0
			border-bottom: 2px solid var(--primary-accent)

			& .label
				padding: 5px 45px 5px 0
