input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='search'],
textarea
	width: 100%
	height: 45px
	font-size 16px
	line-height: 35px
	background-color: transparent
	border 2px solid var(--primary-accent)
	box-shadow: none
	border-radius: 0
	color: var(--primary-accent-lighter)
	padding: 5px 10px
	box-sizing border-box
	transition: $t-border-color
	text-overflow: ellipsis
	overflow: hidden

	&::placeholder
		color: var(--primary-accent-lighter)
		opacity: .5
		transition: $t-opacity

	&:focus::placeholder
		opacity: 0

	&:focus
		color: var(--primary-accent-lighter)

input[type='password']
	letter-spacing: 5px
	font-weight: 700
	padding-right 50px

	&::placeholder
		font-weight normal
		letter-spacing normal

	&:focus::placeholder
		opacity: 0

textarea
	width: 100%
	height 200px
	background-color: var(--primary-accent-lighter)
	font-family: inherit
	color: var(--primary-accent)
	font-size: 16px
	line-height: 1.5
	padding: 10px
	border-radius: 5px
	margin-top: 15px
	box-sizing: border-box
	resize: none
	overflow: auto

	&::placeholder
		color: var(--primary-accent)
		opacity: .5
		transition: $t-opacity

	&:focus::placeholder
		opacity: 0

	&:focus
		color: var(--primary-accent)



	/***
	* Обнуление автозаполнения инпутов в современных браузерах
	***/
	&:-webkit-autofill
		-webkit-animation-name autofill-fix
		-webkit-animation-fill-mode both
	@-webkit-keyframes autofill-fix
		to
			color #fff
			background #c4c4c4
	/***
	* Обнуление автозаполнения инпутов в edge
	***/
	&[class*="edge-auto"]
		color #ffffff !important
		background-color #c4c4c4 !important

		&:focus
			color #ffffff !important
			background-color #c4c4c4 !important

// -----------------------------------------------------------------------------
// Component - Form Input ------------------------------------------------------
// -----------------------------------------------------------------------------
.form__input
	width: 100%
	margin-bottom: 40px
	position: relative

	/* ----- textarea --------------------------------------------------------- */
	&--textarea
		margin-bottom: 55px

	/* ----- error ------------------------------------------------------------ */
	&.error
		& .form__error-message
			display block

		& input[type='text'],
		& input[type='password'],
		& input[type='email'],
		& input[type='tel'],
		& textarea
			border-color: var(--error-color)

	/* ----- success ---------------------------------------------------------- */
	&.success
		& .form__success-message
			display block

		& input[type='text'],
		& input[type='password'],
		& input[type='email'],
		& input[type='tel'],
		& textarea
			border-color: var(--success-color)

	/* ----- disabled --------------------------------------------------------- */
	& input[type='text']:disabled,
	& input[type='password']:disabled,
	& input[type='email']:disabled,
	& input[type='tel']:disabled,
	& textarea:disabled
		color: rgba(255,255,255,.1)
		cursor: default

	/* ----- forgot link message ---------------------------------------------- */
	& .forgot-link
		font-size: 10px
		line-height: 16px
		text-align: center
		padding 0 10px
		color: $input-color
		background-color: $input-background
		border-radius 3px
		position: absolute
		right: 0
		top: 45px
		cursor: pointer
		transition: $t-color

		&:hover
			color: var(--primary-accent)
