/***
*
* Phone plugin stuff
*
***/

.form__input--phone
	& input[data-intltelinput]
		max-width: 100%

	& .iti__country-list--wrapper
		width: 100%
		margin-top: -1px
		box-shadow: $input-box-shadow
		position: absolute
		left: 0
		top: 100%
		overflow: hidden
		z-index: 2

	& .iti__country-list
		background-color: $input-background
		border: 0
		box-shadow: none
		border-radius: 0
		margin-left: 0
		overflow-x: hidden
		position: static

		&.iti__country-list--dropup
			margin-bottom: 0

	& .iti__divider
		border-color: $primary-gray

	& .iti__country
		white-space: normal
		cursor: pointer

		& .iti__country-name
			display: inline

		& .iti__dial-code,
		& .iti__country-name
			font-size: 14px
			line-height: 16px
			color: var(--primary-accent-complimentary)

		/* hover */
		&.iti__highlight
			background-color: rgba(255,255,255,.25)

// ----- disabled -----
.form__input--phone.disabled
	& .iti__flag-container
		color: rgba(255,255,255,.1)
		cursor: default !important
		pointer-events:none

	& .iti__flag,
	& .iti__arrow
		opacity: .35

	& input[data-intltelinput]
		color: rgba(255,255,255,.1)
		pointer-events: none
		cursor: default

		&:focus
			border-color: inherit
			color: inherit
