/***
*
* Selectric default stuff
*
***/
.selectric-wrapper
	& .selectric
		background-color: transparent
		border 2px solid var(--primary-accent)
		border: 0
		border-radius 0

		& .label
			font-size 16px
			line-height: 35px
			font-weight: normal
			color: var(--primary-accent-lighter)
			padding: 5px 45px 5px 10px

		& .button
			width: 45px
			height: 45px

			&:before,
			&:after
				width: 14px
				height: 2px
				background-color: var(--primary-accent-lighter)
			&:before
				right: 10px
			&:after
				right: 0

	/* opened */
	&.selectric-open
		& .selectric
			border-radius 0

		/* dropdown */
		& .selectric-items
			background-color: var(--secondary-accent)
			border: 0
			border-radius: 10px
			margin-top: 20px

			& li
				min-height: 64px
				font-size: 18px
				line-height: 18px
				color: var(--primary-accent-complimentary)
				padding: 5px 20px
				border: 0
				transition: $t-bg-color, $t-color

				@media (hover: hover)
					&:hover,
					&.highlighted
						color: var(--secondary-accent-text)
						background-color: var(--primary-accent)


// ----- default: disabled ------
.selectric-wrapper.selectric-disabled
	opacity: 1

	& .selectric
		& .label
			color: rgba(255,255,255,.1)

		& .button
			opacity: .25
