<section class="main lending-about-section">
  <div class="text-title lending-about-title">
    Jak to funguje?
  </div>
  <div class="steps-container">
    <div class="step-container">
      <div class="step-img-container">
        <img class="step-img" src="assets/images/card1.jpg">
      </div>
      <div class="step-desc-container">
        <div class="step-count">
          01
        </div>
        <div class="step-title">
          Registrace a platba ucasti
        </div>
        <div class="step-description">
          Po zaplaceni na osobnim uctu ziska kazdy ucastnik pristup ke cvikam
        </div>
      </div>
    </div>
    <div class="step-container">
      <div class="step-desc-container">
        <div class="step-count">
          02
        </div>
        <div class="step-title">
          Seznameni s planem jidla
        </div>
        <div class="step-description">
          Na zaklade charakteristik vaseho tela vam poskytneme vyzivova doporuceni
        </div>
      </div>
      <div class="step-img-container">
        <div class="step-img">
          <img class="step-img" src="assets/images/card2.jpg">
        </div>
      </div>
    </div>
    <div class="step-container">
      <div class="step-img-container">
        <img class="step-img" src="assets/images/card3.jpg">
      </div>
      <div class="step-desc-container">
        <div class="step-count">
          03
        </div>
        <div class="step-title">
          Denni cviceni
        </div>
        <div class="step-description">
          Kazdy den proved'te kratky treninkovy maraton a nahrajte svuj videozaznam
        </div>
      </div>
    </div>
    <div class="step-container">
      <div class="step-desc-container">
        <div class="step-count">
          04
        </div>
        <div class="step-title">
          Vyber viteze
        </div>
        <div class="step-description">
          Po 4 tydnecj vybere nase porota nejuspesnejsi ucasniky, pro ktere muzete hlasovat
        </div>
      </div>
      <div class="step-img-container">
        <img class="step-img" src="assets/images/card4.jpg">
      </div>
    </div>

  </div>

</section>
