<section class="home-diet-section">
  <div class="title-container">
    <div class="diet-title">
      Your daily diet
    </div>
    <button mat-button class="see-all" [routerLink]="urls.diet">
      See all
    </button>
  </div>
  <div class="grid-container">
    <mat-card *ngFor="let card of menuCards" class="diet-container">
      <div class="card-img">
        <div class="img-label">
          <div class="card-type">{{card.type}}</div>
        </div>
        <img class="menu-img" [src]="card.image" alt="">
      </div>
      <div class="card-title">
        {{card.description}}
      </div>
      <div class="card-info">
        <div class="kcal-container">
          {{card.kcal}} kcal
        </div>
        <div class="allergen-container">
          <div class="allergen-text">{{card.height}}g</div>
          <div class="allergen-text">{{card.allergen}} Alergeny</div>
        </div>
      </div>
      <div class="card-pfc">
        <div class="pfc-container">
          <div class="pfc-height">{{card.protein}}g</div>
          <div class="pfc-desc">Protein</div>
        </div>
        <div class="pfc-container">
          <div class="pfs-height">{{card.fat}}g</div>
          <div class="pfs-desc">Fat</div>
        </div>
        <div class="pfc-container">
          <div class="pfc-height">{{card.carbs}}g</div>
          <div class="pfc-desc">Carbs</div>
        </div>
      </div>
    </mat-card>
  </div>
</section>
