<section class="main lending-review-section">
  <div class="title-container">
    <div class="text-title title">
      Zpetna vazba od ucastniku
    </div>
    <div class="desc">
      Pripojte se k nam a bud'te ve forme
    </div>
  </div>
  <div class="review-container">
    <div class="review-card">
      <div class="card-title">
        <div class="review-title">
          Live this sprint
        </div>
        <div class="review-desc">
          Cum sociis natoque penatlibus et magnis dis patturient moments,
          nascenur кrediculus mus. Morbi leo mi, nonummy.
        </div>
      </div>
      <div class="card-info">
        <div class="info-img-container"></div>
        <div class="info-container">
          <div class="info-title">
            Josef Barak
          </div>
          <div class="info-desc">
            ucasrnik 1. sprintu
          </div>
        </div>
      </div>
    </div>
    <div class="review-card">
      <div class="card-title">
        <div class="review-title">
          Live this sprint
        </div>
        <div class="review-desc">
          Cum sociis natoque penatlibus et magnis dis patturient moments,
          nascenur кrediculus mus. Morbi leo mi, nonummy.
        </div>
      </div>
      <div class="card-info">
        <div class="info-img-container"></div>
        <div class="info-container">
          <div class="info-title">
            Josef Barak
          </div>
          <div class="info-desc">
            ucasrnik 1. sprintu
          </div>
        </div>
      </div>
    </div>
    <div class="review-card">
      <div class="card-title">
        <div class="review-title">
          Live this sprint
        </div>
        <div class="review-desc">
          Cum sociis natoque penatlibus et magnis dis patturient moments,
          nascenur кrediculus mus. Morbi leo mi, nonummy.
        </div>
      </div>
      <div class="card-info">
        <div class="info-img-container"></div>
        <div class="info-container">
          <div class="info-title">
            Josef Barak
          </div>
          <div class="info-desc">
            ucasrnik 1. sprintu
          </div>
        </div>
      </div>
    </div>
    <div class="review-card">
      <div class="card-title">
        <div class="review-title">
          Live this sprint
        </div>
        <div class="review-desc">
          Cum sociis natoque penatlibus et magnis dis patturient moments,
          nascenur кrediculus mus. Morbi leo mi, nonummy.
        </div>
      </div>
      <div class="card-info">
        <div class="info-img-container"></div>
        <div class="info-container">
          <div class="info-title">
            Josef Barak
          </div>
          <div class="info-desc">
            ucasrnik 1. sprintu
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
