{% extends "master/master.html" %}
{% block content %}

<div class="page page-components">
	<div class="container">
		<div class="page__header page__header--center">
			<h2 class="page__title">Компоненты</h2>
		</div>

		<div class="components">

			<!-- ----------------------------------------------------------------- -->
			<!-- ----------------------------------------------------------------- -->
			<!-- ----------------------------------------------------------------- -->
			<div class="components__row">

				<!-- --------------------------------------------------------------- -->
				<div class="components__cell components__cell--3">
					<!-- ---------- -->
					<h4>Default input</h4>
					{{ fieldText("login1", "", "Логин", "Необходимо заполнить поле", "") }}

					<!-- ---------- -->
					<h4>Input with error</h4>
					{{ fieldText("login2", "", "Логин", "Необходимо заполнить поле", "error") }}

					<!-- ---------- -->
					<h4>Input with success</h4>
					{{ fieldText("login3", "", "Логин", "Сообщение об успехе", "success") }}

					<!-- ---------- -->
					<h4>Password inputs</h4>
					{{ fieldPassword("pass", "", "Пароль", "Необходимо заполнить поле", "", "123456") }}

					<div class="form__input error">
						<input type="password" id="password2" value="123456" placeholder="Пароль">
						<a href="/pages/restore_request/restore_request.html" class="forgot-link">Recover</a>
						<div class="form__error-message">Ошибка заполнения</div>
						<span class="pass-switch icon-view" data-password-toggler=""></span>
					</div>

					<!-- ---------- -->
					<h4>Password with hint on focus</h4>
					<div class="form__input">
						<input type="password" placeholder="Пароль">
						<span class="pass-switch icon-view" data-password-toggler></span>
						<div class="form__error-message">Error message</div>
						<div class="password-hints">
							<div class="password-hints__inner">
								<div class="password-hints__heading">Password must match criteria:</div>
								<div class="password-hints__row success">At least one letter</div>
								<div class="password-hints__row success">At least one digit</div>
								<div class="password-hints__row error">At least one uppercase letter</div>
								<div class="password-hints__row success">Be at least 6 characters</div>
							</div>
						</div>
					</div>

					<!-- ---------- -->
					<h4>Password with hint under</h4>
					<div class="form__input">
						<input type="password" placeholder="Пароль">
						<span class="pass-switch icon-view" data-password-toggler></span>
						<div class="form__error-message">Error message</div>
						<div class="password-hints__simple">
							<div class="password-hints__heading">Password must match criteria:</div>
							<div class="password-hints__row success">At least one letter</div>
							<div class="password-hints__row success">At least one digit</div>
							<div class="password-hints__row error">At least one uppercase letter</div>
							<div class="password-hints__row success">Be at least 6 characters</div>
						</div>
					</div>

					<!-- ---------- -->
					<h4>Input disabled</h4>
					<div class="form__input">
						<input type="text" id="disabled-input" placeholder="Placeholder" value="I'm disabled" disabled>
					</div>

					<!-- ---------- -->
					<h4>Textarea</h4>
					{{ fieldTextarea("message", "", "Comment", "", "default") }}

					<!-- ---------- -->
					<h4>Input with captcha</h4>
					{{ fieldCode("captcha", "", "Code", "../../img/components/captcha/captcha.png", "", "default") }}

					<!-- ---------- -->
					<h4>Google captcha imitation</h4>
					<div class="captcha__wrapper">
						<img src="../../img/components/captcha/captcha-placeholder-dark.jpg" alt="captcha">
					</div>

				</div>

				<!-- --------------------------------------------------------------- -->
				<div class="components__cell components__cell--3">
					<!-- ---------- -->
					<h4>Inputs with label</h4>
					{{ fieldText("name-components", "Ваше имя (disabled)", "Ваше имя", "Необходимо заполнить поле", "", "Вася", "disabled") }}
					{{ fieldText("surname-components", "Фамилия (default)", "Фамилия", "Необходимо заполнить поле", "", "Пупкин", "") }}
					{{ fieldText("login-components", "Логин (error)", "Логин", "Необходимо заполнить поле", "error", "Пуп2312", "") }}
					{{ fieldText("nickname-components", "Никнейм (success)", "Никнейм", "Вы успешно заполнили поле", "success", "Пупкин322", "") }}

					<!-- ---------- -->
					<h4>Search with icon</h4>
					<div>
						<a data-header-search class="header__search icon-search" href="/pages/modals/search/search.html"></a>
					</div>

					<!-- ---------- -->
					<h4>Checkbox disabled</h4>
					<div class="form__input checkbox">
						<input type="checkbox" id="remember-0" disabled="disabled" checked>
						<label for="remember-0">Запомнить меня</label>
						<div class="form__error-message">Необходимо заполнить поле</div>
					</div>
					<!-- ---------- -->
					<h4>Checkbox</h4>
					<div class="form__input checkbox">
						<input type="checkbox" id="remember-1" checked>
						<label for="remember-1">Запомнить меня</label>
						<div class="form__error-message">Необходимо заполнить поле</div>
					</div>

					<!-- ---------- -->
					<h4>Reverted checkbox</h4>
					<div class="form__input checkbox checkbox--reverted">
						<input type="checkbox" id="remember-2" checked>
						<label for="remember-2">Запомнить меня</label>
						<div class="form__error-message">Необходимо заполнить поле</div>
					</div>

					<!-- ---------- -->
					<h4>Checkbox with error</h4>
					{{ fieldCheckbox("agree2", 'I accept your terms and conditions. <a href="/pages/terms/terms.html">Read our Terms & Conditions</a>', "Вы должны согласиться с условиями", "error") }}

					<!-- ---------- -->
					<h4>Radio</h4>
					<fieldset class="form__section">
						<div class="form__input radio__item">
							<input type="radio" name="profile-verify" id="verify-email" class="radio__item-input" checked>
							<label for="verify-email" class="radio__item-label">Верифицировать e-mail</label>
						</div>
						<div class="form__input radio__item">
							<input type="radio" name="profile-verify" id="verify-phone" class="radio__item-input">
							<label for="verify-phone" class="radio__item-label">Верифицировать телефон</label>
						</div>
					</fieldset>

					<!-- ---------- -->
					<h4>Radio list</h4>
					<div class="radio__list">
						<div class="form__input radio__item">
							<input type="radio" name="account-currency" id="rub" checked>
							<label for="rub" class="radio__item-label">rub</label>
						</div>
						<div class="form__input radio__item">
							<input type="radio" name="account-currency" id="usd">
							<label for="usd" class="radio__item-label">usd</label>
						</div>
						<div class="form__input radio__item">
							<input type="radio" name="account-currency" id="eur">
							<label for="eur" class="radio__item-label">eur</label>
						</div>
						<div class="form__input radio__item">
							<input type="radio" name="account-currency" id="uah">
							<label for="uah" class="radio__item-label">uah</label>
						</div>
					</div>

					<!-- ---------- -->
					<h4>Radio list / vertical</h4>
					<div class="radio__list radio__list--vertical">
						<div class="form__input radio__item">
							<input type="radio" name="account-currency-2" id="rub1" checked>
							<label for="rub1" class="radio__item-label">rub</label>
						</div>
						<div class="form__input radio__item">
							<input type="radio" name="account-currency-2" id="usd1">
							<label for="usd1" class="radio__item-label">usd</label>
						</div>
						<div class="form__input radio__item">
							<input type="radio" name="account-currency-2" id="eur1">
							<label for="eur1" class="radio__item-label">eur</label>
						</div>
						<div class="form__input radio__item">
							<input type="radio" name="account-currency-2" id="uah1">
							<label for="uah1" class="radio__item-label">uah</label>
						</div>
						<div class="form__input radio__item">
							<input type="radio" name="account-currency-2" id="btc1">
							<label for="btc1" class="radio__item-label">btc</label>
						</div>
					</div>

					<!-- ---------- -->
					<h4>Back link</h4>
					<a href="/pages/index/index.html" class="link link--back">Вернуться назад</a>

				</div>

				<!-- --------------------------------------------------------------- -->
				<div class="components__cell components__cell--3">
					<!-- ---------- -->
					<h4>Primary buttons / sizes</h4>
					<div class="components__column-items">
						<button type="button" class="button button--filled button--w280">Width 280</button>
						<button type="button" class="button button--filled button--w240">Width 40</button>
						<button type="button" class="button button--filled button--w210">Width 210</button>
						<button type="button" class="button button--filled button--w175">Width 175</button>
						<button type="button" class="button button--filled button--w140">Width 140</button>
						<button type="button" class="button button--filled button--w130">Width 130</button>
						<button type="button" class="button button--filled button--h35">Height 35</button>
						<button type="button" class="button button--filled button--h30">Height 30</button>
					</div>

					<!-- ---------- -->
					<h4>Primary buttons / templates</h4>
					<button type="button" class="button button--filled"><span>Button filled<span></button>
					<button type="button" class="button button--filled-secondary"><span>Button filled secondary<span></button>
					<button type="button" class="button button--light-filled"><span>Button light filled<span></button>
					<button type="button" class="button button--bordered"><span>Button bordered<span></button>
					<button type="button" class="button button--light-bordered"><span>Button light bordered<span></button>
					<button type="button" class="button button--filled"><i class="icon-phone"></i><span>Filled with icon</span></button>
					<button type="button" class="button button--bordered"><i class="icon-phone"></i><span>Bordered with icon</span></button>

					<!-- ---------- -->
					<h4>Primary buttons disabled</h4>
					<button type="button" class="button button--filled" disabled="disabled"><span>Filled disabled<span></button>
					<button type="button" class="button button--bordered" disabled><i class="icon-phone"></i><span>Bordered disabled</span></button>

					<!-- ---------- -->
					<h4>Special buttons</h4>
					<button type="button" class="button button--filled button--big"><span>filled + big<span></button>
					<button type="button" class="button button--registration"><span>Button registration<span></button>
					<button type="button" class="button button--login"><span>Button login<span></button>

					<!-- ---------- -->
					<h4>Socials default icons</h4>
					{{ block("components/socials-footer") }}

					<!-- ---------- -->
					<h4>Socials login & reg icons</h4>
					<ul class="socials__list socials__list--simple">
						<li class="socials__item"><a class="socials__item-link" href="#"><i class="icon-facebook"></i></a></li>
						<li class="socials__item"><a class="socials__item-link" href="#"><i class="icon-google"></i></a></li>
						<li class="socials__item"><a class="socials__item-link" href="#"><i class="icon-vk"></i></a></li>
						<li class="socials__item"><a class="socials__item-link" href="#"><i class="icon-instagram"></i></a></li>
						<li class="socials__item"><a class="socials__item-link" href="#"><i class="icon-twitter"></i></a></li>
						<li class="socials__item"><a class="socials__item-link" href="#"><i class="icon-ok-profile"></i></a></li>
					</ul>
					{{ block("components/socials-auth") }}
					<ul class="socials__list socials__list--simple">
						<li class="socials__item">
							<a class="socials__item-link active" href="#">
								<i class="icon-facebook"></i>
								<span class="social_name_desktop">Your account linked to Facebook</span>
							</a>
						</li>
					</ul>
					<ul class="socials__list socials__list--simple">
						<li class="socials__item">
							<a class="socials__item-link active" href="#">
								<i class="icon-google"></i>
								<span class="social_name_desktop">Your account linked to Google</span>
							</a>
						</li>
					</ul>

					<!-- ---------- -->
					<h4>Bonus choice (special radio list)</h4>
					{{ block("components/registration-bonuses-list")}}

				</div>
			</div>

			<!-- ----------------------------------------------------------------- -->
			<!-- ----------------------------------------------------------------- -->
			<!-- ----------------------------------------------------------------- -->
			<div class="components__row">

				<!-- --------------------------------------------------------------- -->
				<div class="components__cell components__cell--3">

					<!-- ---------- -->
					<h4>Text statuses</h4>
					<div class="components__column-items">
						<span class="status__active">Активный</span>
						<span class="status__canceled">Отменен</span>
						<span class="status__pending">Ожидает</span>
						<span class="status__inactive">Неактивный</span>
					</div>

					<!-- ---------- -->
					<h4>Circle statuses</h4>
					<div class="components__column-items">
						<div class="components__row-items"><span class="circle-status active"></span>Успешно</div>
						<div class="components__row-items"><span class="circle-status canceled"></span>Отменено</div>
						<div class="components__row-items"><span class="circle-status pending"></span>Ожидает</div>
						<div class="components__row-items"><span class="circle-status inactive"></span>Неактивно</div>
					</div>

					<!-- ---------- -->
					<h4>Online / Offline</h4>
					<span class="status__online">Online</span>
					<span class="status__offline">Offline</span>

					<!-- ---------- -->
					<h4>Profile documents statuses</h4>
					<li class="documents__status">Status: <span class="loaded">loaded</span></li>
					<li class="documents__status">Status: <span class="processing">in processing</span></li>
					<li class="documents__status">Status: <span class="approved">approved</span></li>
					<li class="documents__status">Status: <span class="rejected">rejected</span></li>


				</div>

				<!-- --------------------------------------------------------------- -->
				<div class="components__cell components__cell--3">
					<!-- ---------- -->
					<h4>Default select</h4>
					{{ fieldSelect("gender", "", ['Мужской', 'Женский', 'Неопределенный']) }}

					<!-- ---------- -->
					<h4>Select with label</h4>
					<div class="form__input form__input--select">
						<label class="form__input-label" for="country">Страна</label>
						<select id="country" data-select-menu>
							<option>Китай</option>
							<option>Страна1</option>
							<option>Страна2</option>
							<option>Страна3</option>
							<option>Страна4</option>
						</select>
						<div class="form__error-message">Необходимо заполнить поле</div>
					</div>

					<!-- ---------- -->
					<h4>Disabled select with label</h4>
					<div class="form__input form__input--select">
						<label class="form__input-label" for="timezone">Часовой пояс</label>
						<select id="timezone" data-select-menu disabled>
							<option>+ 3 00</option>
							<option>+ 5 00</option>
							<option>+ 6 00</option>
							<option>+ 7 00</option>
							<option>+ 8 00</option>
						</select>
						<div class="form__error-message">Необходимо заполнить поле</div>
					</div>

					<!-- ---------- -->
					<h4>Select for question/answer</h4>
					<div class="form__input ">
						<div class="form__input__wrapper">
							<label for="secret_question" class="icon-question"></label>
							<select id="secret_question" data-select-menu class="secret_question">
								<option value>Секретный вопрос</option>
								<option value="0">Фамилия вашего любимого музыканта</option>
								<option value="1">Название улицы на которой вы выросли</option>
								<option value="2">Ваш любимый актер или актриса</option>
							</select>
						</div>
					</div>
					<div class="form__input secret_answer">
						<div class="form__input__wrapper">
							<label class="icon-question"></label>
							<input autocomplete="off" placeholder="Ответ" type="text">
							<div class="form__error-message"></div>
						</div>
					</div>

				</div>

				<!-- --------------------------------------------------------------- -->
				<div class="components__cell components__cell--3">

					<!-- ---------- -->
					<h4>Currency select</h4>
					{{ block("components/currency") }}

					<!-- ---------- -->
					<h4>Language select</h4>
					{{ block("components/lang-menu") }}

					<!-- ---------- -->
					<h4>Datepicker select</h4>
					<div class="form__input form__input--datepicker">
						<input type="text" data-datepicker placeholder="День рождения" value="12.12.1993">
					</div>
					<div class="profile-info__form">
						{{ fieldDatepicker("date", "With label", "", "24.12.1994") }}
					</div>

					<!-- ---------- -->
					<h4>Datepicker select disabled</h4>
					<div class="form__input form__input--datepicker disabled">
						<input type="text" data-datepicker disabled readonly placeholder="День рождения" value="12.12.1993">
					</div>

					<!-- ---------- -->
					<h4>Phone select</h4>
					<div class="form__input form__input--phone ">
						<input id='phone1' type="tel" value="" placeholder="+91(999)999-999-99">
						<div class="form__error-message"></div>
					</div>
					<div class="form__input form__input--phone ">
						<input id='phone2' type="tel" value="+420 777 777 777" placeholder="+420 777 777 777" data-phone-number="">
						<div class="form__error-message"></div>
					</div>
				</div>
			</div>

			<!-- ----------------------------------------------------------------- -->
			<!-- ----------------------------------------------------------------- -->
			<!-- ----------------------------------------------------------------- -->
			<div class="components__row">

				<!-- --------------------------------------------------------------- -->
				<div class="components__cell components__cell--2">
					<!-- ---------- -->
					<h4>Pagination</h4>
					{{ block("components/pagination")}}

					<!-- ---------- -->
					<h4>Time counter</h4>
					<span class="counter" data-days="дней" data-hours="часов" data-min="min." data-sec="сек." data-time="2020/06/27 10:11:14"></span>

				</div>

				<!-- --------------------------------------------------------------- -->
				<div class="components__cell components__cell--2">

					<!-- ---------- -->
					<h4>Payment icons</h4>
					<div class="components__payment-icons-list">
						<img src="/img/payments/visa.png" alt="Payment icon">
						<img src="/img/payments/alpha-click.png" alt="Payment icon">
						<img src="/img/payments/logo-payeer.png" alt="Payment icon">
						<img src="/img/payments/mastercard.png" alt="Payment icon">
						<img src="/img/payments/qiwi.png" alt="Payment icon">
						<img src="/img/payments/yandex.png" alt="Payment icon">
					</div>

					<!-- ---------- -->
					<h4>Cryptocurrency icons</h4>
					<div class="components__crypto-icons-list">
						<img src="/img/currency/1.svg" alt="Currency icon">
						<img src="/img/currency/2.svg" alt="Currency icon">
						<img src="/img/currency/3.svg" alt="Currency icon">
						<img src="/img/currency/4.svg" alt="Currency icon">
						<img src="/img/currency/5.svg" alt="Currency icon">
						<img src="/img/currency/6.svg" alt="Currency icon">
					</div>

				</div>
			</div>

		</div>

	</div>
</div>

{% endblock %}
