{% extends "master/master.html" %}

{% block content %}
<div class="page page-article">
	<article class="article">
		<h1 class="article__title">About casino</h1>
		<div class="article__content">
			<p>Почему стоит выбрать нас из всех онлайн-казино мира? Может быть, потому, КАК мы относимся к нашим гостям. Мы искренне считаем, что прямолинейность и ясность в общении должны быть непременными атрибутами всех казино; с нами вы получите полное представление об акциях и играх, и вам не придется терпеть нудные разговоры "продажников".</p>
			<p>Многие онлайн-казино продвигают яркие, привлекательные предложения, которые великолепно смотрятся на бумаге, но вместе с тем скрывают малопонятные условия, написанные мелким шрифтом; условия, которые могут быть использованы для отзыва выигранных вами средств. Мы всегда стараемся показывать подходящие именно для вас акции, выделяя такие нюансы, как ограничения по времени и условия отыгрывания бонусов. Наша цель состоит в том, чтобы сделать информацию на нашем сайте доступной и легко понимаемой, и это в особенности касается наших Правил и условий.</p>
			<p>Из месяца в месяц мы предоставляем вам персонализированную выборку промо-акций, которые, в зависимости от ваших игровых предпочтений, могут предложить бесплатные вращения, бонусы или даже денежные призы.</p>
			<p>Если вам вдруг что-то не ясно, вы можете без затруднений связаться с нами и пообщаться с агентом по обслуживанию клиентов в любое время дня и ночи. Нашим лояльным игрокам, которые достигли VIP-статуса, назначается персональный менеджер по работе с клиентами для индивидуального обслуживания.</p>
			<p>Мы также предлагаем меры безопасности для наших гостей. Отдельные игроки могут испытывать привыкание к азартным играм казино, и мы полностью поддерживаем тех гостей, которые пытаются контролировать время, проведенное ими в игре. Эти меры могут включать в себя настройку ежедневных лимитов на внесение средств или временное отключение счета. Если нашим гостям больше не по душе азартные игры, они могут навсегда исключить себя из пользования нашими сайтами, что прекратит любые рекламные предложения, идущие от нас.</p>
			<p>В то время, как казино в реальном мире нанимают охрану для обеспечения безопасности, мы используем шифрование для защиты конфиденциальной информации наших гостей, которая хранится исключительно в нашей надежно защищенной базе данных.</p>
			<p>Казино следует оценивать как и любой другой бизнес с точки зрения того, как его представители справляются с возникшими проблемами. Мы проводим немало времени, обеспечивая бесперебойную работу наших игр и услуг, и быстро решаем любые возникшие технические неполадки. Мы также вкладываем значительные средства в обучение нашего персонала и предлагаем вам различные варианты контактов на случай, если у вас возникнут вопросы или какие-либо затруднения.</p>
			<!-- <hr>
			<p><strong>Bold</strong></p>
			<p><em>Italic</em></p>
			<p><u>Underline</u></p>
			<p><s>Text</s></p>
			<p>Normal text<sub>Degree</sub></p>
			<p>Normal text<sup>Degree</sup></p>
			<hr>
			<ol>
				<li>First</li>
				<li>Second</li>
				<li>Third</li>
			</ol>
			<ul>
				<li>First</li>
				<li>Second</li>
				<li>Third</li>
			</ul>
			<hr>
			<blockquote>
				<p>Some text</p>
			</blockquote>
			<div class="some-class">
				<p>Text left</p>
				<p style="text-align: center;">Text center</p>
				<p style="text-align: right;">Text right</p>
				<p style="text-align: justify;">Text justify</p>
				<p style="text-align: justify;"><a href="http://www.xc">Some link</a></p>
			</div>
			<table border="1" cellpadding="1" cellspacing="1" style="width: 50%;">
				<caption>Table example</caption>
				<tbody>
				<tr>
					<td>sadgsdghs sdg sgs gsg</td>
					<td>dgsgsdgs gs dgsdg sdgsg</td>
				</tr>
				<tr>
					<td>sdgsd g sgs dg sdg</td>
					<td>sdg sg sdg sdg </td>
				</tr>
				<tr>
					<td>sdg sdg sg sdg</td>
					<td>&sgd sdg sdg sg</td>
				</tr>
				</tbody>
			</table>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus, turpis et semper semper, orci libero ultrices magna, eu rutrum ante nisl ac massa. Quisque sollicitudin non lorem sed pharetra. Phasellus fermentum lacinia aliquam. Mauris euismod orci quis ipsum ultrices lobortis. Vivamus ultricies ipsum vel suscipit hendrerit. Maecenas congue finibus libero ac ullamcorper. Morbi elementum dui sed turpis commodo maximus. Sed faucibus vehicula metus, posuere porta arcu dictum sit amet. Ut egestas erat lacus. Sed libero dolor, dictum in lacus in, dapibus sodales magna. Aliquam erat volutpat. Vestibulum congue vitae lacus eget ultrices. Quisque sed mi mollis, maximus risus in, sollicitudin eros.</p>
			<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus, turpis et semper semper, orci libero ultrices magna, eu rutrum ante nisl ac massa. Quisque sollicitudin non lorem sed pharetra. Phasellus fermentum lacinia aliquam. Mauris euismod orci quis ipsum ultrices lobortis. Vivamus ultricies ipsum vel suscipit hendrerit. Maecenas congue finibus libero ac ullamcorper. Morbi elementum dui sed turpis commodo maximus. Sed faucibus vehicula metus, posuere porta arcu dictum sit amet. Ut egestas erat lacus. Sed libero dolor, dictum in lacus in, dapibus sodales magna. Aliquam erat volutpat. Vestibulum congue vitae lacus eget ultrices. Quisque sed mi mollis, maximus risus in, sollicitudin eros.</p>
			<p><span class="marker">Marker</span></p>
			<hr>
			<h1>Заголовок H1</h1>
			<h2>Заголовок H2</h2>
			<h3>Заголовок H3</h3>
			<h4>Заголовок H4</h4>
			<h5>Заголовок H5</h5>
			<h6>Заголовок H6</h6>
			<hr>
			<pre>Моноширинное</pre>
			<address>Адрес</address>
			<div>Обычное(div)</div> -->
		</div>
	</article>
</div>
{% endblock %}
