/* --- Header (logged): user avavtar + messages + profile menu ------------- */
.header-user
  padding: 20px 35px 10px 10px
  margin: 0 10px
  position: relative
  cursor: pointer

  // ---arrow---
  &:before, &:after
    content: ''
    display block
    box-sizing: border-box
    position: absolute
    right: 10px
    top: 50%
    height: 2px
    width: 10px
    background-color: var(--primary-accent-complimentary)
    backface-visibility: hidden
    transition: transform .2s ease-out
  &:before
    transform rotate(45deg)
    right 17px
  &:after
    transform rotate(-45deg)

  // ---------------------------------------------------------------------------
  &__avatar
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative

    &-image
      width: 40px
      height: 40px
      border-radius: 50%
      overflow: hidden

      & img
        width 100%
        height: 100%
        object-fit contain
        object-position: center

    &-name
      font-size: 8px
      line-height: 8px
      color: var(--primary-accent)
      font-weight: 700
      text-align: center
      padding: 5px

  // ---------------------------------------------------------------------------
  &__messages
    min-width: 30px
    height: 15px
    border-radius: 12px
    background-color: var(--primary-accent)
    padding-right: 15px
    overflow: hidden
    position: absolute
    top: -5px
    left: 50%
    transform: translateX(-50%)

    &-count
      display: block
      color: var(--secondary-accent)
      font-size: 10px
      line-height: 15px
      text-align: center
      font-weight: 700
      padding: 0 1px
      text-overflow: ellipsis
      overflow: hidden

    & .icon-messages-bell
      width: 15px
      height: 15px
      font-size: 10px
      color: var(--primary-accent-complimentary)
      background-color: var(--secondary-accent)
      border-radius: 50%
      overflow: hidden
      position: absolute
      top: 0
      right: 0

  // ---------------------------------------------------------------------------
  &__menu
    width: 320px
    max-height: 0
    visibility: hidden
    background-color: var(--color-surface)
    position: absolute
    top: calc(100% - 5px)
    right: 10px
    overflow: hidden
    transition: max-height .4s ease-out
    z-index: 1

  /* open menu */
  @media (hover: hover)
    &:hover
      &:before
        transform rotate(-45deg)
      &:after
        transform rotate(45deg)

    &:hover &__menu
      max-height: 9999px
      visibility: visible

  &.active
    &:before
      transform rotate(-45deg)
    &:after
      transform rotate(45deg)

  &.active &__menu
    max-height: 9999px
    visibility: visible
