/* ----- TOP MENU ----------------------------------------------------------- */
.header-top-menu
	display: flex
	height: 100%
	width: 100%
	margin-left: -10px

	& .menu-item
		text-align center

		&:not(:last-of-type)
			margin-right: 20px

		& > a
			height: 50px
			display flex
			justify-content: flex-start
			align-items center
			height: 100%
			color: var(--primary-accent-lighter)
			font-size: 12px
			line-height: 14px
			white-space: nowrap
			padding: 10px
			transition $t-color
			cursor pointer

			& i
				color: var(--primary-accent-darker)
				font-size: 14px
				margin-right 5px
				margin-top: -5px
				transition $t-color

		// ----- hover & active ----------------------------------------------------
		&:hover > a,
		&:hover > a i,
		&.сurrent-menu-item > a,
		&.сurrent-menu-item > a i
			color: var(--primary-accent)
