.header-profile-menu
  max-height: calc(100vh - 140px)
  overflow-x: hidden
  overflow-y: auto

  & .menu-item
    width: 100%
    text-align left
    text-overflow: ellipsis
    overflow: hidden

    & > a
      display: block
      font-size: 18px
      line-height: 20px
      color: var(--primary-accent-lighter)
      background-color: var(--secondary-accent)
      padding: 15px

      &:hover
        color var(--secondary-accent)
        background-color: var(--primary-accent)

    &.сurrent-menu-item > a
      color var(--secondary-accent)
      background-color: var(--primary-accent)

    &:nth-last-child(2),
    &:last-child
      & > a
        background-color: transparent

        &:hover
          background-color: var(--primary-accent)

      &.сurrent-menu-item > a
        background-color: var(--primary-accent)

    // ------ submenu menu -----------------------------------------------------
    & .sub-menu
      min-width: 100%

      /* header menu item in submenu */
      & .menu-item
        & > a
          background-color: transparent
          padding-left: 45px

          &:hover
            color var(--secondary-accent)
            background-color: var(--primary-accent)

        &.сurrent-menu-item > a
          color var(--secondary-accent)
          background-color: var(--primary-accent)
