{% set logged = "yes" %}
{% extends "master/master.html" %}

{% block content %}

<div class="page page-blocked">
	<div class="blocked">

		<div class="blocked__image">
			<img src="/img/elements/blocked-cat.svg" alt="">
		</div>

		<h1 class="blocked__title">Сайт недоступен в&nbsp;вашем регионе</h1>

		<p class="blocked__description">В случае возникновения вопросов обращайтесь в службу поддержки.</p>

		<a href="#" class="button button--390 button--filled blocked__button"><i class="icon-phone"></i>Техподдержка</a>
	</div>
</div>

{% endblock %}
