<section class="reg-section">
  <div class="reg-image">
    <img class="reg-img" src="assets/images/photo2.png" alt="">
  </div>
  <div class="reg-container">
    <div class="reg-title">
      Registration
    </div>
    <div class="reg-form">
      <form [formGroup]="regGroup" class="reg-form-container">
        <mat-form-field class="manual-input">
          <mat-label>Email</mat-label>
          <input formControlName="email" type="email" matInput placeholder="Email">
          <mat-error *ngIf="controls.email.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="controls.email.hasError('email')">
            Email is incorrect
          </mat-error>
        </mat-form-field>
        <mat-form-field class="manual-input">
          <mat-label>Password</mat-label>
          <input formControlName="password"
                 matInput
                 [type]="isHide ? 'password' : 'text'"
                 placeholder="Password">
          <button mat-icon-button matSuffix (click)="isHide = !isHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHide">
            <mat-icon aria-hidden="false">{{isHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="controls.password.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="manual-input">
          <mat-label>Repeat password</mat-label>
          <input formControlName="repeat"
                 matInput
                 [type]="isHide ? 'password' : 'text'"
                 placeholder="Repeat password">
          <button mat-icon-button matSuffix (click)="isHide = !isHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHide">
            <mat-icon aria-hidden="false">{{isHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="controls.repeat.hasError('required')">
            Repeat password is required
          </mat-error>
          <mat-error *ngIf="controls.repeat.hasError('mustMatch')">
            Passwords must match
          </mat-error>
        </mat-form-field>
        <div>
          <mat-checkbox
            [ngClass]="{'is-invalid': controls.terms.hasError('required') && controls.terms.touched}"
            formControlName="terms">Terms of service</mat-checkbox>
        </div>
        <button mat-button (click)="registration()" [disabled]="regGroup.invalid">Registration</button>
      </form>
    </div>
  </div>
</section>
