{% set logged = "yes" %}
{% extends "master/master.html" %}

{% block content %}

<div class="page page-profile">
	{{ block("components/menu/profile-menu") }}
	<section class="page-profile__content page-profile__content--transactions">
		<div class="transactions__wrapper">
			<h1 class="page__title">Касса</h1>
			{{ block("components/menu/profile-payments-menu") }}
			<div class="transactions__inner">
				<p class="transactions__desc">Выберите способ вывода средств</p>
				{{ block("components/transactions-list--cashout") }}
			</div>
		</div>
	</section>
</div>

{% endblock %}
