@import "src/app/common/scss/colors";

.lending-header-section {
  position: absolute;
  width: 100%;
  color: $white;
  .header-container {
    margin: 1% 15%;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    .logo-container {
      display: flex;
      justify-content: center;
      .logo {
        width: 70px;
      }
      .logo-text {
        margin: 0 1rem;
        display: flex;
        align-items: center;
        font-size: 25px;
        font-family: cursive;
      }
    }
    .button-group-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .login-btn {
        margin-left: 4rem;
        padding: 10px 3rem;
        border: 3px solid $main-red;
        border-radius: 40px;
        cursor: pointer;
        color: $main-red;
        font-size: 17px;
        &:hover {
          box-shadow: 0 0 10px 2px rgba(250,30,80,0.75);
          text-shadow: 0 0 10px rgba(250,30,80,0.75);
        }
      }
    }
  }
}
