<section class="lending-header-section">
  <div class="header-container">
    <div class="logo-container">
      <div>
        <img class="logo" src="assets/images/logo.png">
      </div>
      <div class="logo-text">
        <strong>Fit</strong> Sprint
      </div>
    </div>
    <div class="button-group-container">
      <div>
        <button mat-button>Pro koho</button>
      </div>
      <div>
        <button mat-button>O cluzbe</button>
      </div>
      <div>
        <button mat-button>Galeree</button>
      </div>
      <div>
        <button mat-button>Velka cena</button>
      </div>
      <div class="login-btn" [routerLink]="url.authorization">
        Registration
      </div>
      <div class="login-btn" [routerLink]="url.cabinet">
        Cabinet
      </div>
    </div>
  </div>
</section>
