<section class="cabinet-info-section">
  <div class="info-result"></div>
  <div class="info-info"></div>
  <div class="info-news-container">
    <div class="news-title">
      Unsleash the freelance super power
    </div>
    <div class="news-desc">
      Unlimited task? premium features and much more.
    </div>
    <div class="news-info">
      <div class="news-img"></div>
      <button mat-icon-button>
        <img class="news-more-btn" src="assets/images/more.png">
      </button>
    </div>
  </div>
</section>
