<section class="lending-win-section">
  <div class="win-title-container">
    <div class="text-title win-title">
      Velka cena
    </div>
    <div class="win-desc">
      Muzete se snadno stat vudcem a ziskat odmenu
    </div>
  </div>
  <div class="win-content-container">
    <div class="win-card-container">
      <div class="card-goal">
        <img class="card-img" src="assets/images/3.png" alt="">
      </div>
      <div class="card-content">
        <div class="card-desc">
          Treti misto
        </div>
        <div class="card-price">
          10 vitezu / 1000 Kc
        </div>
      </div>
    </div>
    <div class="first-goal win-card-container">
      <div class="card-goal">
        <img class="card-img" src="assets/images/1.png" alt="">
      </div>
      <div class="card-content">
        <div class="card-desc">
          Prvni misto
        </div>
        <div class="card-price">
          1 vitez / 10000 Kc
        </div>
      </div>
    </div>
    <div class="win-card-container">
      <div class="card-goal">
        <img class="card-img" src="assets/images/2.png" alt="">
      </div>
      <div class="card-content">
        <div class="card-desc">
          Druhe misto
        </div>
        <div class="card-price">
          5 vitezu / 2000 Kc
        </div>
      </div>
    </div>
  </div>
</section>
