<section class="panel-workout-section">
  <div class="workout-title-container">
    <div class="workout-title">
      Today's your training
    </div>
    <div class="workout-day-container">
      <div class="day">
        Thursday 11
      </div>
      <div class="workout-toggle">
        <div class="day-btn">
          <span class="material-icons icon">arrow_back</span>
        </div>
        <div class="day-btn">
          <span class="material-icons icon">arrow_forward</span>
        </div>
      </div>
    </div>
  </div>
  <div class="workout-container">
    <mat-accordion>
      <mat-expansion-panel class="expend-card" hideToggle expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            <div class="panel-title-img">
              <img class="panel-img" src="assets/images/yoga.png" alt="">
            </div>
            Yoga
          </mat-panel-title>
          <mat-panel-description class="panel-decs">
            3 min
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="workout-container">
          <div class="workout-example">
            <div class="example">
              <img class="example-img" src="assets/images/example.gif" alt="">
            </div>
          </div>
          <div class="workout-reps">
            <div class="title">
              3 sets per 10 reps
            </div>
            <div class="description">
              Step 1: stay straight <br>
              Step 2: do it <br>
              Step 3: finish
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel class="expend-card" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            <div class="panel-title-img">
              <img class="panel-img" src="assets/images/squat.png">
            </div>
            Squat
          </mat-panel-title>
          <mat-panel-description class="panel-decs">
            1120 kcal
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="pfc-info">
          protein/fat/carbs/kcal
        </div>
        <div class="portion-container">
          <div class="portion-title">
            Sweet Potato Hash Browns.
          </div>
          <div class="portion-count">
            <div class="portion-kcal">
              100 g
            </div>
            <div class="portion-pfc-container">
              <div class="pfc-value">
                <div>
                  10/17/30/270
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portion-container">
          <div class="portion-title">
            Sweet Potato Hash Browns.
          </div>
          <div class="portion-count">
            <div class="portion-kcal">
              100 g
            </div>
            <div class="portion-pfc-container">
              <div class="pfc-value">
                <div>
                  10/17/30/100
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portion-container">
          <div class="portion-title">
            Sweet Potato Hash Browns.
          </div>
          <div class="portion-count">
            <div class="portion-kcal">
              100 g
            </div>
            <div class="portion-pfc-container">
              <div class="pfc-value">
                <div>
                  10/17/30/100
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pfc-info">
          total: 130/40/60/750
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel class="expend-card" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            <div class="panel-title-img">
              <img class="panel-img" src="assets/images/plank.png">
            </div>
            Dinner
          </mat-panel-title>
          <mat-panel-description class="panel-decs">
            580 kcal
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="pfc-info">
          protein/fat/carbs/kcal
        </div>
        <div class="portion-container">
          <div class="portion-title">
            Sweet Potato Hash Browns.
          </div>
          <div class="portion-count">
            <div class="portion-kcal">
              100 g
            </div>
            <div class="portion-pfc-container">
              <div class="pfc-value">
                <div>
                  10/17/30/270
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portion-container">
          <div class="portion-title">
            Sweet Potato Hash Browns.
          </div>
          <div class="portion-count">
            <div class="portion-kcal">
              100 g
            </div>
            <div class="portion-pfc-container">
              <div class="pfc-value">
                <div>
                  10/17/30/100
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portion-container">
          <div class="portion-title">
            Sweet Potato Hash Browns.
          </div>
          <div class="portion-count">
            <div class="portion-kcal">
              100 g
            </div>
            <div class="portion-pfc-container">
              <div class="pfc-value">
                <div>
                  10/17/30/100
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pfc-info">
          total: 130/40/60/750
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
