@import "src/app/common/scss/colors";

.panel-workout-section {
  margin: 4rem 2rem;
  .workout-title-container {
    .workout-title {
      font-size: 40px;
      line-height: 40px;
      color: $text-black;
      font-family: cursive;
    }
    .workout-day-container {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      .day {
        font-size: 40px;
        line-height: 40px;
        color: $main-yellow;
        font-family: cursive;
      }
      .workout-toggle {
        margin: 0 2rem;
        display: flex;
        .day-btn {
          padding: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $grey;
          margin: 0 10px;
          border-radius: 50%;
          cursor: pointer;
          .icon {
            color: $text-black;
          }
        }
      }
    }
  }
  .workout-container {
    .expend-card {
      margin: 2rem 0;
      padding: 1rem 0;
      border-radius: 20px;
      background: $grey;
      .panel-title {
        display: flex;
        align-items: center;
        .panel-title-img {
          margin-right: 1rem;
          height: 38px;
          width: 38px;
          background: $white;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          .panel-img {
            height: 32px;
            width: 32px;
          }

        }
      }
      .panel-decs {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      .workout-container {
        display: flex;
        .workout-reps {
          display: flex;
          flex-direction: column;
          color: $text-black;
          font-family: cursive;
          .title {
            margin: 1rem 0;
            font-size: 26px;
          }
          .description {

          }

        }
        .workout-example {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          .example {
            width: 200px;
            height: 200px;
            background: $white;
            border-radius: 20px;
            .example-img {
              width: 100%;
              height: 100%;
              border-radius: 20px;
            }

          }
          .upload {
            width: 100px;
            height: 100px;
            background: $white;
            border-radius: 20px;
            cursor: pointer;
            .upload-img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
