<section class="main lending-price-section">
  <div class="price-background"></div>
  <div class="price-container">
    <div class="price-title-container">
      <div class="text-title price-title">
        Jste pripraveni k ucasti
      </div>
      <div class="price-desc">
        Vyberte si slot, ktery je pro vas pohodlny a jedna!
      </div>
    </div>
    <div class="cards-container">
      <div class="card">
        <div class="card-title">
          Zakladni
        </div>
        <div class="card-img"></div>
        <div class="card-btn-container">
          <button class="card-btn">
            Ucasrnit se
          </button>
        </div>
      </div>
      <div class="card optimal">
        <div class="card-title">
          Optimalni
        </div>
        <div class="card-img"></div>
        <div class="card-btn-container">
          <button class="card-btn">
            Ucasrnit se
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-title">
          Pokrocily
        </div>
        <div class="card-img"></div>
        <div class="card-btn-container">
          <button class="card-btn">
            Ucasrnit se
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
