{% set logged = "yes" %}
{% extends "master/master.html" %}

{% block content %}

<div class="page page-notification">
	<div class="container">
		<div class="page-notification__inner">
			<div class="page-notification__img">
				<img src="/img/notifications/notification--unplayed-bonus.png" alt="">
			</div>
			<h1 class="page-notification__title">Error!</h1>
			<div class="page-notification__description">
				<p>You have an unplayed bonus.</p>
			</div>
			<div class="page-notification__buttons">
				<a href="/pages/index/index.html" class="button button--w280 button--filled">Go main</a>
				<a href="/pages/contacts/contacts.html" class="button button--w280 button--bordered-filled"><i class="icon-support"></i>Support</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
