/* Страница с уведомлением */
:root  .page-notification
  display: flex
  justify-content: center
  text-align: center
  background-image: url("../img/backgrounds/half-page-bg.svg")
  background-size: cover
  background-repeat: no-repeat
  background-position: top center
  padding: 100px 0

  /* ----- types of inners -------------------------------------------------- */
  &__inner,
  &__empty,
  &__form
    width: 100%
    max-width: 475px
    margin: 0 auto

  /* ----- content ---------------------------------------------------------- */
  &__title
    font-family: var(--font-secondary)
    font-size: 24px
    line-height: 1.5
    font-weight: 400
    text-align: center
    margin-bottom: 10px
    position: relative

  &__img
    width: 100%
    height: 330px
    margin: 0 auto
    position: relative

    & img
      width: 475px
      height: 510px
      max-width: none
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      pointer-events: none

  &__description
    font-size: 14px
    line-height: 1.5
    font-weight: 400
    margin: 0 auto 40px
    position: relative

    & p
      margin: 0

  &__buttons
    display: flex
    flex-direction: column
    align-items: center
    position: relative

    & .button + .button
      margin-top: 20px

  /* special content styles for "empty" pages */
  &__empty .page-notification__img
    margin-bottom: 45px

  &__empty .page-notification__title
    margin-bottom: 25px

  /* special content styles for "form" pages */
  &__form .form__input
    margin-bottom: 20px



// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
@media all and (max-width: 1024px)
  .page-notification
    background-image: none
