// -----------------------------------------------
// Styles - for Pages
// -----------------------------------------------
.page
	padding 0 0 50px
	min-height 70vh
	background-color: var(--color-surface)



	/*  Главная страница */
	&-main
		padding 0 0 90px



	/* Заголовок с иконкой слева */
	&__title
		width: 100%
		min-height: 60px
		display: flex
		justify-content: flex-start
		align-items: center
		font-family: var(--font-secondary)
		font-size: 24px
		line-height: 30px
		text-align: left
		font-weight: 400
		text-transform: none
		padding-top: 35px
		margin-bottom: 35px

		&:before
			content: ""
			width: 57px
			height: 57px
			background-image: url("../img/backgrounds/games-section-title.png")
			background-size: contain
			background-repeat: no-repeat

	&__description
		font-size 18px
		line-height 1.5
		width 100%
		max-width 780px
		margin-bottom 25px

		&-link
			color: var(--primary-accent)
			text-decoration: underline

			&:hover
				text-decoration: none



	/* Шаблонная страница, на которой присутствует только форма */
	&-form
		display: flex
		justify-content: center
		text-align: center
		padding: 100px 0 165px



	/* Страницы Faq / About / Terms */
	&-article
		display: flex
		justify-content: center
		background-image: url("../img/backgrounds/half-page-bg.svg")
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		padding: 40px 0 80px



	/* Страницa Loyalty */
	&-loyalty
		display: flex
		justify-content: center
		padding: 50px 0 155px


	/* Страницa Faq */
	&-faq
		padding: 0 0 200px



	/* Страница с игрой */
	&-game
		padding 35px 0 100px



	/* Страницы Promo / News */
	&-news
		padding: 50px 0



	/* Страницы профиля */
	&-profile
		background-image: url("../img/backgrounds/half-page-bg.svg")
		background-size: cover
		background-repeat: no-repeat
		background-position: top center
		padding-top: 10px
		padding-bottom: 80px

		&__menu
			width: 100%
			max-width: 1920px
			flex-shrink: 0
			display flex
			align-items: center
			margin: 0 auto

		&__content
			width: 100%
			max-width: 1920px
			flex-shrink: 0
			margin: 0 auto

			&--user
				padding-top: 20px



	/* Страница bonuses missing */
	&-bonuses-missing
		min-height: 50vh
		background-color: #E4CD9A
		padding-top: 50px
		padding-bottom: 120px



	/* Страница error */
	&-error
		min-height: 50vh
		background-color: #E4CD9A
		padding-top: 15px
		padding-bottom: 80px



	/* Страница blocked */
	&-blocked
		min-height: 50vh
		background-color: $text-color-gray
		padding-top: 15px
		padding-bottom: 80px


	// ---------------------------------------------------------------------------
	/* half pages  / login & reg */
	&-half
		background-image: url("../img/backgrounds/half-page-bg.svg")
		background-size: cover
		background-repeat: no-repeat
		background-position: top center
		display: flex
		padding: 0

		& .container
			display: flex
			max-width: 1970px

		&--left,
		&--right
			flex-shrink: 0
			margin-top: 65px
			margin-bottom: 65px

		&--left
			width: calc(50% + 25px)
			min-height: 960px
			margin-left: -25px
			position: relative
			overflow: hidden

			& img
				max-width: none
				width: 960px
				height: auto
				position: absolute
				top: 0
				left: 50%
				transform: translateX(-50%)

		&--right
			width: calc(50% + 25px)
			padding-right: 100px

// -----------------------------------------------------------------------------
@media all and (max-width: 1440px)
	.page-half--right
		padding-right: 50px

	.page-news
		padding-top: 10px

// -----------------------------------------------------------------------------
@media all and (max-width: 1220px)
	.page-half
		&--left
			width: calc(50% - 10px)

		&--right
			padding-right: 15px

// -----------------------------------------------------------------------------
@media all and (max-width: 1024px)
	.page-half
		&--left
			display: none
		&--right
			width: 100%
			padding-right: 0
			margin-top: 55px
			margin-bottom: 55px

	.page-profile
		background-image: none

	.page-profile__menu
		display: none

// -----------------------------------------------------------------------------
@media all and (max-width: 768px)
	.page-half

		&--right
			margin-top: 55px
			margin-bottom: 55px

// -----------------------------------------------------------------------------
@media all and (max-width: 580px)
	.page-half
		&--right
			padding-left: 10px
			padding-right: 10px
			margin-top: 25px
			margin-bottom: 25px

	.page-profile__content--user
		padding-top: 0
